Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8-container:build, flake8, flake8 with new Dockerfile, flake8 for MRs with new Dockerfile, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  script:
  ...

flake8-container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  before_script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  script:
  ...

flake8:
  stage: Lint code
  image: registry.gitlab.com/project-march/march/flake8:$TAG
  script:
  - rm -f codeclimate.json
  - python3 -m flake8 --format=codeclimate --config .flake8 --output-file codeclimate.json
  - cat codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
  variables:
    TAG: main

flake8 with new Dockerfile:
  stage: Lint code
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH
  script:
  - rm -f codeclimate.json
  - python3 -m flake8 --format=codeclimate --config .flake8 --output-file codeclimate.json
  - cat codeclimate.json
  artifacts:
    reports:
      codequality: codeclimate.json
  variables:
  ...

flake8 for MRs with new Dockerfile:
  stage: Lint code
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
  script:
  - rm -f codeclimate.json
  - python3 -m flake8 --format=codeclimate --config .flake8 --output-file codeclimate.json
  - cat codeclimate.json
  artifacts:
    reports:
  ...

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

Actually use the subgait name variable
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 with new Dockerfile, flake8 for MRs with new Dockerfile, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix c++ dict syntax
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Move more logic to the .container_builder stage
  .gitlab-ci.yml
Due: none

Let test publisher use gait name over the frame id to transform to
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Use subgait name over gait name
  ros1/src/data/march_realsense_test_publisher/config/pointcloud_information.yaml
  ros1/src/data/march_realsense_test_publisher/include/realsense_test_publisher.h
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Removed the HAA movements of the fast and small walk.
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v6.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Changed the HAA v5 movements and gave the v6 a better description.
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_close/MVI_walk_leftclose_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/left_swing/MVI_walk_leftswing_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_close/MVI_walk_rightclose_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_open/MVI_walk_rightopen_v6.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v5.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/walk/right_swing/MVI_walk_rightswing_v6.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Extract common logic of ROS container build and flake8 container build stage into shared job definition
  .gitlab-ci.yml
Due: none

Add more comments to rules section of flake8 stage
  .gitlab-ci.yml
Due: none

Set rotation to z
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Transfer locatations to try to world frame
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Debug info for points
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Transform everything to world expept gait information
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Foot Locations transform to world
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/point_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Make parameter a node param instead of a rosparam
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/launch/hardware.launch
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add --no-cache option in flake8 Docker image
  .gitlab/images/Dockerfile_flake8
Due: flake8-container:build, flake8 with new Dockerfile, flake8 for MRs with new Dockerfile

Create file that builds clang-format image
  .gitlab/images/Dockerfile_clang_format
Due: none

Fix debug statement after merge
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format cpp
  ros1/src/data/march_realsense_test_publisher/src/realsense_test_publisher.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typo
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 with new Dockerfile, flake8 for MRs with new Dockerfile, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add warning if param is missing
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix format error
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove clang-format from regular Dockerfile
  Dockerfile
Due: container:build

Add variable comment for clang
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Change error level to fatal
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format'
  ros1/src/hardware/interface/march_hardware_builder/src/hardware_builder.cpp
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Change error to fatal level
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface_node.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix clang-tidy warning
  ros1/src/hardware/interface/march_hardware_builder/include/march_hardware_builder/hardware_builder.h
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Change list comparison to comparison with None
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 with new Dockerfile, flake8 for MRs with new Dockerfile, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Changes by black formatter
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/utilities/utility_functions.py
Due: flake8, flake8 with new Dockerfile, flake8 for MRs with new Dockerfile, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Start with stairs down variable and parameter calculation
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Write the clang-format stage with the help of 'rules' instead of 'only'
  .gitlab-ci.yml
Due: none

Add build stages that are based on generic builder jobs
  .gitlab-ci.yml
Due: none

Copied the files to the test_versions-vi directory.
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_v6.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v5.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_v6.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add the stairs down option to methods
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix y location for debug marker
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/include/utilities/point_utilities.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add stairs down to the get optimal footlocation from possible locations method
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix typo
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8-container:build: any of: .gitlab/images/Dockerfile_flake8
  flake8: any of: .flake8, **/*.py
  flake8 with new Dockerfile: any of: .gitlab/images/Dockerfile_flake8, .flake8, **/*.py
  flake8 for MRs with new Dockerfile: any of: .gitlab/images/Dockerfile_flake8, .flake8, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
