Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose

noetic:test for MRs:
  stage: Test code
  dependencies:
  - noetic:build for MRs
  needs:
  - noetic:build for MRs
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose

foxy:test for MRs:
  stage: Test code
  dependencies:
  - foxy:build for MRs
  needs:
  - foxy:build for MRs
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose

noetic:clang_tidy:
  stage: Static analysis on code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - find src -name '*.hpp' -or -name '*.h' -or -name '*.cpp' | grep -v "src/libraries" | grep -v "xsens" | xargs -L1 -P$(getconf _NPROCESSORS_ONLN) -I{} -- clang-tidy -p build {} 2> /dev/null

noetic:clang_tidy for MRs:
  stage: Static analysis on code
  dependencies:
  - noetic:build for MRs
  needs:
  - noetic:build for MRs
  script:
  - cd ros1/
  ...

Slow sit and stand gaits.
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_home/MVI_stand_home_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Format code
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Changes
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_interface/config/march6/controllers.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/shared/march_description/urdf/properties/march6.yaml
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Implement basic EdgePosition classes
  ros2/src/shared/march_utility/march_utility/gait/edge_position.py
  ros2/src/shared/march_utility/test/edge_position_test.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Make sure that the realsense stand is not available after realsense sit
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Version with strange bug
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/visualization/march_rqt_input_device/config/default.json
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update realsense gaits to include realsense sit and stand, also in rqt input
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

First working version with sit, missing validation on transition to realsense_stand
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add gait graph
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/shared/march_robot_information/march_robot_information/robot_information_node.py
  ros2/src/shared/march_utility/march_utility/gait/edge_position.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
  ros2/src/shared/march_utility/test/edge_position_test.py
  ros2/src/shared/march_utility/test/gait_graph_test.py
  ros2/src/shared/march_utility/test/resources/gait_graph_gaits/default.yaml
  ros2/src/shared/march_utility/test/resources/gait_graph_gaits/simple_gait/first/test_version.subgait
  ros2/src/shared/march_utility/test/resources/gait_graph_gaits/simple_gait/simple_gait.gait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

More reformatting
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/gait/edge_position.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change folder structure
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/dynamic_sit.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/dynamic_stand.gait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/prepare_stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/stand_up/MVI_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/__init__.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/balance_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/dynamic_edge_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/transition_subgait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/setup.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove wrong change in rqt input
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_controller.py
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add documentation and remove part of the logging
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/dynamic_edge_setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/gait/edge_position.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove returning 0.3 independent of request in realsense reader
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Rename can_be_scheduled_early for clarity:
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_interface.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Resolve flake8 warnings
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
  ros2/src/shared/march_utility/test/edge_position_test.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove normal sit gaits
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MIV_final.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Implement MR comments
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Update gaits to rounded versions
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_down/MVI_sit_down_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_down/MVI_sit_down_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_home/MVI_sit_home_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_sit/sit_home/MVI_sit_home_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/prepare_stand_up/MVI_prepare_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/prepare_stand_up/MVI_prepare_stand_up_low_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/stand_up/MVI_stand_up_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/dynamic_stand/stand_up/MVI_stand_up_low_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix tests
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/home_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_selection.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_gait_transition.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_semi_dynamic_gait.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_setpoints_gait.py
  ros2/src/shared/march_utility/march_utility/gait/edge_position.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait_graph.py
  ros2/src/shared/march_utility/test/edge_position_test.py
  ros2/src/shared/march_utility/test/gait_graph_test.py
  ros2/src/shared/march_utility/test/gait_test.py
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove comment
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove test code in realsense reader
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/setpoints_gait.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/test/gait_graph_test.py
  ros2/src/shared/march_utility/test/gait_test.py
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fix duplicate keys in gait files
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix bug with subgait validation being done before changing all subgaits
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix clang-tidy warning
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format using black
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use constant for initial start delay
  ros2/src/gaits/march_gait_selection/march_gait_selection/gaits/realsense_gait.py
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add image for noetic
  .gitlab-ci.yml
  .gitlab/images/Dockerfile_noetic
Due: none

Add image for foxy
  .gitlab/images/Dockerfile_foxy
Due: none

Add test and clang-tidy stage back to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add comment with link to gitlab yaml reference to .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add sit parameters
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add more sit parameters
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Debug changes
  ros1/src/hardware/interface/march_hardware/include/march_hardware/joint.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/imotioncube/imotioncube.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/motor_controller_state.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive.h
  ros1/src/hardware/interface/march_hardware/include/march_hardware/motor_controller/odrive/odrive_state.h
  ros1/src/hardware/interface/march_hardware/src/joint.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/imotioncube/imotioncube.cpp
  ros1/src/hardware/interface/march_hardware/src/motor_controller/odrive/odrive.cpp
  ros1/src/hardware/interface/march_hardware_builder/robots/march6.yaml
  ros1/src/hardware/interface/march_hardware_interface/src/march_hardware_interface.cpp
  ros2/src/shared/march_description/urdf/properties/march6.yaml
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Create fill sit grid method
  ros1/src/data/march_realsense_reader/config/pointcloud_parameters.cfg
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Fixing yaw problems
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros2/src/shared/march_description/urdf/march6.xacro
Due: noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add layout of sit method
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Moved the sit an stand gait files to airgait directory and default yaml.
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
  ros2/src/gaits/march_gait_files/airgait-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/prepare_sit_down/MVI_prepare_sit_down_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit.gait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MVI_sit_down_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MVI_sit_down_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_down/MVI_sit_down_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MVI_sit_home_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MVI_sit_home_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/sit/sit_home/MVI_sit_home_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/prepare_stand_up/MVI_prepare_stand_up_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand.gait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_home/MVI_stand_home_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_home/MVI_stand_home_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_home/MVI_stand_home_v3.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_up/MVI_stand_up_v1.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_up/MVI_stand_up_v2.subgait
  ros2/src/gaits/march_gait_files/airgait-vi/stand/stand_up/MVI_stand_up_v3.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Set v6 to the default version.
  ros2/src/gaits/march_gait_files/airgait-vi/default.yaml
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Finalize sit parameters logic
  ros1/src/data/march_realsense_reader/include/pointcloud_processor/parameter_determiner.h
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Path conditions:
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
