Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

container:build:
  stage: Build container
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

flake8:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

flake8 for MRs:
  stage: Lint code
  script:
  - python3 -m flakehell lint --suppress-none-returning --format=gitlab --output-file flakehell.json
  artifacts:
    reports:
      codequality: flakehell.json
  allow_failure: true
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

clang_format:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_COMMIT_BRANCH

clang_format for MRs:
  stage: Lint code
  script:
  - python3 .scripts/run-clang-format.py -r ros1/src ros2/src --style=file
  image: registry.gitlab.com/project-march/march:$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

noetic:build:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros1/build/
    - ros1/install/
    - ros1/log/
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

foxy:build for MRs:
  stage: Build code
  artifacts:
    paths:
    - ros2/build/
    - ros2/install/
    - ros2/log/
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && colcon build --cmake-args "-DCMAKE_EXPORT_COMPILE_COMMANDS=1" --event-handlers console_direct+
  ...

noetic:test:
  stage: Test code
  dependencies:
  - noetic:build
  needs:
  - noetic:build
  script:
  - cd ros1/
  - source /opt/ros/noetic/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

foxy:test:
  stage: Test code
  dependencies:
  - foxy:build
  needs:
  - foxy:build
  script:
  - cd ros2/
  - source /opt/ros/foxy/local_setup.bash && source install/local_setup.bash && colcon test --event-handlers console_direct+
  - colcon test-result --verbose
  ...

Add gait directory and (sub)gait names to interpolation function
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix for when disabling failures, step is still too low
  ros1/src/bridge/march_bridge_parameters/config/topics_services_to_bridge.yaml
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/shared/march_shared_msgs/CMakeLists.txt
  ros1/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_shared_msgs/CMakeLists.txt
  ros2/src/shared/march_shared_msgs/msg/Camera.msg
  ros2/src/shared/march_utility/march_utility/gait/gait.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/camera.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs, foxy:clang_tidy, foxy:clang_tidy for MRs

Remove some debugging and reset scheduler earlier
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/setpoints_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/trajectory_scheduler.py
  ros2/src/shared/march_utility/march_utility/gait/gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Remove old include
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
Due: clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Remove some of the logging
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use previously created subgaits to improve speed for 2D gait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add new images to rqt input device
  ros2/src/visualization/march_rqt_input_device/config/default.json
  ros2/src/visualization/march_rqt_input_device/resource/img/realsense_stairs_down.png
  ros2/src/visualization/march_rqt_input_device/resource/img/realsense_stairs_up.png
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix setting new obstacle size
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Fix tests and stopping when no parameters are found
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Improve amount of digits and run black
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Remove some logging
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Add interpolation debugging
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/duration.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Change all RealSense gaits to be a single class
  ros1/src/simulation/march_simulation/launch/march_world.launch
  ros2/src/gaits/march_gait_files/test_versions-vi/default.yaml
  ros2/src/gaits/march_gait_files/test_versions-vi/realsense_gaits.yaml
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/dimensions.py
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs

Also change setpoint precision in ros1 for consistency
  ros1/src/shared/march_shared_classes/src/march_shared_classes/gait/setpoint.py
  ros1/src/simulation/march_simulation/scripts/set_obstacle_dimensions
Due: flake8, flake8 for MRs, noetic:build, noetic:build for MRs, noetic:test, noetic:test for MRs

Format all code
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
  ros2/src/shared/march_utility/march_utility/utilities/dimensions.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Format using black
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix deadlock with new callback group
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix state machine when empty is returned
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add more comments and first steps to fix with new bug fix
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/shared/march_utility/march_utility/exceptions/gait_exceptions.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add some more comments
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/gait_selection.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Revert small change to subgait
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Reformat
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/parameter_determiner.cpp
  ros1/src/data/march_realsense_reader/src/pointcloud_processor/preprocessor.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros2/src/gaits/march_gait_selection/launch/gait_selection.launch.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
  ros2/src/gaits/march_gait_selection/test/nosetests/test_setpoints_gait.py
  ros2/src/march_launch/launch/march.launch.py
  ros2/src/march_launch/launch/march_simulation.launch.py
Due: flake8, flake8 for MRs, clang_format, clang_format for MRs, noetic:build, noetic:build for MRs, foxy:build, foxy:build for MRs, noetic:test, noetic:test for MRs, foxy:test, foxy:test for MRs, noetic:clang_tidy, noetic:clang_tidy for MRs

Small fix from MR comment
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Improve 2 comments
  ros2/src/gaits/march_gait_selection/march_gait_selection/dynamic_gaits/realsense_gait.py
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add debug statements
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Set setpoint precision to its old precision of 4 decimals
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix start points of the gait used for testing
  ros2/src/gaits/march_gait_files/test_versions-vi/single_step_normal/left_close/MIV_final.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Set setpoint precision to 8 again
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix debug message
  ros2/src/shared/march_utility/march_utility/gait/subgait.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Also change the almost equal positions in test_versions-vi
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_down/right_open/MVI_RD_slopedown_rightopen_flat_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/left_close/MVI_RD_slopeup_leftclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_close/MVI_RD_slopeup_rightclose_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/ramp_door_slope_up/right_open/MVI_RD_slopeup_rightopen_steep_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/left_close/MVI_stairsdown_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_close/MVI_stairsdown_rightclose_haa_adpf_v3.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_down/right_open/MVI_stairsdown_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_ankle_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_high_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_large/right_open/MVI_walklarge_rightopen_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/left_close/MVI_walksmall_leftclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_close/MVI_walksmall_rightclose_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk_small/right_open/MVI_walksmall_rightopen_v1.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add copy of versions to stairs up for working with gait version tool
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_close/MVI_stairsup_leftclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/left_swing/MVI_stairsup_leftswing_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_close/MVI_stairsup_rightclose_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_swing/MVI_stairsup_rightswing_low_undeep.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Also fix the almost equal simulation_only-vi gaits
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_haa.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/backward_swing_velocity.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_down/forward_swing_velocity.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_haa.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/backward_swing_velocity.subgait
  ros2/src/gaits/march_gait_files/simulation_only-vi/ik_test_multiple_subgaits/swing_up/forward_swing_velocity.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Also fix the almost equal test files
  ros2/src/shared/march_utility/test/resources/ik_test/swing/backward_swing.subgait
  ros2/src/shared/march_utility/test/resources/ik_test/swing/forward_swing.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Add shutdown position to airgait-v
  ros2/src/gaits/march_gait_files/airgait-v/default.yaml
  ros2/src/visualization/march_rqt_input_device/config/default.json
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix start positions of stairs up gaits
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_high_undeep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_deep.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/stairs_up/right_open/MVI_stairsup_rightopen_low_undeep.subgait
Due: foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Use variable precision
  ros2/src/shared/march_utility/march_utility/exceptions/general_exceptions.py
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/joint_trajectory.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Continue work
  ros2/src/shared/march_utility/march_utility/foot_classes/feet_state.py
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Improve work
  ros2/src/shared/march_utility/march_utility/foot_classes/foot.py
  ros2/src/shared/march_utility/march_utility/gait/setpoint.py
  ros2/src/shared/march_utility/test/setpoint_test.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix march rqt robot monitor
  ros2/src/visualization/march_rqt_robot_monitor/config/analyzers.yaml
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/diagnostic_analyzers/motor_controller_state.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Fix input device in march monitor
  ros2/src/visualization/march_rqt_input_device/march_rqt_input_device/input_device_view.py
  ros2/src/visualization/march_rqt_robot_monitor/march_rqt_robot_monitor/updater.py
Due: flake8, flake8 for MRs, foxy:build, foxy:build for MRs, foxy:test, foxy:test for MRs

Path conditions:
  container:build: any of: Dockerfile
  flake8: any of: pyproject.toml, **/*.py
  flake8 for MRs: any of: pyproject.toml, **/*.py
  clang_format: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  clang_format for MRs: any of: ros1/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}, ros2/**/*.{c,h,C,H,cpp,hpp,cc,hh,c++,h++,cxx,hxx}
  noetic:build: any of: ros1/**/*, .clang-tidy
  noetic:build for MRs: any of: ros1/**/*, .clang-tidy
  foxy:build: any of: ros2/**/*, .clang-tidy
  foxy:build for MRs: any of: ros2/**/*, .clang-tidy
  noetic:test: any of: ros1/**/*
  noetic:test for MRs: any of: ros1/**/*
  foxy:test: any of: ros2/**/*
  foxy:test for MRs: any of: ros2/**/*
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  noetic:clang_tidy for MRs: any of: ros1/**/*.{hpp,h,cpp}, ros1/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
  foxy:clang_tidy for MRs: any of: ros2/**/*.{hpp,h,cpp}, ros2/**/CMakeLists.txt, .clang-tidy
