Repository project-march/ProjectMarch: changes, and which GitLab CI jobs are due for each by the changed paths.
All: container:build, noetic:clang_tidy, foxy:clang_tidy

Path conditions:
  container:build: any of: Dockerfile
  noetic:clang_tidy: any of: ros1/**/*.{hpp,h,cpp}
  foxy:clang_tidy: any of: ros2/**/*.{hpp,h,cpp}

Adding finishing touches and debug message
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: none

Applying flakehell lint suggestions
  ros2/src/gaits/march_gait_selection/march_gait_selection/state_machine/gait_state_machine.py
Due: none

Small change to move to dimensions of first design by Martiny
  ros2/src/shared/march_description/urdf/march4.xacro
  ros2/src/shared/march_description/urdf/march4_with_koen_lengths.xacro
Due: none

Apply 1 suggestion(s) to 1 file(s)
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Change to QInputDialog
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_input.py
Due: none

Move halved_upper_leg_length_ to the class
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Refactor getGoalPosition and fix the exoponential smoothing
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Change ADPF and HAA gaits to ROM of Koen
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_close/MVI_walk_leftclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/left_swing/MVI_walk_leftswing_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_close/MVI_walk_rightclose_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_open/MVI_walk_rightopen_haa_adpf_v2.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v1.subgait
  ros2/src/gaits/march_gait_files/test_versions-vi/walk/right_swing/MVI_walk_rightswing_haa_adpf_v2.subgait
Due: none

Fix functionality of the controller
  ros1/src/simulation/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Change freeze check to check for not frozen rather then frozen
  ros1/src/simulation/march_gazebo_plugins/src/obstacle_controller.cpp
Due: noetic:clang_tidy

Adding comments about the safety_controller
  ros2/src/shared/march_description/urdf/test_joint_rotational_mpc.xacro
Due: none

Supress two warnings
  .gitlab-ci.yml
  pyproject.toml
Due: none

Fix typo
  .gitlab-ci.yml
  pyproject.toml
Due: none

Applying suggestions
  ros1/src/control/march_acado_mpc/include/model_predictive_controller.hpp
  ros1/src/control/march_acado_mpc/src/joint_trajectory_mpc.cpp
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Remove accidental newline
  .gitlab-ci.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  ros1/src/control/march_acado_mpc/src/model_predictive_controller.cpp
Due: noetic:clang_tidy

Removing gains in controller config file
  ros1/src/simulation/march_simulation/config/model_predictive_control/test_joint_rotational_mpc.yaml
Due: none

Finnish buttons
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Remove debug statements
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Refactor and remove debug statement
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Implement tranformation of coordinate system and start calculation setpoints
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Add ARG DEBIAN_FRONTEND=noninteractive to Dockerfile for non-interactive mode
  .scripts/generate_dockerfile.sh
  Dockerfile
Due: container:build

Fix setpoints adding logic
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: none

Add basic pointcloud subscription
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/launch/realsense_reader.launch
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/data/march_realsense_reader/src/realsense_reader_node.cpp
Due: noetic:clang_tidy

Add service to start reading and add reader to launch files
  ros1/src/data/march_realsense_reader/include/march_realsense_reader/realsense_reader.h
  ros1/src/data/march_realsense_reader/package.xml
  ros1/src/data/march_realsense_reader/src/realsense_reader.cpp
  ros1/src/march_launch/launch/march.launch
  ros1/src/march_launch/launch/march_simulation.launch
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
Due: noetic:clang_tidy

Install pcl from cmake instead
  ros1/src/data/march_realsense_reader/CMakeLists.txt
  ros1/src/data/march_realsense_reader/package.xml
Due: none

Uncomment pcl dependencies
  ros1/src/data/march_realsense_reader/package.xml
Due: none

Update dockerfile for new dependencies
  Dockerfile
Due: container:build

Remove debug statement from CMakeLists
  ros1/src/data/march_realsense_reader/CMakeLists.txt
Due: none

Readd gazebo dependency in march_gazebo_plugins
  ros1/src/simulation/march_gazebo_plugins/CMakeLists.txt
Due: none

Remove optimizing arguments for kaniko
  .gitlab-ci.yml
Due: none

Temporarily also build container when .gitlab-ci.yml changed
  .gitlab-ci.yml
Due: none

Manually add flake8 dependencies due to problem with the script
  Dockerfile
Due: container:build

Use better command to create a flake8 plugin list
  .scripts/generate_dockerfile.sh
Due: none

Delete unused files
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input.ui
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_dialogue.ui
  ros1/src/gaits/march_rqt_gait_generator/resource/inverse_kinematics_setpoints_input_mainwindow.ui
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_input.py
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/inverse_kinematics_setpoints_view.py
Due: none

Add time constraint
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none

Remove old setpoints when it has the same time as the new setpoint
  ros1/src/gaits/march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: none
