Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

small fix and change pop up size
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/parametric_pop_up.py
Due: production

Made stairs down single step based on v9 stairs down gait.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_down_single_step/left_close/MV_stairsdown_single_leftclose_v4.subgait
  march_gait_files/airgait-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v4.subgait
Due: none

Set ramp down v6 default
  march_gait_files/airgait-v/default.yaml
Due: none

start of march_moveit tutorials
  doc/march_packages/march_moveit.rst
  index.rst
Due: none

update gait selection package with balance walk gait
  doc/march_packages/march_gait_selection.rst
  doc/march_packages/march_moveit.rst
Due: none

Made single step small right open faster
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/single_step_small/left_close/MIV_final.subgait
  march_gait_files/airgait-v/single_step_small/right_open/MIV_final_v2.subgait
  march_gait_files/airgait-v/single_step_small/single_step_small.gait
Due: none

Six steps for ramp down
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing_1/MV_RD_slopedown_fixed_leftswing1_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing_1/MV_RD_slopedown_fixed_leftswing1_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing_2/MV_RD_slopedown_fixed_leftswing2_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing_2/MV_RD_slopedown_fixed_leftswing2_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/ramp_door_slope_down_fixed.gait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing_1/MV_RD_slopedown_fixed_rightswing1_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing_1/MV_RD_slopedown_fixed_rightswing1_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing_2/MV_RD_slopedown_fixed_rightswing2_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing_2/MV_RD_slopedown_fixed_rightswing2_v2.subgait
Due: none

Right defaults for training
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/ramp_door_slope_down/left_close/MV_RD_slopedown_leftclose_v6.subgait
  march_gait_files/training-v/ramp_door_slope_down/left_open/MV_RD_slopedown_leftopen_v6.subgait
  march_gait_files/training-v/ramp_door_slope_down/left_swing/MV_RD_slopedown_leftswing_v6.subgait
  march_gait_files/training-v/ramp_door_slope_down/right_close/MV_RD_slopedown_rightclose_v6.subgait
  march_gait_files/training-v/ramp_door_slope_down/right_open/MV_RD_slopedown_rightopen_v6.subgait
  march_gait_files/training-v/ramp_door_slope_down/right_swing/MV_RD_slopedown_rightswing_v6.subgait
  march_gait_files/training-v/ramp_door_slope_down_single/left_close/MV_RD_slopedownsingle_leftclose_v2.subgait
  march_gait_files/training-v/ramp_door_slope_down_single/right_open/MV_RD_slopedownsingle_rightopen_v2.subgait
  march_gait_files/training-v/ramp_door_slope_up/left_close/MV_RD_slopeup_leftclose_v4.subgait
  march_gait_files/training-v/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v4.subgait
  march_gait_files/training-v/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v4.subgait
  march_gait_files/training-v/ramp_door_slope_up/right_close/MV_RD_slopeup_rightclose_v4.subgait
  march_gait_files/training-v/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v4.subgait
  march_gait_files/training-v/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v4.subgait
  march_gait_files/training-v/stairs_down/left_close/MV_stairsdown_leftclose_v9.subgait
  march_gait_files/training-v/stairs_down/left_swing/MV_stairsdown_leftswing_v9.subgait
  march_gait_files/training-v/stairs_down/right_close/MV_stairsdown_rightclose_v9.subgait
  march_gait_files/training-v/stairs_down/right_open/MV_stairsdown_rightopen_v9.subgait
  march_gait_files/training-v/stairs_down/right_swing/MV_stairsdown_rightswing_v9.subgait
  march_gait_files/training-v/stairs_down_single_step/left_close/MV_stairsdown_single_leftclose_v4.subgait
  march_gait_files/training-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v4.subgait
Due: none

Fix typo and ending setpoint velocity
  march_gait_files/airgait-v/single_step_small/single_step_small.gait
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/single_step_small/right_open/MIV_final_v2.subgait
Due: none

Add to training-v
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/ramp_door_slope_down_fixed/left_close/MV_RD_slopedown_fixed_leftclose_v1.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/left_close/MV_RD_slopedown_fixed_leftclose_v2.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/left_swing_1/MV_RD_slopedown_fixed_leftswing1_v1.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/left_swing_1/MV_RD_slopedown_fixed_leftswing1_v2.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/left_swing_2/MV_RD_slopedown_fixed_leftswing2_v1.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/left_swing_2/MV_RD_slopedown_fixed_leftswing2_v2.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/ramp_door_slope_down_fixed.gait
  march_gait_files/training-v/ramp_door_slope_down_fixed/right_open/MV_RD_slopedown_fixed_rightopen_v1.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/right_open/MV_RD_slopedown_fixed_rightopen_v2.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/right_swing_1/MV_RD_slopedown_fixed_rightswing1_v1.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/right_swing_1/MV_RD_slopedown_fixed_rightswing1_v2.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/right_swing_2/MV_RD_slopedown_fixed_rightswing2_v1.subgait
  march_gait_files/training-v/ramp_door_slope_down_fixed/right_swing_2/MV_RD_slopedown_fixed_rightswing2_v2.subgait
Due: none

Fix swing subgait names
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing_1/MV_RD_slopedown_fixed_leftswing1_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing_1/MV_RD_slopedown_fixed_leftswing1_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing_1/MV_RD_slopedown_fixed_rightswing1_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing_1/MV_RD_slopedown_fixed_rightswing1_v2.subgait
Due: none

Walk open and close faster default
  march_gait_files/training-v/default.yaml
Due: none

update values in march4.yaml
  march_hardware_builder/robots/march4.yaml
Due: none

Replace controller spawner for manager
  march_simulation/launch/march_world.launch
Due: none

Create a watchdog header with the corresponding necessary functions.
  march_hardware/include/march_hardware/ethercat/ethercat_watchdog.h
Due: none

Create all the watchdog function in the source file.
  march_hardware/src/ethercat/ethercat_watchdog.cpp
Due: production

Update the CMakeLists.txt of the march hardware interface to handle the ethercat watchdog.
  march_hardware/CMakeLists.txt
Due: none

Removed the separate watchdog class.
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/ethercat/ethercat_watchdog.h
  march_hardware/src/ethercat/ethercat_watchdog.cpp
Due: production

Created a time variable which is updated every ecat cycle and cross checked.
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/march_robot.cpp
  march_hardware_builder/robots/march4.yaml
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Make empty subgait the standing position
  march_rqt_gait_generator/resource/standing.subgait
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

throw new error when slave timout elapsed and fixed tests
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/src/error/error_type.cpp
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware_builder/robots/march4.yaml
  march_hardware_builder/robots/test_joint_linear.yaml
Due: production

Made a separate slalom walk gait
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/slalom_walk/left_close/MIV_final.subgait
  march_gait_files/airgait-v/slalom_walk/left_swing/MIV_final.subgait
  march_gait_files/airgait-v/slalom_walk/right_close/MIV_final.subgait
  march_gait_files/airgait-v/slalom_walk/right_open/MIV_final.subgait
  march_gait_files/airgait-v/slalom_walk/right_swing/MIV_final.subgait
  march_gait_files/airgait-v/slalom_walk/slalom_walk.gait
Due: none

Add slalom walk button to monitor IPD
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Remove empty subgait method and import it from file instead
  march_rqt_gait_generator/resource/empty_gait/empty_subgait/empty_subgait.subgait
  march_rqt_gait_generator/resource/standing.subgait
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
  march_rqt_gait_generator/test/resources/empty_gait/empty_subgait/empty_subgait.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
Due: production, test

use .ui file
  march_rqt_gait_selection/resource/gait_selection.ui
  march_rqt_gait_selection/resource/parametric_pop_up.ui
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/parametric_pop_up.py
Due: production

fix bug and tooltips
  march_rqt_gait_selection/resource/parametric_pop_up.ui
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/parametric_pop_up.py
Due: production

Stairs up right_open to v15
  march_gait_files/airgait-v/default.yaml
  march_gait_files/training-v/default.yaml
Due: none

Have balance right open start with ankle dorsiflexion for forward momentum
  march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v5_4.subgait
  march_gait_files/minimal/balance_walk/right_open_2/MV_balancewalk_rightopen2_v5_2.subgait
  march_gait_files/minimal/default.yaml
Due: none

Change standing from ModifiableSubgait to Subgait
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Removed the march_rqt_software_check package
  march_rqt_software_check/CMakeLists.txt
  march_rqt_software_check/launch/checks/git_branch.launch
  march_rqt_software_check/launch/checks/slave_count.launch
  march_rqt_software_check/launch/march_rqt_software_check.launch
  march_rqt_software_check/package.xml
  march_rqt_software_check/plugin.xml
  march_rqt_software_check/resource/img/march-walking.png
  march_rqt_software_check/resource/software_check.ui
  march_rqt_software_check/scripts/march_git_branch_check
  march_rqt_software_check/scripts/march_rqt_software_check
  march_rqt_software_check/setup.py
  march_rqt_software_check/src/march_rqt_software_check/__init__.py
  march_rqt_software_check/src/march_rqt_software_check/check_runner.py
  march_rqt_software_check/src/march_rqt_software_check/checks/__init__.py
  march_rqt_software_check/src/march_rqt_software_check/checks/gait_file_directory_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/git_branch_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/launch_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/slave_count_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/software_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/urdf_check.py
  march_rqt_software_check/src/march_rqt_software_check/color.py
  march_rqt_software_check/src/march_rqt_software_check/software_check.py
  march_rqt_software_check/src/march_rqt_software_check/software_check_thread.py
Due: production

Remove software check docs (#152)
  doc/march_packages/images/adding-a-check.gif
  doc/march_packages/images/march_rqt_software_check.png
  doc/march_packages/march_rqt_software_check.rst
  index.rst
Due: none

finish tutorials on gait_selection package
  doc/march_packages/march_gait_selection.rst
  doc/march_packages/march_moveit.rst
  index.rst
Due: none

implement small fixes
  doc/march_packages/march_moveit.rst
Due: none

remove march_gait_selection from index at wrong place
  index.rst
Due: none

Apply suggestions from code review
  march_rqt_gait_selection/resource/parametric_pop_up.ui
Due: none

enlarge pop up and small changes
  march_rqt_gait_selection/resource/parametric_pop_up.ui
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Slalom walk to training-v
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/slalom_walk/left_close/MIV_final.subgait
  march_gait_files/training-v/slalom_walk/left_swing/MIV_final.subgait
  march_gait_files/training-v/slalom_walk/right_close/MIV_final.subgait
  march_gait_files/training-v/slalom_walk/right_open/MIV_final.subgait
  march_gait_files/training-v/slalom_walk/right_swing/MIV_final.subgait
  march_gait_files/training-v/slalom_walk/slalom_walk.gait
Due: none

Stairs up back to v15a
  march_gait_files/training-v/default.yaml
Due: none

Default gait type to walk_like after import
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Apply suggestions from code review
  doc/march_packages/march_gait_selection.rst
  doc/march_packages/march_moveit.rst
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
