Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Try to fix CMakeLists #1
  march_gazebo_plugins/CMakeLists.txt
Due: none

Try to fix CMakeLists #2
  march_gazebo_plugins/CMakeLists.txt
Due: none

Created new versions of the TP right knee bend
  march_gait_files/airgait-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v8.subgait
  march_gait_files/airgait-v/tilted_path_right_knee_bend/tilted_path_right_knee_bend.gait
Due: none

Try to fix CMakeLists #3
  march_gazebo_plugins/CMakeLists.txt
Due: none

Add Tilted Path right single step gait version 4, 5, 6, 7 and 8.
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v8.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v5.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v6.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v7.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v8.subgait
Due: none

change to writing 32 bits
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware_builder/robots/test_joint_rotational.yaml
Due: production

Add Tilted Path right knee bend button.
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Copy Tilted Path right knee bend v4-8 to test_versions-v.
  march_gait_files/test_versions-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_right_knee_bend/right_open/MV_TP_right_kneebend_rightopen_v8.subgait
  march_gait_files/test_versions-v/tilted_path_right_knee_bend/tilted_path_right_knee_bend.gait
Due: none

remove unnecessary imports
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
Due: test

removal of comment line
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Update march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

convert to use of string
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

Update march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
Due: none

Made the new versions of the TP right straight start. They are placed in test_versions-v and airgait-v folder.
  march_gait_files/airgait-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v8.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v4.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v5.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v6.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v7.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v8.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v8.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v5.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v6.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v7.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v8.subgait
Due: none

Errased the python/unicode text in line 1 in these subgait files.
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v7.subgait
Due: none

Try to fix CMakeLists #4
  march_gazebo_plugins/CMakeLists.txt
Due: none

big boy commits
  march_hardware/src/IMotionCube.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Set the elapsed time in the control loop to 4ms minimum
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

added docstring to clarify computeSWChecksum method and changed returntype of the method for comparisson to result of 32bit read functions
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
Due: production

Make constant parameter const
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

fix the download function, only need to fix the reset of the imc
  march_hardware/src/IMotionCube.cpp
Due: production

added exceptio to computeSWchecksum
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/error/error_type.cpp
Due: production

remove rhj
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

remove rhj function
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Change log files storage documentation and update rqt_input_device picture
  doc/march_packages/images/march_rqt_input_device.png
  doc/march_packages/images/march_rqt_launch_menu.png
Due: none

update log file storage documentation and update picture rqt_input_device_menu
  doc/march_packages/images/march_rqt_input_device.png
  doc/using_the_march_exoskeleton/log_files.rst
Due: none

Remove joint_names_
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Move registering interfaces to after actuation
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Remove using march Joint
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

shortened the explanation for checksum method
  march_hardware/include/march_hardware/IMotionCube.h
Due: none

add velocity to PDO and to iMC msg
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/IMotionCubeState.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/PDOmap.cpp
  march_hardware/src/encoder/Encoder.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add reset arguments to relevant methods as well as reset return values to reset the drive when downloading has finished
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware_builder/robots/test_joint_rotational.yaml
Due: production

Add Tilted Path right straight and and set v5 default for all TP right gaits.
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v5.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v6.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v7.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v8.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v8.subgait
Due: none

Fix setpoint.
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v8.subgait
Due: none

Fix setpoint.
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v7.subgait
Due: none

Replace returning interface with returning robot
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Fix setpoint.
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v5.subgait
Due: none

Remove cloudstation section
  doc/using_the_march_exoskeleton/log_files.rst
Due: none
