Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

improve language and fix build
  doc/march_packages/march_data_collector.rst
Due: none

Update march_hardware/src/EtherCAT/EthercatSDO.cpp
  march_hardware/src/EtherCAT/EthercatSDO.cpp
Due: production

changed another small copy paste artifact
  march_hardware/src/EtherCAT/EthercatSDO.cpp
Due: production

Removed blank lines.
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
  march_hardware_interface/launch/hardware.launch
Due: production

Update doc/march_packages/march_data_collector.rst
  doc/march_packages/march_data_collector.rst
Due: none

Fix capital letter mistake and other small errors
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Added and replaced more images.
  march_rqt_input_device/resource/img/gait_ramp_door_last_step.png
  march_rqt_input_device/resource/img/gait_ramp_door_slope_down.png
  march_rqt_input_device/resource/img/gait_ramp_door_slope_up.png
  march_rqt_input_device/resource/img/gait_rough_terrain_first_middle_step.png
  march_rqt_input_device/resource/img/gait_rough_terrain_second_middle_step.png
  march_rqt_input_device/resource/img/gait_rough_terrain_third_middle_step.png
  march_rqt_input_device/resource/img/gait_slope_down.png
  march_rqt_input_device/resource/img/gait_slope_down_final_step.png
  march_rqt_input_device/resource/img/gait_slope_up.png
  march_rqt_input_device/resource/img/gait_sofa_sit.png
  march_rqt_input_device/resource/img/gait_sofa_stand.png
  march_rqt_input_device/resource/img/gait_sofa_stand_up.png
  march_rqt_input_device/resource/img/gait_stand.png
  march_rqt_input_device/resource/img/gait_tilted_path_left_straight_end.png
  march_rqt_input_device/resource/img/gait_tilted_path_left_straight_start.png
  march_rqt_input_device/resource/img/gait_tilted_path_right_straight_end.png
  march_rqt_input_device/resource/img/gait_tilted_path_right_straight_start.png
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

More descriptive naming and constant use of the 'this' pointer.
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
Due: production

change pointers to references and added docstrings to clarify use of the function.
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
  march_hardware/src/EtherCAT/EthercatSDO.cpp
Due: production

Make getters const and use ASSERT_DOUBLE_EQ
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/encoder/TestIncrementalEncoder.cpp
Due: production, test

change pointers to references and added docstrings to clarify use of the function.
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
Due: none

Use diplacement instead of velocity
  march_hardware/src/Joint.cpp
  march_hardware/test/TestJoint.cpp
Due: production, test

Added page reference to IU_CONVERSION_CONST
  march_hardware/src/IMotionCube.cpp
Due: production

seperate information on pressure soles from data_collector package
  doc/march_packages/march_data_collector.rst
  doc/using_the_march_exoskeleton/using_the_pressure_soles.rst
  index.rst
Due: none

Update software stack diagram
  doc/using_the_march_exoskeleton/high_level_overview.rst
  doc/using_the_march_exoskeleton/images/high_level_architecture.svg
  doc/using_the_march_exoskeleton/images/software_stack.png
Due: none

Move docstrings to .h file
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
  march_hardware/src/EtherCAT/EthercatSDO.cpp
Due: production

Added test two verify that the function is called properly.
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/Joint.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware_interface/launch/hardware.launch
Due: production, test

Fix fonts and rename gait to subgait
  doc/using_the_march_exoskeleton/images/high_level_architecture.svg
Due: none

Removed faulty grammar and updated the links in the topics.
  doc/march_packages/march_gait_selection.rst
Due: none

Fix font for real
  doc/using_the_march_exoskeleton/images/high_level_architecture.svg
Due: none

Add new versions of Tilted Path single steps corresponding to versions of left_knee_bend.
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v3.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v3.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v7.subgait
Due: none

Delete Tilted Path right gaits from training-v, as these versions will not be used (will make new ones).
  march_gait_files/training-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_single_step/tilted_path_right_single_step.gait
  march_gait_files/training-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_end/tilted_path_right_straight_end.gait
  march_gait_files/training-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_start/tilted_path_right_straight_start.gait
Due: none

Add documentation on ESP to seperate file
  CMakeLists.txt
  doc/march_packages/march_data_collector.rst
  doc/useful_tools/event_stream_processing.rst
  doc/useful_tools/gazebo.rst
  doc/useful_tools/images/example_ros_bag.png
  doc/useful_tools/images/gazebo.png
  doc/useful_tools/images/rqt_perspective.png
  doc/useful_tools/images/smach.png
  doc/useful_tools/launch/robot_model.launch
  doc/useful_tools/robot_model.rst
  doc/useful_tools/ros_bag.rst
  doc/useful_tools/ros_control.rst
  doc/useful_tools/rqt.rst
  doc/useful_tools/smach.rst
  index.rst
Due: none

Remove TP straight left v3 gaits, as we have tested them and they do not work.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v3.subgait
  march_gait_files/training-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v3.subgait
  march_gait_files/training-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v3.subgait
  march_gait_files/training-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v3.subgait
  march_gait_files/training-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v3.subgait
Due: none

Format svg
  doc/using_the_march_exoskeleton/images/high_level_architecture.svg
Due: none

Updated the reset SDO function.
  march_hardware/src/IMotionCube.cpp
Due: production

fix build
  doc/useful_tools/robot_model.rst
Due: none

Added some small information.
  doc/march_packages/march_gait_selection.rst
Due: none

implement PR feedback
  doc/march_packages/march_data_collector.rst
  doc/useful_tools/event_stream_processing.rst
  doc/using_the_march_exoskeleton/using_the_pressure_soles.rst
  index.rst
Due: none

Add new version of straight start, corresponding to left_single_step_v4.
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v0.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v4.subgait
Due: none

Fixed typo in default.
  march_gait_files/test_versions-v/default.yaml
Due: none

Changed the format to match the already existing tutorials.
  doc/march_packages/march_gait_selection.rst
Due: none

Add two new images, for the TP single step left and right.
  march_rqt_input_device/resource/img/gait_tilted_path_left_single_step.png
  march_rqt_input_device/resource/img/gait_tilted_path_right_single_step.png
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production
