Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fix clang
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

remove method that slipped trough merge conflicts
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Feature/pm 308 velocity using incremental encoder (#234)
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/encoder/IncrementalEncoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/encoder/IncrementalEncoder.cpp
  march_hardware/test/encoder/TestIncrementalEncoder.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Fix external links to march_launch files
  doc/march_packages/march_launch.rst
Due: none

Moved all new tilted path gaits to the airgait-v folder
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/tilted_path_right_flexed_knee_step/left_open/MV_TP_right_flexed_knee_step_leftopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_flexed_knee_step/right_close/MV_TP_right_flexed_knee_step_rightclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_flexed_knee_step/tilted_path_right_flexed_knee_step.gait
  march_gait_files/airgait-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/tilted_path_right_single_step.gait
  march_gait_files/airgait-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/tilted_path_right_straight_end.gait
  march_gait_files/airgait-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_start/tilted_path_right_straight_start.gait
Due: none

Add version 2 to airgait-v.
  march_gait_files/airgait-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v2.subgait
Due: none

Moved new Tilted Path gaits to training-v.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v2.subgait
  march_gait_files/training-v/tilted_path_right_flexed_knee_step/left_open/MV_TP_right_flexed_knee_step_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_flexed_knee_step/right_close/MV_TP_right_flexed_knee_step_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_flexed_knee_step/tilted_path_right_flexed_knee_step.gait
  march_gait_files/training-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_single_step/tilted_path_right_single_step.gait
  march_gait_files/training-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_end/tilted_path_right_straight_end.gait
  march_gait_files/training-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_straight_start/tilted_path_right_straight_start.gait
Due: none

use std:: namespace and rename to joint_last_effort_command
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add custom exceptions for robot (PM-318)
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/src/MarchRobot.cpp
  march_hardware/src/error/error_type.cpp
Due: production

Add custom exceptions for joint (PM-319)
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/error/error_type.cpp
Due: production

Add custom exception for Slave (PM-320)
  march_hardware/include/march_hardware/Slave.h
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/src/error/error_type.cpp
Due: production

Multiple possibilities to filter outliers
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add and fix tests
  march_hardware/CMakeLists.txt
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/TestSlave.cpp
  march_hardware/test/TestTemperatureGES.cpp
Due: test

Add error codes for encoder errors
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Add new error codes
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Update march_hardware/src/Joint.cpp
  march_hardware/src/Joint.cpp
Due: production

Combine encoders for better position and removal of outliers
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/encoder/AbsoluteEncoder.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/include/march_hardware/encoder/IncrementalEncoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/encoder/AbsoluteEncoder.cpp
  march_hardware/src/encoder/IncrementalEncoder.cpp
  march_hardware/test/mocks/MockEncoder.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Combine encoders for better position and removal of outliers
  march_rqt_gait_generator/test/rostests/gait_generator_controller_test
Due: test

Fix todo and refactor
  march_pdb_state_controller/include/march_pdb_state_controller/march_pdb_state_controller.h
  march_pdb_state_controller/src/march_pdb_state_controller.cpp
Due: production

Fix name of file
  march_gait_files/training-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v1.subgait
Due: none

Upgrade CMake to version 3.10.2
  march_fake_sensor_data/CMakeLists.txt
  march_fake_sensor_data/package.xml
  march_gazebo_plugins/CMakeLists.txt
  march_simulation/CMakeLists.txt
Due: none

Ignore missing catkin include
  .travis.yml
Due: none

Move velocity and position calculation to Joint class
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix clang-tidy
  march_pdb_state_controller/src/march_pdb_state_controller.cpp
Due: production

Fix bug and remove unused methods
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
  march_hardware/src/encoder/AbsoluteEncoder.cpp
  march_hardware/src/encoder/IncrementalEncoder.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
Due: production

Fix test
  march_hardware/test/encoder/TestIncrementalEncoder.cpp
Due: test

Remove TODO (#239)
  march_hardware/src/Joint.cpp
Due: production

Add march_fake_sensor_data documentation (fixes #44) (#116)
  doc/march_packages/march_fake_sensor_data.rst
  index.rst
Due: none

Move documentation to march_tutorials package (#49)
  doc.sh
  march_fake_sensor_data/docs/Doxyfile
  march_fake_sensor_data/docs/pages/mainpage.dox
Due: none

Add v3 of Tilted Path left straight start right open, with more hip flexion.
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v3.subgait
Due: none

Add v3 of Tilted Path left straight start right open to airgait-v.
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v3.subgait
Due: none

Add a gait that bends the left knee for the Tilted Path.
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/tilted_path_left_knee_bend.gait
Due: none

Add new TP gait to default.
  march_gait_files/airgait-v/default.yaml
Due: none

Add new tilted path gait to input device.
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Add new tilted path gait to training-v.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_left_knee_bend/tilted_path_left_knee_bend.gait
Due: none

Update doc/using_the_march_exoskeleton/error_codes.rst
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Added three new versions of left knee bend.
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v2.subgait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v3.subgait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v4.subgait
Due: none

Fix python zooi.
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v2.subgait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v3.subgait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v4.subgait
Due: none

Move new versions of left knee bend to training-v.
  march_gait_files/training-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v2.subgait
  march_gait_files/training-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v3.subgait
  march_gait_files/training-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v4.subgait
Due: none

Add v3 of TP left single step and straight end that correspond with left knee bend v3.
  march_gait_files/training-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v3.subgait
  march_gait_files/training-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v3.subgait
  march_gait_files/training-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v3.subgait
  march_gait_files/training-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v3.subgait
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
