Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Disable save button when there is nothing to save
  march_rqt_note_taker/src/march_rqt_note_taker/notes_widget.py
Due: production

Add autosave checkbox
  march_rqt_note_taker/resource/note_taker.ui
  march_rqt_note_taker/src/march_rqt_note_taker/notes_widget.py
Due: production

Add ramp down single step to airgait-v.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/ramp_door_slope_down_single/left_close/MV_RD_slopedownsingle_leftclose_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_single/ramp_door_slope_down_single.gait
  march_gait_files/airgait-v/ramp_door_slope_down_single/right_open/MV_RD_slopedownsingle_rightopen_v1.subgait
Due: none

Fix bugs that somehow slipped in
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
Due: production, test

flake8
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Implement suggestions
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
Due: production

Fix bugs
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
Due: production

Added the right alignments for all the subgait labels.
  march_rqt_gait_selection/resource/gait_selection.ui
Due: none

Updated the perspective file to better fit the new rqt gait selection format.
  march_monitor/config/full_monitor.perspective
Due: none

Add manual load/reset subgait with version button
  march_rqt_gait_selection/resource/gait_selection.ui
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

A right_open for the balance walk gait.
  march_gait_files/test_versions-v/balance_walk/balance_walk.gait
  march_gait_files/test_versions-v/balance_walk/right_open/MV_balancewalk_rightopen_v1.subgait
  march_gait_files/test_versions-v/default.yaml
Due: none

Add left and right swing.
  march_gait_files/test_versions-v/balance_walk/balance_walk.gait
  march_gait_files/test_versions-v/balance_walk/left_swing/MV_balancewalk_leftswing_v1.subgait
  march_gait_files/test_versions-v/balance_walk/right_swing/MV_balancewalk_rightswing_v1.subgait
  march_gait_files/test_versions-v/default.yaml
Due: none

Fix comma.
  march_gait_files/test_versions-v/default.yaml
Due: none

Add icons and tooltips
  march_rqt_note_taker/resource/note_taker.ui
Due: none

Add incremental autosaving
  march_rqt_note_taker/src/march_rqt_note_taker/entry_model.py
  march_rqt_note_taker/src/march_rqt_note_taker/notes_widget.py
Due: production

Use std_srvs package
  march_rqt_note_taker/src/march_rqt_note_taker/notes_plugin.py
Due: production

Hide unused menu's and labels instead of disabling
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Remove the setDisable because these are redundant when using the hide/show.
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Reduced used space of the subgait name labels.
  march_rqt_gait_selection/resource/gait_selection.ui
Due: none

Fix bugs
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_controller.py
Due: production

Lock sidepoints to current when no subgait is selected
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Move set_duration logic to JointTrajectory
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
Due: production, test

Comment temperature monitoring
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Fix small oopsie bug
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Fix merge oopsie
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: production

Fix gait version service link
  doc/march_packages/march_gait_selection.rst
Due: none

Removed the temperature monitoring stuff instead of commenting.
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Removed unused imports in updater.
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Fix setpoints pointer problems
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
Due: production

New version of RT first middle step.
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v3.subgait
Due: none

change limits of HAA joints
  march_hardware_builder/robots/march4.yaml
Due: none

Moved the balanced walk gait files to the minimal gait directory
  march_gait_files/minimal/balance_walk/balance_walk.gait
  march_gait_files/minimal/balance_walk/left_swing/MV_balancewalk_leftswing_v1.subgait
  march_gait_files/minimal/balance_walk/right_open/MV_balancewalk_rightopen_v1.subgait
  march_gait_files/minimal/balance_walk/right_swing/MV_balancewalk_rightswing_v1.subgait
Due: none

Add the right_swing of balance walk as to half subgaits.
  march_gait_files/minimal/balance_walk/right_swing_1/MV_balancewalk_rightswing1_v2.subgait
  march_gait_files/minimal/balance_walk/right_swing_2/MV_balancewalk_rightswing2_v2.subgait
Due: none

add a little lay-out for the controller, note that the march implementation is not the same as the one given by slater robotics
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Add the left_swing and right_open of balance walk as to half subgaits.
  march_gait_files/minimal/balance_walk/left_swing_1/MV_balancewalk_leftswing1_v2.subgait
  march_gait_files/minimal/balance_walk/left_swing_2/MV_balancewalk_leftswing2_v2.subgait
  march_gait_files/minimal/balance_walk/right_open/MV_balancewalk_rightopen_v1.subgait
  march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v2.subgait
  march_gait_files/minimal/balance_walk/right_open_2/MV_balancewalk_rightopen2_v2.subgait
Due: none

New version of the right open of tilted path single step to get the foot off the grass easier
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v9.subgait
Due: none

Copy first middle step v3 to airgait-v.
  march_gait_files/airgait-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v3.subgait
Due: none

Set version3 default in airgait-v.
  march_gait_files/airgait-v/default.yaml
Due: none

Copy walk v4a to airgait-v.
  march_gait_files/airgait-v/walk/left_close/MV_walk_leftclose_v4a.subgait
  march_gait_files/airgait-v/walk/left_swing/MV_walk_leftswing_v4a.subgait
  march_gait_files/airgait-v/walk/right_close/MV_walk_rightclose_v4a.subgait
  march_gait_files/airgait-v/walk/right_open/MV_walk_rightopen_v4a.subgait
  march_gait_files/airgait-v/walk/right_swing/MV_walk_rightswing_v4a.subgait
Due: none

Moved default.yaml info to the minimal gait directory with the left close and right close.
  march_gait_files/minimal/balance_walk/balance_walk.gait
  march_gait_files/minimal/balance_walk/left_close/MIV_final.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v1.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v2.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v3.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v5.subgait
  march_gait_files/minimal/balance_walk/right_close/MIV_final.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v1.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v2.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v3.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v5.subgait
  march_gait_files/minimal/default.yaml
  march_gait_files/test_versions-v/default.yaml
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
