Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Fix forgeting to add ros::Duration
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Split gait generator plugin to a view and a controller
  march_rqt_gait_generator/plugin.xml
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Added v2 of RT third middle step to training-v folder and made it the default gait
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/rough_terrain_third_middle_step/left_close/MV_RT_third_middlestep_leftclose_v2.subgait
  march_gait_files/training-v/rough_terrain_third_middle_step/right_open/MV_RT_third_middlestep_rightopen_v2.subgait
Due: none

Added v2 of first middle step to training-v and set as default.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v2.subgait
  march_gait_files/training-v/rough_terrain_first_middle_step/right_open/MV_RT_first_middlestep_rightopen_v2.subgait
Due: none

Version 5 of stairs up.
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/stairs_up/left_close/MV_stairsup_leftclose_v5.subgait
  march_gait_files/test_versions-v/stairs_up/left_swing/MV_stairsup_leftswing_v5.subgait
  march_gait_files/test_versions-v/stairs_up/right_close/MV_stairsup_rightclose_v5.subgait
  march_gait_files/test_versions-v/stairs_up/right_open/MV_stairsup_rightopen_v5.subgait
  march_gait_files/test_versions-v/stairs_up/right_swing/MV_stairsup_rightswing_v5.subgait
Due: none

Adjust right_open.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/test_versions-v/stairs_up/right_open/MV_stairsup_rightopen_v5.subgait
Due: none

Adjusted the hip flexion during the stairs up and changed the duration to 3 seconds for every subgait.
  march_gait_files/test_versions-v/stairs_up/left_close/MV_stairsup_leftclose_v5.subgait
  march_gait_files/test_versions-v/stairs_up/left_swing/MV_stairsup_leftswing_v5.subgait
  march_gait_files/test_versions-v/stairs_up/right_close/MV_stairsup_rightclose_v5.subgait
  march_gait_files/test_versions-v/stairs_up/right_swing/MV_stairsup_rightswing_v5.subgait
Due: none

Move new stairs gait to airgait-v.
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v5.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v5.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v5.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v5.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v5.subgait
Due: none

New version of RT high step and TP straight start, set as default in airgait-v.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/rough_terrain_high_step/right_open/MV_RT_highstep_rightopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v2.subgait
Due: none

Fix subgait file
  march_gait_files/airgait-v/rough_terrain_high_step/right_open/MV_RT_highstep_rightopen_v7.subgait
Due: none

Set RT high step right_open v7 and TP straight start right_open v2 default.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/rough_terrain_high_step/right_open/MV_RT_highstep_rightopen_v7.subgait
  march_gait_files/training-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v2.subgait
Due: none

Use normal for loop
  march_rqt_gait_generator/plugin.xml
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: production

check whether effort changes more than max effort change
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

add effort_copy to header
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Remove most depency of view on controller
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: production

Set up tests for gait generator controller
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/test/launch/testing_gait_generator_controller.test
  march_rqt_gait_generator/test/rostests/gait_generator_controller_test.py
Due: test

Set up tests for gait generator controller #2
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/test/launch/testing_gait_generator_controller.test
  march_rqt_gait_generator/test/rostests/gait_generator_controller_test
  march_rqt_gait_generator/test/rostests/gait_generator_controller_test.py
Due: production, test

New version stairs up
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v6.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v6.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v6.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v6.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v6.subgait
Due: none

New version stairs up
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v7.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v7.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v7.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v7.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v7.subgait
Due: none

Fixed setpoints
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v7.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v7.subgait
Due: none

Added new stairs down version with more knee flexion at the end of every subgait
  march_gait_files/airgait-v/stairs_down/left_close/MV_stairsdown_leftclose_v4.subgait
  march_gait_files/airgait-v/stairs_down/left_swing/MV_stairsdown_leftswing_v4.subgait
  march_gait_files/airgait-v/stairs_down/right_close/MV_stairsdown_rightclose_v4.subgait
  march_gait_files/airgait-v/stairs_down/right_open/MV_stairsdown_rightopen_v4.subgait
  march_gait_files/airgait-v/stairs_down/right_swing/MV_stairsdown_rightswing_v4.subgait
Due: none

New stairs gait
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v8.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v8.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v8.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v8.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v8.subgait
Due: none

Fix setpoint
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v8.subgait
Due: none

Another version of the stairs up gait!
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v9.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v9.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v9.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v9.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v9.subgait
Due: none

Added a single step for both stairs up and down to the input device.
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Created a new single step with flexed left knee at the end, so you can go to the state TP STANDING STRAIGHT with a single step
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/tilted_path_flexed_knee_step/left_close/MV_TP_flexed_knee_step_leftclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_flexed_knee_step/right_open/MV_TP_flexed_knee_step_rightopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_flexed_knee_step/tilted_path_flexed_knee_step.gait
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/tilted_path_flexed_knee_step/left_close/MV_TP_flexed_knee_step_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_flexed_knee_step/right_open/MV_TP_flexed_knee_step_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_flexed_knee_step/tilted_path_flexed_knee_step.gait
Due: none

Add right_open subgaits for all versions of stairs up and stairs down single steps
  march_gait_files/airgait-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v1.subgait
  march_gait_files/airgait-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v2.subgait
  march_gait_files/airgait-v/stairs_down_single_step/stairs_down_single_step.gait
  march_gait_files/airgait-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v1.subgait
  march_gait_files/airgait-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v2.subgait
  march_gait_files/airgait-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v3.subgait
  march_gait_files/airgait-v/stairs_up_single_step/stairs_up_single_step.gait
Due: none

change max effort change
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Added button for a new single step with flexed left knee at the of the gait (#26)
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Move tilted path flexed knee step to training-v
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/tilted_path_flexed_knee_step/left_close/MV_TP_flexed_knee_step_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_flexed_knee_step/right_open/MV_TP_flexed_knee_step_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_flexed_knee_step/tilted_path_flexed_knee_step.gait
Due: none

Quick implementation of launch argument to reset the IMC on startup (sloppy version).
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/launch/hardware.launch
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Properly shutdown iMotionCubes
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

Format clang
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

Made new version the closing steps of the stairs up gait and added the single stairs gait to the default yaml in airgait-v
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_down_single_step/left_close/MV_stairsdown_single_leftclose_v1.subgait
  march_gait_files/airgait-v/stairs_down_single_step/left_close/MV_stairsdown_single_leftclose_v2.subgait
  march_gait_files/airgait-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v2.subgait
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v12.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v12.subgait
  march_gait_files/airgait-v/stairs_up_single_step/left_close/MV_stairsup_single_leftclose_v2.subgait
  march_gait_files/test_versions-v/stairs_up/left_close/MV_stairsup_leftclose_v12.subgait
  march_gait_files/test_versions-v/stairs_up/right_close/MV_stairsup_rightclose_v12.subgait
Due: none

Fix build
  march_hardware/src/MarchRobot.cpp
Due: production

Moved the reset to the march_hardware_interface.cpp, just like it was before. The launch argument can be used to activate the reset.
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/launch/hardware.launch
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

clang format check.
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Move qt part of joint plot to gait_generator_view
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_plot.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
Due: production

Fix bugs and remove unused input
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
Due: production

Feature: log current gait (#25)
  .rosinstall
  .travis.yml
  march_rqt_note_taker/CMakeLists.txt
  march_rqt_note_taker/package.xml
  march_rqt_note_taker/src/march_rqt_note_taker/entry.py
  march_rqt_note_taker/src/march_rqt_note_taker/notes_plugin.py
Due: production
