Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add coverage report excludes
  .travis.yml
Due: none

Fix paths
  .travis.yml
  codecov.yml
Due: none

Add include directories to production report
  codecov.yml
Due: none

Add codecov badge
  README.md
Due: none

Fix slave count check
  march_hardware/CMakeLists.txt
  march_hardware/check/slave_count.cpp
  march_hardware/cmake/march_hardware-extras.cmake
  march_hardware/launch/slave_count.launch
Due: none

Move imports in init to test
  march_rqt_note_taker/src/march_rqt_note_taker/__init__.py
  march_rqt_note_taker/test/__init__.py
Due: production, test

Created the first step onto the middle beams of the rough terrain.
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v1.subgait
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/right_open/MV_RT_first_middlestep_rightopen_v1.subgait
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/rough_terrrain_first_middle_step.gait
Due: none

Fix: incorrect use of encoders during startup (#201)
  march_hardware/include/march_hardware/IMotionCubeTargetState.h
  march_hardware/src/IMotionCube.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add third step for the middle steps of the Rough Terrain.
  march_gait_files/test_versions-v/rough_terrain_third_middle_step/left_close/MV_RT_third_middlestep_leftclose_v1.subgait
  march_gait_files/test_versions-v/rough_terrain_third_middle_step/right_open/MV_RT_third_middlestep_rightopen_v1.subgait
  march_gait_files/test_versions-v/rough_terrain_third_middle_step/rough_terrain_third_middle_step.gait
Due: none

Add first and third middle step to default.
  march_gait_files/test_versions-v/default.yaml
Due: none

Fixed subgait files.
  march_gait_files/test_versions-v/rough_terrain_third_middle_step/left_close/MV_RT_third_middlestep_leftclose_v1.subgait
  march_gait_files/test_versions-v/rough_terrain_third_middle_step/right_open/MV_RT_third_middlestep_rightopen_v1.subgait
Due: none

Fix typo in .gait file name.
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/rough_terrain_first_middle_step.gait
Due: none

Fix transition setpoints.
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v1.subgait
Due: none

Created the second step on the middle beams of the rough terrain. Also added to the default yaml in test_versions-v
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/rough_terrain_second_middle_step/left_close/MV_RT_second_middlestep_leftclose_v1.subgait
  march_gait_files/test_versions-v/rough_terrain_second_middle_step/right_open/MV_RT_second_middlestep_rightopen_v1.subgait
  march_gait_files/test_versions-v/rough_terrain_second_middle_step/rough_terrain_second_middle_step.gait
Due: none

Remove cmake file
  march_hardware_interface/CMakeLists.txt
  march_hardware_interface/cmake/march_hardware_interface-extras.cmake
Due: none

Fix slave count launch
  march_hardware/check/slave_count.cpp
  march_hardware/launch/slave_count.launch
Due: none

Copy new middle steps gaits to airgait-v.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v1.subgait
  march_gait_files/airgait-v/rough_terrain_first_middle_step/right_open/MV_RT_first_middlestep_rightopen_v1.subgait
  march_gait_files/airgait-v/rough_terrain_first_middle_step/rough_terrain_first_middle_step.gait
  march_gait_files/airgait-v/rough_terrain_second_middle_step/left_close/MV_RT_second_middlestep_leftclose_v1.subgait
  march_gait_files/airgait-v/rough_terrain_second_middle_step/right_open/MV_RT_second_middlestep_rightopen_v1.subgait
  march_gait_files/airgait-v/rough_terrain_second_middle_step/rough_terrain_second_middle_step.gait
  march_gait_files/airgait-v/rough_terrain_third_middle_step/left_close/MV_RT_third_middlestep_leftclose_v1.subgait
  march_gait_files/airgait-v/rough_terrain_third_middle_step/right_open/MV_RT_third_middlestep_rightopen_v1.subgait
  march_gait_files/airgait-v/rough_terrain_third_middle_step/rough_terrain_third_middle_step.gait
  march_gait_files/test_versions-v/default.yaml
Due: none

Fix comment format
  march_hardware/include/march_hardware/IMotionCube.h
Due: none

Replaced dead link (#109)
  index.rst
Due: none

Fix: convert unicode string from UI to string (#86)
  .travis.yml
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Fix file name
  doc/march_packages/march_launch.rst
Due: none

added effort control and adjusted rhaa to 200 p
  march_hardware_builder/robots/march4.yaml
  march_hardware_interface/config/march4/controllers.yaml
Due: none

Split controller manager and implement robotHW correctly
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Merge hardware and hardware interface
  march_hardware_interface/CMakeLists.txt
  march_hardware_interface/include/march_hardware_interface/march_hardware.h
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Fix naming
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add new Rough Terrain middle steps buttons (#22)
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Reserve message data to prevent allocations
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Remove unused using
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix compiler warnings
  march_hardware_interface/include/march_hardware_interface/march_pdb_state_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix consistent naming
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Use init return value
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Fix clang format
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix random high effort peaks bug
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix build
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Change comment so stupid people like myself can understand
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Feature/rough terrain (#43)
  march_simulation/obstacles/rough_terrain.xacro
  march_simulation/obstacles/stairs.xacro
Due: none

Feature/tilted path obstacle (#44)
  march_simulation/obstacles/tilted_path.xacro
Due: none

Fixed the platform height
  march_simulation/obstacles/ramp_and_door.xacro
Due: none

Remove effort command copy
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Remove effort command copy member
  march_hardware_interface/include/march_hardware_interface/march_hardware.h
Due: none

Path conditions:
  production: any of: */src/**/*
  test: any of: */test/**/*
