Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Fixed object fuck up
  march_hardware/src/IMotionCube.cpp
Due: production

Fixed messaging and miso map
  march_hardware/src/IMotionCube.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Added getMotorVoltage to Mock
  march_hardware/test/mocks/MockIMotionCube.h
Due: test

Move walk v6 to test_versions-v.
  march_gait_files/test_versions-v/walk/left_close/MV_walk_leftclose_v6.subgait
  march_gait_files/test_versions-v/walk/left_swing/MV_walk_leftswing_v6.subgait
  march_gait_files/test_versions-v/walk/right_close/MV_walk_rightclose_v6.subgait
  march_gait_files/test_versions-v/walk/right_open/MV_walk_rightopen_v6.subgait
  march_gait_files/test_versions-v/walk/right_swing/MV_walk_rightswing_v6.subgait
Due: none

Deleted walk v6 from airgait-v.
  march_gait_files/airgait-v/walk/left_close/MV_walk_leftclose_v6.subgait
  march_gait_files/airgait-v/walk/left_swing/MV_walk_leftswing_v6.subgait
  march_gait_files/airgait-v/walk/right_close/MV_walk_rightclose_v6.subgait
  march_gait_files/airgait-v/walk/right_open/MV_walk_rightopen_v6.subgait
  march_gait_files/airgait-v/walk/right_swing/MV_walk_rightswing_v6.subgait
Due: none

Created a new UI for the march rqt gait selection interface using the qt application.
  march_rqt_gait_selection/plugin.xml
  march_rqt_gait_selection/resource/gait_selection.ui
Due: none

Split the march_rqt_gait_selection to a model view controller setup.
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_controller.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_plugin.py
Due: production

Created a new GUI in order to communicate with the gait selection node properly.
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Added a tooltip to explain the usage of the tool and sorted the gait names when viewing the total gait version map.
  march_rqt_gait_selection/resource/gait_selection.ui
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

removed the logging statements from the buttons and changed the clicked to pressed.
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

add comment and newline to march4.yaml
  march_hardware_builder/robots/march4.yaml
Due: none

Update march_hardware/CMakeLists.txt
  march_hardware/CMakeLists.txt
Due: none

Improved readability and redundant code.
  march_hardware/include/march_hardware/PDOmap.h
Due: none

Improve return statement in the controller to be more sufficient and readable.
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_controller.py
Due: production

Update SDO and PDO docs
  doc/march_packages/march_hardware.rst
Due: none

Removed all the remaining findChild functions
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Removed unused imports
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Fix dependencies
  march_joint_inertia_controller/package.xml
Due: none

Added the position, velocity and effort checks to the updater of the control category and removed the respawn-argument of the launch file.
  march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
Due: production

Fixed indents and import statements
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
Due: production

Use sw file from ems repository
  march_hardware_builder/config/left_ankle.sw
  march_hardware_builder/config/left_hip_aa.sw
  march_hardware_builder/config/left_hip_fe.sw
  march_hardware_builder/config/left_knee.sw
  march_hardware_builder/config/right_ankle.sw
  march_hardware_builder/config/right_hip_aa.sw
  march_hardware_builder/config/right_hip_fe.sw
  march_hardware_builder/config/right_knee.sw
  march_hardware_builder/config/rotational_joint.sw
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Removed the check function and used the check directly inside the update function.
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
Due: production

Fix pull request
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Remove install config from cmake
  march_hardware_builder/CMakeLists.txt
Due: none

Added warning zones to tge effort, position and velocity checks.
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
Due: production

Changed .ui to .f
  march_hardware/src/IMotionCube.cpp
Due: production

Test print
  march_hardware/src/IMotionCube.cpp
Due: production

Remove test print
  march_hardware/src/IMotionCube.cpp
Due: production

Added the tutorial
  doc/march_packages/march_gain_scheduling.rst
Due: none

Revert .f to .ui
  march_hardware/src/IMotionCube.cpp
Due: production

Add IMC analyzer
  march_rqt_robot_monitor/config/analyzers.yaml
Due: none

Set stats to stale when no data has been recorded
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

change a few indentations
  doc/march_packages/march_gain_scheduling.rst
Due: none

remove unneeded warning block
  doc/march_packages/march_gain_scheduling.rst
Due: none

Fixed packages and dependencies
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/package.xml
Due: none

Update march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/CMakeLists.txt
Due: none

removed a space in a link causing it to break
  doc/march_packages/march_gain_scheduling.rst
Due: none

added more inof in the tuning chapter
  doc/march_packages/march_gain_scheduling.rst
Due: none

Add imc state diagnostics
  march_rqt_robot_monitor/CMakeLists.txt
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/package.xml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/imc_state.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

fix a few spelling errors
  doc/march_packages/march_gain_scheduling.rst
Due: none
