Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Make sdo read const
  march_hardware/include/march_hardware/EtherCAT/sdo_interface.h
  march_hardware/src/EtherCAT/sdo_interface.cpp
Due: production

Make encoder use pdo interface
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/encoder/Encoder.cpp
Due: production

Make ges use pdo interface
  march_hardware/include/march_hardware/TemperatureGES.h
  march_hardware/src/TemperatureGES.cpp
Due: production

Make slave index unsigned
  march_hardware/include/march_hardware/EtherCAT/slave.h
Due: none

Make imc use new interface
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
Due: production

Implement reset slave
  march_hardware/include/march_hardware/EtherCAT/slave.h
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
Due: production

Fix joint
  march_hardware/src/Joint.cpp
Due: production

Fix constructor
  march_hardware/include/march_hardware/TemperatureGES.h
  march_hardware/src/TemperatureGES.cpp
Due: production

Make pdb and friends use new interface
  march_hardware/include/march_hardware/HighVoltage.h
  march_hardware/include/march_hardware/LowVoltage.h
  march_hardware/include/march_hardware/PowerDistributionBoard.h
  march_hardware/src/HighVoltage.cpp
  march_hardware/src/LowVoltage.cpp
  march_hardware/src/PowerDistributionBoard.cpp
Due: production

Make pdb optional
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
Due: production

Fix march_hardware build
  march_hardware/include/march_hardware/EtherCAT/pdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/sdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/slave.h
  march_hardware/include/march_hardware/HighVoltage.h
  march_hardware/include/march_hardware/LowVoltage.h
  march_hardware/src/EtherCAT/sdo_interface.cpp
  march_hardware/src/HighVoltage.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/LowVoltage.cpp
  march_hardware/src/PowerDistributionBoard.cpp
  march_hardware/src/TemperatureGES.cpp
Due: production

fix tab
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/encoder/Encoder.cpp
Due: production

stop using joint_names_ as it is removed from the namespace
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

implement the real fix now :(
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix march_hardware tests
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/TemperatureGES.h
  march_hardware/include/march_hardware/TemperatureSensor.h
  march_hardware/src/TemperatureGES.cpp
  march_hardware/test/TestHighVoltage.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/TestLowVoltage.cpp
  march_hardware/test/TestPDOmap.cpp
  march_hardware/test/TestPowerDistributionBoard.cpp
  march_hardware/test/TestSlave.cpp
  march_hardware/test/TestTemperatureGES.cpp
  march_hardware/test/encoder/TestEncoder.cpp
  march_hardware/test/mocks/MockAbsoluteEncoder.h
  march_hardware/test/mocks/MockEncoder.h
  march_hardware/test/mocks/MockIMotionCube.h
  march_hardware/test/mocks/MockIncrementalEncoder.h
  march_hardware/test/mocks/MockJoint.h
  march_hardware/test/mocks/MockPdoInterface.h
  march_hardware/test/mocks/MockSdoInterface.h
  march_hardware/test/mocks/MockSlave.h
  march_hardware/test/mocks/MockTemperatureGES.cpp
  march_hardware/test/mocks/MockTemperatureGES.h
  march_hardware/test/mocks/MockTemperatureSensor.cpp
Due: production, test

Set actuated to true when first effort is send by normal controller
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Changed getting the number of the iMC
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Use velocity from IMCs in the controller
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/encoder/Encoder.cpp
Due: production

fix error message
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fixed string issues
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Removed redundant spaces.
  march_rqt_robot_monitor/CMakeLists.txt
  march_rqt_robot_monitor/package.xml
Due: none

Make joint_inertia_controller package and header file
  march_hardware/CMakeLists.txt
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/package.xml
Due: none

Fixed oooooopsie
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

remove pdb from march4 yaml
  march_hardware_builder/robots/march4.yaml
Due: none

Fixed comments on PR.
  march_rqt_robot_monitor/CMakeLists.txt
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Fixed list DIRECTORY should be sorted.
  march_rqt_robot_monitor/CMakeLists.txt
Due: none

Update march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
Due: production

Set the paused argument in the gazebo empty_world.launch to False because the time is necessary to launch moveit with the corresponding move_groups
  march_simulation/launch/march_world.launch
Due: none

Make part of src file
  march_hardware/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Add pdo and sdo slave interface
  march_hardware/include/march_hardware/EtherCAT/pdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/sdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/slave.h
  march_hardware/include/march_hardware/HighVoltage.h
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/LowVoltage.h
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/include/march_hardware/PowerDistributionBoard.h
  march_hardware/include/march_hardware/TemperatureGES.h
  march_hardware/include/march_hardware/encoder/AbsoluteEncoder.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/include/march_hardware/encoder/IncrementalEncoder.h
  march_hardware/src/HighVoltage.cpp
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/LowVoltage.cpp
  march_hardware/src/PDOmap.cpp
  march_hardware/src/PowerDistributionBoard.cpp
  march_hardware/src/TemperatureGES.cpp
  march_hardware/src/encoder/Encoder.cpp
  march_hardware/test/TestHighVoltage.cpp
  march_hardware/test/TestLowVoltage.cpp
  march_hardware/test/TestPDOmap.cpp
  march_hardware/test/encoder/TestEncoder.cpp
  march_hardware/test/mocks/MockIMotionCube.h
  march_hardware/test/mocks/MockTemperatureGES.h
Due: production, test

use velocity from iMC in controller
  march_hardware/src/Joint.cpp
Due: production

update constants en pdo object
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/PDOmap.cpp
  march_hardware/src/encoder/Encoder.cpp
Due: production

fix clang
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/Joint.cpp
Due: production

Implement interfaces with shared pointers
  march_hardware/include/march_hardware/EtherCAT/pdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/sdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/slave.h
  march_hardware/test/TestHighVoltage.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/TestLowVoltage.cpp
  march_hardware/test/TestPDOmap.cpp
  march_hardware/test/TestPowerDistributionBoard.cpp
  march_hardware/test/TestSlave.cpp
  march_hardware/test/TestTemperatureGES.cpp
  march_hardware/test/encoder/TestEncoder.cpp
  march_hardware/test/mocks/MockPdoInterface.h
  march_hardware/test/mocks/MockSdoInterface.h
  march_hardware/test/mocks/MockSlave.h
Due: test

Add pdo and sdo interface to builder
  march_hardware/include/march_hardware/EtherCAT/pdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/sdo_interface.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_builder/test/pdb_builder_test.cpp
Due: production, test

Make pdb unique_ptr
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/pdb_builder_test.cpp
Due: production, test

fix tests
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockAbsoluteEncoder.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware/test/mocks/MockIncrementalEncoder.cpp
Due: production, test

make tests more readable
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockAbsoluteEncoder.cpp
  march_hardware/test/mocks/MockIncrementalEncoder.cpp
Due: test

Fix bugs in plugin and retune exo
  march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/stairs_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
  march_simulation/config/march4.yaml
  march_simulation/launch/march_world.launch
Due: production

add comment to function
  march_hardware/include/march_hardware/encoder/Encoder.h
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
