Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add new Tilted Path gaits.
  march_gait_files/test_versions-v/tilted_path_single_step/left_close/MV_TP_singlestep_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_single_step/right_open/MV_TP_singlestep_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_single_step/tilted_path_single_step.gait
  march_gait_files/test_versions-v/tilted_path_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_end/tilted_path_straight_end.gait
  march_gait_files/test_versions-v/tilted_path_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_start/tilted_path_straight_start.gait
Due: none

Add new Tilted Path gaits.
  march_gait_files/test_versions-v/default.yaml
Due: none

Add new Tilted Path gaits to airgait-v and remove old ones.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/tilted_path_single_step/left_close/MV_TP_singlestep_leftclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_single_step/right_open/MV_TP_singlestep_rightopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_single_step/tilted_path_single_step.gait
  march_gait_files/airgait-v/tilted_path_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_end/tilted_path_straight_end.gait
  march_gait_files/airgait-v/tilted_path_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_start/tilted_path_straight_start.gait
  march_gait_files/airgait-v/tilted_path_straight_start_right/left_close/MV_TPstraight_leftclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_start_right/right_open/MV_TPstraight_rightopen_v1.subgait
Due: none

Change gait types to stairs_like (for stepping on and stepping off).
  march_gait_files/airgait-v/tilted_path_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/airgait-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
Due: none

Add Tilted Path and Rough Terrain gaits to training-v gait directory.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v1.subgait
  march_gait_files/training-v/rough_terrain_first_middle_step/right_open/MV_RT_first_middlestep_rightopen_v1.subgait
  march_gait_files/training-v/rough_terrain_first_middle_step/rough_terrain_first_middle_step.gait
  march_gait_files/training-v/rough_terrain_second_middle_step/left_close/MV_RT_second_middlestep_leftclose_v1.subgait
  march_gait_files/training-v/rough_terrain_second_middle_step/right_open/MV_RT_second_middlestep_rightopen_v1.subgait
  march_gait_files/training-v/rough_terrain_second_middle_step/rough_terrain_second_middle_step.gait
  march_gait_files/training-v/rough_terrain_third_middle_step/left_close/MV_RT_third_middlestep_leftclose_v1.subgait
  march_gait_files/training-v/rough_terrain_third_middle_step/right_open/MV_RT_third_middlestep_rightopen_v1.subgait
  march_gait_files/training-v/rough_terrain_third_middle_step/rough_terrain_third_middle_step.gait
  march_gait_files/training-v/tilted_path_first_end/left_open/MV_TPend1_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_first_end/right_close/MV_TPend1_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_first_end/tilted_path_first_end.gait
  march_gait_files/training-v/tilted_path_first_start/left_open/MV_TPstart1_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_first_start/right_close/MV_TPstart1_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_first_start/tilted_path_first_start.gait
  march_gait_files/training-v/tilted_path_second_end/left_open/MV_TPend2_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_second_end/right_close/MV_TPend2_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_second_end/tilted_path_second_end.gait
  march_gait_files/training-v/tilted_path_second_start/left_open/MV_TPstart2_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_second_start/right_close/MV_TPstart2_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_second_start/tilted_path_second_start.gait
  march_gait_files/training-v/tilted_path_single_step/left_close/MV_TP_singlestep_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_single_step/right_open/MV_TP_singlestep_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_single_step/tilted_path_single_step.gait
  march_gait_files/training-v/tilted_path_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_straight_end/tilted_path_straight_end.gait
  march_gait_files/training-v/tilted_path_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_straight_start/tilted_path_straight_start.gait
Due: none

Add printing of hardware exception
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Fix typo
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix constructor to accept march robot and not construct
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Add new Tilted Path gaits. (#23)
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Move shared variables
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Adjust limits in IU in RADPF after encoder was placed back and new en… (#211)
  march_hardware_builder/robots/march4.yaml
Due: none

Fix clang format
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add documentation for errors
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Fix segmentation fault when launching
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix clang format
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Make sure the joint list initializes before the others
  march_hardware/include/march_hardware/MarchRobot.h
Due: none

Add comments for default and deleted copy and move
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
Due: none

Move joint list paramater to start method to avoid old pointers
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

Feature: add ethercat master exceptions (#213)
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/error/error_type.cpp
Due: production

Feature: move urdf to builder (#215)
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/package.xml
  march_hardware/src/MarchRobot.cpp
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/include/march_hardware_builder/allowed_robot.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/package.xml
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/allowed_robot_test.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Setup tests in gait generator
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/test/__init__.py
  march_rqt_gait_generator/test/modifiable_joint_trajectory_test.py
  march_rqt_gait_generator/test/modifiable_setpoint_test.py
  march_rqt_gait_generator/test/modifiable_subgait_test.py
  march_rqt_gait_generator/test/resources/default.yaml
  march_rqt_gait_generator/test/resources/march4.urdf
  march_rqt_gait_generator/test/resources/walk/left_close/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v1.subgait
  march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v2.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v1.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2_seven_joints.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/walk.gait
  march_rqt_gait_generator/test/run_tests.py
Due: test

Fix: incorrect types (#212)
  march_hardware/include/march_hardware/ActuationMode.h
  march_hardware/include/march_hardware/AngleConversions.h
  march_hardware/include/march_hardware/Encoder.h
  march_hardware/include/march_hardware/EtherCAT/EthercatIO.h
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/IMotionCubeTargetState.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/src/Encoder.cpp
  march_hardware/src/EtherCAT/EthercatIO.cpp
  march_hardware/src/EtherCAT/EthercatSDO.cpp
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/PDOmap.cpp
  march_hardware/test/TestPDOmap.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Write ModifiableSetpoint tests
  march_rqt_gait_generator/test/modifiable_setpoint_test.py
  march_rqt_gait_generator/test/run_tests.py
Due: test

Fix: convert unicode string from UI to string (#86) (#87)
  .travis.yml
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Added gait versions for groundgaiting to airgait-v.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/ramp_door_last_step/left_close/MV_RD_laststep_leftclose_v1.subgait
  march_gait_files/airgait-v/ramp_door_last_step/right_open/MV_RD_laststep_rightopen_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/left_open/MV_RD_slopedown_leftopen_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/right_open/MV_RD_slopedown_rightopen_v1.subgait
  march_gait_files/airgait-v/sofa_sit/sit_down/MIV_final.subgait
  march_gait_files/airgait-v/sofa_sit/sit_home/MIV_final.subgait
  march_gait_files/airgait-v/sofa_sit/sofa_sit.gait
  march_gait_files/airgait-v/sofa_stand/prepare_stand_up/MIV_final.subgait
  march_gait_files/airgait-v/sofa_stand/sofa_stand.gait
  march_gait_files/airgait-v/sofa_stand/stand_up/MIV_final.subgait
Due: none

Try to get those rostests working
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/test/launch/testing_gait_generator.test
  march_rqt_gait_generator/test/nosetests/__init__.py
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_setpoint_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
  march_rqt_gait_generator/test/rostests/__init__.py
  march_rqt_gait_generator/test/rostests/gait_generator_test.py
  march_rqt_gait_generator/test/run_tests
  march_rqt_gait_generator/test/run_tests.py
Due: test

RQT tests yeeey
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/test/launch/testing_gait_generator.test
  march_rqt_gait_generator/test/rostests/gait_generator_test
  march_rqt_gait_generator/test/rostests/gait_generator_test.py
  march_rqt_gait_generator/test/run_tests.py
Due: test

Made a first version of the right swing for the walk small gait.
  march_gait_files/test_versions-v/walk_small/right_swing/MV_walksmall_rightswing_v1.subgait
Due: none

Made all the subgaits of the walk small and added .gait file
  march_gait_files/test_versions-v/walk_small/left_close/MV_walksmall_leftclose_v1.subgait
  march_gait_files/test_versions-v/walk_small/left_swing/MV_walksmall_leftswing_v1.subgait
  march_gait_files/test_versions-v/walk_small/right_close/MV_walksmall_rightclose_v1.subgait
  march_gait_files/test_versions-v/walk_small/right_open/MV_walksmall_rightopen_v1.subgait
  march_gait_files/test_versions-v/walk_small/walk_small.gait
Due: none

Added a walk_large gait in test_versions-v and added walk_small and walk_large to default.yaml
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/walk_large/left_close/MV_walklarge_leftclose_v1.subgait
  march_gait_files/test_versions-v/walk_large/left_swing/MV_walklarge_leftswing_v1.subgait
  march_gait_files/test_versions-v/walk_large/right_close/MV_walklarge_rightclose_v1.subgait
  march_gait_files/test_versions-v/walk_large/right_open/MV_walklarge_rightopen_v1.subgait
  march_gait_files/test_versions-v/walk_large/right_swing/MV_walklarge_rightswing_v1.subgait
  march_gait_files/test_versions-v/walk_large/walk_large.gait
Due: none

Delete old walk_small gait from training-v.
  march_gait_files/training-v/walk_small/left_close/MIV_final.subgait
  march_gait_files/training-v/walk_small/left_swing/MIV_final.subgait
  march_gait_files/training-v/walk_small/right_close/MIV_final.subgait
  march_gait_files/training-v/walk_small/right_open/MIV_final.subgait
  march_gait_files/training-v/walk_small/right_swing/MIV_final.subgait
  march_gait_files/training-v/walk_small/walk_small.gait
Due: none

Add walk_large button.
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Fix subgait file.
  march_gait_files/test_versions-v/walk_small/right_close/MV_walksmall_rightclose_v1.subgait
Due: none

New slave index on exo.
  march_hardware_builder/robots/march4.yaml
Due: none

Fix external link
  doc/march_packages/march_hardware.rst
Due: none

Write some test for modifiable_joint_trajectory
  .flake8
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/test/launch/testing_gait_generator.test
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
  march_rqt_gait_generator/test/rostests/__init__.py
  march_rqt_gait_generator/test/rostests/gait_generator_test
  march_rqt_gait_generator/test/run_tests.py
Due: production, test

Fix all compiler warnings and turn them into errors
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/ActuationMode.h
  march_hardware/include/march_hardware/Slave.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/LowVoltage.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware/src/PDOmap.cpp
  march_hardware/src/error/error_type.cpp
  march_hardware_builder/CMakeLists.txt
  march_hardware_interface/CMakeLists.txt
  march_imu_manager/CMakeLists.txt
  march_pdb_state_controller/CMakeLists.txt
  march_pdb_state_controller/src/march_pdb_state_controller.cpp
  march_temperature_sensor_controller/CMakeLists.txt
Due: production

Fix some missed errors
  march_hardware/test/TestPDOmap.cpp
  march_hardware/test/TestTemperatureGES.cpp
Due: test

Fix all compiler warnings and turn them into errors
  march_fake_sensor_data/CMakeLists.txt
  march_fake_sensor_data/src/FakeTemperatureData.cpp
  march_gazebo_plugins/CMakeLists.txt
Due: production

Write rest of the test function for modifiable_joint_trajectory.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
Due: production, test

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
