Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Add walk small transitions
  march_gait_files/minimal/default.yaml
  march_gait_files/minimal/walk/left_close_small/MV_walksmall_leftclose_v1.subgait
  march_gait_files/minimal/walk/left_swing_small/MV_walksmall_leftswing_v1.subgait
  march_gait_files/minimal/walk/right_close_small/MV_walksmall_rightclose_v1.subgait
  march_gait_files/minimal/walk/right_swing_small/MV_walksmall_rightswing_v1.subgait
  march_gait_files/minimal/walk/walk.gait
Due: none

Fix error string when sdo read fails
  march_hardware/src/ethercat/sdo_interface.cpp
Due: production

Add section on how to create gait file
  doc/development/add_a_new_gait.rst
  doc/march_packages/march_gait_files.rst
Due: none

Add new gait selection docs
  doc/march_packages/march_gait_selection.rst
Due: none

Remove removed directories from install
  march_gait_files/CMakeLists.txt
Due: none

Update doc/march_packages/march_gait_selection.rst
  doc/march_packages/march_gait_selection.rst
Due: none

Fix error URL
  doc/march_packages/march_gait_selection.rst
Due: none

Remove home gait versions
  march_gait_files/airgait-v/default.yaml
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/training-v/default.yaml
Due: none

removed unecessary force update in robot monitor updater
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
Due: production

removed unecessary force update in robot monit updater
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Fix error when canceling import (#107)
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: production, test

fixed code style
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
Due: production

Fixed the removal of multiple notes using Ctrl selecting
  march_rqt_note_taker/src/march_rqt_note_taker/entry_model.py
  march_rqt_note_taker/src/march_rqt_note_taker/notes_widget.py
  march_rqt_note_taker/test/entry_model_test.py
Due: production, test

Remove no longer existing packages
  .travis.yml
Due: none

Fix broken urls
  doc/march_packages/march_gait_selection.rst
  doc/march_packages/march_shared_resources.rst
Due: none

Update configuration files to reflect monorepo
  .clang-format
  .coveragerc
  .flake8
  .gitignore
  .rosinstall
  .travis.yml
  CODEOWNERS
  README.md
Due: none

fixed plugin turn off
  src/march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  src/march_gazebo_plugins/src/obstacle_controller.cpp
  src/march_gazebo_plugins/src/walk_controller.cpp
Due: none

remove forgotten test line
  src/march_gazebo_plugins/src/obstacle_controller.cpp
Due: none

Implement a CI/CD pipeline for the MARCH repository
  .clang-tidy
  .flake8
  .gitignore
  .gitlab-ci.yml
  CODEOWNERS
  Dockerfile
  src/march_data_collector/scripts/esp_adapter
  src/march_data_collector/src/march_data_collector/com_calculator.py
  src/march_fake_sensor_data/CMakeLists.txt
  src/march_fake_sensor_data/config/Temperatures.cfg
  src/march_gain_scheduling/scripts/march_gain_scheduling_node
  src/march_gait_selection/src/march_gait_selection/gait_selection.py
  src/march_gazebo_plugins/CMakeLists.txt
  src/march_hardware_builder/package.xml
  src/march_hardware_interface/src/march_hardware_interface.cpp
  src/march_hardware_interface/src/march_hardware_interface_node.cpp
  src/march_safety/CMakeLists.txt
  src/march_safety/test/rostest/temperature_error_test.cpp
  src/march_safety/test/rostest/temperature_parameterized_test.cpp
Due: none

Create .gitlab folder
  .gitlab/CODE_OF_CONDUCT.md
  .gitlab/issue_templates/.Bug.md.swp
  .gitlab/issue_templates/Bug.md
  .gitlab/merge_request_templates/pull_request_template.md
Due: none

Add feature template
  .gitlab/issue_templates/.Bug.md.swp
  .gitlab/issue_templates/Feature.md
Due: none

Update pull request template
  .gitlab/merge_request_templates/pull_request_template.md
Due: none

Add research template
  .gitlab/issue_templates/Research.md
Due: none

Remove automatic label setting
  .gitlab/issue_templates/Bug.md
  .gitlab/issue_templates/Feature.md
  .gitlab/issue_templates/Research.md
Due: none

Change gitignore for install folders
  .gitignore
Due: none

cleanup code after comments from thijs R
  src/march_gazebo_plugins/src/obstacle_controller.cpp
  src/march_gazebo_plugins/src/walk_controller.cpp
Due: none

Finish working ros2 input device
  ros2/src/march_rqt_input_device_ros2/launch/input_device.launch.py
  ros2/src/march_rqt_input_device_ros2/march_rqt_input_device_ros2/input_device_controller.py
  ros2/src/march_rqt_input_device_ros2/march_rqt_input_device_ros2/input_device_plugin.py
  ros2/src/march_rqt_input_device_ros2/march_rqt_input_device_ros2/input_device_view.py
  ros2/src/march_shared_msgs/CMakeLists.txt
  ros2/src/march_shared_msgs/mapping_rules.yaml
  ros2/src/march_shared_msgs/msg/GaitInstruction.msg
Due: production

Remove old launch file
  ros2/src/march_rqt_input_device_ros2/launch/march_rqt_input_device_ros2.launch
Due: production

Remove unnecessary logging and improve async call handling
  ros2/src/march_rqt_input_device_ros2/march_rqt_input_device_ros2/input_device_controller.py
  ros2/src/march_rqt_input_device_ros2/march_rqt_input_device_ros2/input_device_view.py
Due: production
