Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Remove redundant gitignores
  march_pdb_state_controller/.gitignore
  march_temperature_sensor_controller/.gitignore
Due: none

Fix what implementation on HardwareException (#216)
  march_hardware/include/march_hardware/error/hardware_exception.h
  march_hardware/test/error/test_hardware_exception.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production, test

Removed walk_small from default file.
  march_gait_files/training-v/default.yaml
Due: none

Add test to fix coverage
  march_hardware/test/TestPDOmap.cpp
Due: test

Added a slower high step in training-v. Only the duration has changed, not the setpoints.
  march_gait_files/training-v/rough_terrain_high_step/left_close/MV_RT_highstep_leftclose_v9.subgait
  march_gait_files/training-v/rough_terrain_high_step/right_open/MV_RT_highstep_rightopen_v9.subgait
Due: none

Remove reset imc (#219)
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix flake8
  .flake8
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
Due: test

Write tests for modifiable_subgait.py. Remove unnecessary method.
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
Due: production, test

Write ModifiableSubgait tests
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_setpoint.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
Due: production, test

Add package dependency
  march_rqt_gait_generator/package.xml
Due: none

Tune dis
  march_hardware_interface/config/march4/controllers.yaml
Due: none

Plot the velocity in the gait generator
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_plot.py
Due: production

Plot effort in gait generator
  march_rqt_gait_generator/resource/gait_generator.ui
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_plot.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
Due: production

Removed TP straight from training-v as they are not groundgaited yet.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/tilted_path_single_step/left_close/MV_TP_singlestep_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_single_step/right_open/MV_TP_singlestep_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_single_step/tilted_path_single_step.gait
  march_gait_files/training-v/tilted_path_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_straight_end/tilted_path_straight_end.gait
  march_gait_files/training-v/tilted_path_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_straight_start/tilted_path_straight_start.gait
Due: none

Added second version of first middle step of Rough Terrain.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v2.subgait
  march_gait_files/airgait-v/rough_terrain_first_middle_step/right_open/MV_RT_first_middlestep_rightopen_v2.subgait
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v2.subgait
  march_gait_files/test_versions-v/rough_terrain_first_middle_step/right_open/MV_RT_first_middlestep_rightopen_v2.subgait
Due: none

Added a version of the third middle step based on the high step.
  march_gait_files/airgait-v/rough_terrain_third_middle_step/left_close/MV_RT_third_middlestep_leftclose_v3.subgait
  march_gait_files/airgait-v/rough_terrain_third_middle_step/right_open/MV_RT_third_middlestep_rightopen_v3.subgait
Due: none

Added a version of the third middle step with 5 degrees more hip flexion compared to v1
  march_gait_files/airgait-v/rough_terrain_third_middle_step/left_close/MV_RT_third_middlestep_leftclose_v2.subgait
  march_gait_files/airgait-v/rough_terrain_third_middle_step/right_open/MV_RT_third_middlestep_rightopen_v2.subgait
Due: none

Fix build #2
  march_rqt_gait_generator/package.xml
Due: none

Fix build #3
  .travis.yml
Due: none

Fix build #4
  march_rqt_gait_generator/package.xml
Due: none

Moved new gaits to training-v.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/tilted_path_single_step/left_close/MV_TP_singlestep_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_single_step/right_open/MV_TP_singlestep_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_single_step/tilted_path_single_step.gait
  march_gait_files/training-v/tilted_path_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_straight_end/tilted_path_straight_end.gait
  march_gait_files/training-v/tilted_path_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_straight_start/tilted_path_straight_start.gait
  march_gait_files/training-v/walk/left_close/MV_walk_leftclose_v3.subgait
  march_gait_files/training-v/walk/left_close/MV_walk_leftclose_v5.subgait
  march_gait_files/training-v/walk/left_swing/MV_walk_leftswing_v5.subgait
  march_gait_files/training-v/walk/right_close/MV_walk_rightclose_v3.subgait
  march_gait_files/training-v/walk/right_close/MV_walk_rightclose_v5.subgait
  march_gait_files/training-v/walk/right_open/MV_walk_rightopen_v3.subgait
  march_gait_files/training-v/walk/right_open/MV_walk_rightopen_v5.subgait
  march_gait_files/training-v/walk/right_swing/MV_walk_rightswing_v5.subgait
Due: none

Remove dependency on urdf from test resource files.
  march_rqt_gait_generator/test/resources/march4.urdf
Due: test

Remove dependency on urdf from test resource files now for real
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
Due: test

Set v2 of third middle step default in airgait-v.
  march_gait_files/airgait-v/default.yaml
Due: none

set PID to 0
  march_hardware_interface/config/march4/controllers.yaml
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Fix flake8
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_plot.py
Due: production

Remove debug stuff
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Remove TODO for tuning
  march_hardware_interface/config/march4/controllers.yaml
Due: none

Added gait types for homing gaits
  march_gait_files/training-v/home/home_sit/MIV_final.subgait
  march_gait_files/training-v/home/home_stand/MIV_final.subgait
Due: none

Feature: add zero position calculation (#217)
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/Encoder.h
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/src/Encoder.cpp
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/error/error_type.cpp
  march_hardware/test/TestEncoder.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockEncoder.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/robots/march3.yaml
  march_hardware_builder/robots/march4.yaml
  march_hardware_builder/robots/test_joint_linear.yaml
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/allowed_robot_test.cpp
  march_hardware_builder/test/encoder_builder_test.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_builder/test/yaml/encoder/encoder_correct.yaml
  march_hardware_builder/test/yaml/encoder/encoder_correct_1.yaml
  march_hardware_builder/test/yaml/encoder/encoder_correct_2.yaml
  march_hardware_builder/test/yaml/encoder/encoder_incorrect_resolution.yaml
  march_hardware_builder/test/yaml/encoder/encoder_no_max_position.yaml
  march_hardware_builder/test/yaml/encoder/encoder_no_min_position.yaml
  march_hardware_builder/test/yaml/encoder/encoder_no_resolution.yaml
  march_hardware_builder/test/yaml/encoder/encoder_no_zero_position.yaml
  march_hardware_builder/test/yaml/imotioncube/imotioncube_correct.yaml
  march_hardware_builder/test/yaml/imotioncube/imotioncube_correct_1.yaml
  march_hardware_builder/test/yaml/imotioncube/imotioncube_correct_2.yaml
  march_hardware_builder/test/yaml/imotioncube/imotioncube_incorrect_encoder.yaml
  march_hardware_builder/test/yaml/imotioncube/imotioncube_no_slave_index.yaml
  march_hardware_builder/test/yaml/joint/joint_correct.yaml
  march_hardware_builder/test/yaml/joint/joint_correct_2.yaml
  march_hardware_builder/test/yaml/joint/joint_correct_not_actuated.yaml
  march_hardware_builder/test/yaml/joint/joint_correct_position_mode.yaml
  march_hardware_builder/test/yaml/joint/joint_empty.yaml
  march_hardware_builder/test/yaml/joint/joint_no_actuate.yaml
  march_hardware_builder/test/yaml/joint/joint_no_temperature_ges.yaml
Due: production, test

Added gait types to airgait-v and test_versions-v.
  march_gait_files/airgait-v/home/home_sit/MIV_final.subgait
  march_gait_files/airgait-v/home/home_stand/MIV_final.subgait
  march_gait_files/test_versions-v/home/home_sit/MIV_ankle_2.5.subgait
  march_gait_files/test_versions-v/home/home_stand/MIV_ankle_2.5.subgait
Due: none

Made walk version 6, which is adjusted to ros limits.
  march_gait_files/airgait-v/walk/left_close/MV_walk_leftclose_v6.subgait
  march_gait_files/airgait-v/walk/left_swing/MV_walk_leftswing_v6.subgait
  march_gait_files/airgait-v/walk/right_close/MV_walk_rightclose_v6.subgait
  march_gait_files/airgait-v/walk/right_open/MV_walk_rightopen_v6.subgait
  march_gait_files/airgait-v/walk/right_swing/MV_walk_rightswing_v6.subgait
Due: none

Make control loop cycle time dependent on ethercat cycle time and add multiplier arg
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/launch/hardware.launch
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Add parameters for k-values for all joints (#48)
  march_simulation/launch/march_world.launch
Due: none

Release v0.2.0 (#91)
  .flake8
  .travis.yml
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/launch/march_rqt_gait_generator.launch
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/resource/gait_generator.ui
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_setting_plot.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_setpoint.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
  march_rqt_gait_generator/test/__init__.py
  march_rqt_gait_generator/test/nosetests/__init__.py
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_setpoint_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
  march_rqt_gait_generator/test/resources/default.yaml
  march_rqt_gait_generator/test/resources/walk/left_close/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v1.subgait
  march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v2.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v1.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2_seven_joints.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/walk.gait
  march_rqt_gait_generator/test/run_tests.py
Due: production, test

Upload URDF instead of xacro (#221)
  march_hardware_interface/launch/hardware.launch
Due: none

Remove xacro in-order processing (#47)
  march_simulation/launch/march_world.launch
Due: none

Walk version 6 to training-v.
  march_gait_files/training-v/walk/left_close/MV_walk_leftclose_v6.subgait
  march_gait_files/training-v/walk/left_swing/MV_walk_leftswing_v6.subgait
  march_gait_files/training-v/walk/right_close/MV_walk_rightclose_v6.subgait
  march_gait_files/training-v/walk/right_open/MV_walk_rightopen_v6.subgait
  march_gait_files/training-v/walk/right_swing/MV_walk_rightswing_v6.subgait
Due: none

Fix oopsie by using seconds instead of milliseconds (#223)
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production
