Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Update doc/march_packages/march_gain_scheduling.rst
  doc/march_packages/march_gain_scheduling.rst
Due: none

Update build_locally.sh
  build_locally.sh
Due: none

remove link to confluence page due to inaccessability of third party members
  doc/march_packages/march_gain_scheduling.rst
Due: none

Created a new catkin package for the odrive interface.
  odrive_interface/CMakeLists.txt
  odrive_interface/package.xml
  odrive_interface/setup.py
  odrive_interface/src/odrive_interface/__init__.py
Due: production

Created default files for the new repository to function properly.
  .clang-format
  .gitignore
  .rosinstall
  .travis.yml
  CODEOWNERS
  README.md
Due: none

Setup .travis with the right configurations.
  .travis.yml
Due: none

Added march repo to .rosinstall and updated the batch name in the README.md.
  .rosinstall
  .travis.yml
  README.md
Due: none

Removed odrive from ros dependency and added this as pip install dependency in travis Ci.
  .travis.yml
  odrive_interface/package.xml
Due: none

Create ethercat module
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/HighVoltage.h
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/LowVoltage.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/include/march_hardware/PowerDistributionBoard.h
  march_hardware/include/march_hardware/TemperatureGES.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/include/march_hardware/ethercat/pdo_interface.h
  march_hardware/include/march_hardware/ethercat/pdo_map.h
  march_hardware/include/march_hardware/ethercat/pdo_types.h
  march_hardware/include/march_hardware/ethercat/sdo_interface.h
  march_hardware/include/march_hardware/ethercat/slave.h
  march_hardware/src/HighVoltage.cpp
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/LowVoltage.cpp
  march_hardware/src/PowerDistributionBoard.cpp
  march_hardware/src/TemperatureGES.cpp
  march_hardware/src/encoder/Encoder.cpp
  march_hardware/src/ethercat/ethercat_master.cpp
  march_hardware/src/ethercat/pdo_interface.cpp
  march_hardware/src/ethercat/pdo_map.cpp
  march_hardware/src/ethercat/sdo_interface.cpp
  march_hardware/test/TestPDOmap.cpp
  march_hardware/test/TestSlave.cpp
  march_hardware/test/mocks/MockIMotionCube.h
  march_hardware/test/mocks/MockPdoInterface.h
  march_hardware/test/mocks/MockSdoInterface.h
  march_hardware/test/mocks/MockSlave.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production, test

Rename encoder files
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/encoder/absolute_encoder.h
  march_hardware/include/march_hardware/encoder/encoder.h
  march_hardware/include/march_hardware/encoder/incremental_encoder.h
  march_hardware/src/encoder/absolute_encoder.cpp
  march_hardware/src/encoder/encoder.cpp
  march_hardware/src/encoder/incremental_encoder.cpp
  march_hardware/test/encoder/TestAbsoluteEncoder.cpp
  march_hardware/test/encoder/TestIncrementalEncoder.cpp
  march_hardware/test/mocks/MockAbsoluteEncoder.h
  march_hardware/test/mocks/MockEncoder.h
  march_hardware/test/mocks/MockIncrementalEncoder.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/test/absolute_encoder_builder_test.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/incremental_encoder_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

renamed the python reference to 3.7 for flake8 and odrive install dependency has correct naming.
  .travis.yml
Due: none

Create power module
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/include/march_hardware/power/boot_shutdown_offsets.h
  march_hardware/include/march_hardware/power/high_voltage.h
  march_hardware/include/march_hardware/power/low_voltage.h
  march_hardware/include/march_hardware/power/net_driver_offsets.h
  march_hardware/include/march_hardware/power/net_monitor_offsets.h
  march_hardware/include/march_hardware/power/power_distribution_board.h
  march_hardware/src/power/high_voltage.cpp
  march_hardware/src/power/low_voltage.cpp
  march_hardware/src/power/power_distribution_board.cpp
  march_hardware/test/TestBootShutdownOffsets.cpp
  march_hardware/test/TestHighVoltage.cpp
  march_hardware/test/TestLowVoltage.cpp
  march_hardware/test/TestNetDriverOffsets.cpp
  march_hardware/test/TestNetMonitorOffsets.cpp
  march_hardware/test/TestPowerDistributionBoard.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_interface/include/march_hardware_interface/march_pdb_state_interface.h
  march_pdb_state_controller/include/march_pdb_state_controller/march_pdb_state_controller.h
  march_pdb_state_controller/src/march_pdb_state_controller.cpp
Due: production, test

Added new default configurations for using the flake8 addition locally and in travis Ci.
  .flake8
  .travis.yml
Due: none

Create temperature module
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/temperature/temperature_ges.h
  march_hardware/include/march_hardware/temperature/temperature_sensor.h
  march_hardware/src/MarchRobot.cpp
  march_hardware/src/temperature/temperature_ges.cpp
  march_hardware/test/TestTemperatureGES.cpp
  march_hardware/test/mocks/MockTemperatureGES.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
Due: production, test

Add imotioncube module
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/imotioncube/actuation_mode.h
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/imotioncube_state.h
  march_hardware/include/march_hardware/imotioncube/imotioncube_target_state.h
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/imotioncube/imotioncube_target_state.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Rename joint and march_robot
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/ethercat/ethercat_master.h
  march_hardware/include/march_hardware/joint.h
  march_hardware/include/march_hardware/march_robot.h
  march_hardware/src/joint.cpp
  march_hardware/src/march_robot.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockJoint.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production, test

Using the right bash operator to configure multiple AFTER_INSTALL_TARGET_DEPENDENCIES.
  .travis.yml
Due: none

Put target dependencies of the travis file in the correct order.
  .travis.yml
Due: none

Fix naming march_hardware tests
  march_hardware/CMakeLists.txt
  march_hardware/test/encoder/absolute_encoder_test.cpp
  march_hardware/test/encoder/encoder_test.cpp
  march_hardware/test/encoder/incremental_encoder_test.cpp
  march_hardware/test/error/hardware_exception_test.cpp
  march_hardware/test/error/motion_error_test.cpp
  march_hardware/test/ethercat/pdo_map_test.cpp
  march_hardware/test/ethercat/slave_test.cpp
  march_hardware/test/imotioncube/imotioncube_test.cpp
  march_hardware/test/joint_test.cpp
  march_hardware/test/mocks/mock_absolute_encoder.h
  march_hardware/test/mocks/mock_encoder.h
  march_hardware/test/mocks/mock_imotioncube.h
  march_hardware/test/mocks/mock_incremental_encoder.h
  march_hardware/test/mocks/mock_joint.h
  march_hardware/test/mocks/mock_pdo_interface.h
  march_hardware/test/mocks/mock_sdo_interface.h
  march_hardware/test/mocks/mock_slave.h
  march_hardware/test/mocks/mock_temperature_ges.h
  march_hardware/test/power/boot_shutdown_offsets_test.cpp
  march_hardware/test/power/high_voltage_test.cpp
  march_hardware/test/power/low_voltage_test.cpp
  march_hardware/test/power/net_driver_offsets_test.cpp
  march_hardware/test/power/net_monitor_offsets_test.cpp
  march_hardware/test/power/power_distribution_board_test.cpp
  march_hardware/test/temperature/temperature_ges_test.cpp
  march_hardware/test/test_runner.cpp
Due: test

Fix naming in other tests
  march_hardware_builder/test/absolute_encoder_builder_test.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/incremental_encoder_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_builder/test/pdb_builder_test.cpp
  march_hardware_interface/CMakeLists.txt
  march_hardware_interface/test/pdb_state_interface_test.cpp
  march_hardware_interface/test/test_runner.cpp
Due: test

Update march_joint_inertia_controller/package.xml
  march_joint_inertia_controller/package.xml
Due: none

Make node names unique
  march_rqt_gait_selection/launch/march_rqt_gait_selection.launch
  march_rqt_input_device/launch/march_rqt_input_device.launch
Due: none

Add publishing alive msg with id
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
Due: production

Fix docstring
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
Due: production

Fix catkin lint
  march_joint_inertia_controller/package.xml
Due: none

Created a connection manager in order to establish connection with (multiple) odrives.
  odrive_interface/config/odrive/odrive-cache-2084387E304E.json
  odrive_interface/src/odrive_interface/odrive_connection_manager.py
  odrive_interface/src/odrive_interface/odrive_motor.py
Due: production

Created a node and launch file in order to test the odrive connection.
  odrive_interface/CMakeLists.txt
  odrive_interface/launch/odrive_interface.launch
  odrive_interface/scripts/odrive_interface_node
Due: none

Support ROS Noetic
  march_gait_files/CMakeLists.txt
  march_gait_files/package.xml
Due: none

Added new parameters to better implicate of what the structure will look like.
  odrive_interface/src/odrive_interface/odrive_motor.py
Due: production

Added Voltage to velocity calculation
  march_hardware/include/march_hardware/joint.h
  march_hardware/src/joint.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Changed variable naming
  march_hardware/src/joint.cpp
Due: production

Moved the connection manager as argument to the create odrive method of the odrive_motor.py object.
  odrive_interface/scripts/odrive_interface_node
  odrive_interface/src/odrive_interface/odrive_motor.py
Due: production

Added secure slack link to push build results to the designated march slack channel.
  .travis.yml
Due: none

Add id to instruction msg
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
Due: production

Make menus for selecting previous and next subgait. Remove unused Publish gait functionality
  march_rqt_gait_generator/resource/gait_generator.ui
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_plugin.py
Due: production

Make menus for selecting previous and next subgait. Remove unused Publish gait functionality
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_plugin.py
Due: production

Fix flake8?
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Fix flake8!
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production
