Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

New stairs down and stairs down single step default in airgait-v.
  march_gait_files/airgait-v/default.yaml
Due: none

Add diagnostics per ipd
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/topic_frequency.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Fix suggestions
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

Added a tilted_path_left_single_step right_open v6a with more foot clearance.
  march_gait_files/airgait-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v6a.subgait
Due: none

Added the active gait and subgait to the rqt_robot_monitor.
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Added the frequency check back in the code.
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Update plugin manifests
  march_rqt_gait_selection/plugin.xml
  march_rqt_input_device/plugin.xml
  march_rqt_input_device/resource/img/march-walking.png
  march_rqt_note_taker/plugin.xml
  march_rqt_software_check/plugin.xml
Due: none

Add march_monitor package
  march_monitor/CMakeLists.txt
  march_monitor/config/full_monitor.perspective
  march_monitor/launch/monitor.launch
  march_monitor/package.xml
  march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch
Due: none

Apply suggestions from code review
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
Due: production

Fix joint names
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Fix reading thresholds from parameter server
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
Due: production

Fix checking for temp thresholds
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
Due: production

Set other gaits default.
  march_gait_files/airgait-v/default.yaml
Due: none

Fixed the gait summary pop up menu and replaced the add updater to the constructor.
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
Due: production

Added an extra subgait dropdown menu since the ramp and door has six subgaits instead of five.
  march_rqt_gait_selection/resource/gait_selection.ui
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Efficient implemention of setpoint interpolation
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
Due: production, test

Created a new UI which the user can scale to a preffered size. This also includes dynamically scaling the dropdown menus of the versions.
  march_rqt_gait_selection/resource/gait_selection.ui
Due: none

Created a function which adds more subgait menu's and labels in case necessary.
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Lock start/endpoint
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_controller.py
Due: production

Clean code
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_view.py
Due: production

Fix flake8
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/side_subgait_controller.py
Due: production

Set Tilted Path default to version 6.
  march_gait_files/airgait-v/default.yaml
Due: none

Make walk closing steps v3a and set default in airgait-v.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/walk/left_close/MV_walk_leftclose_v3a.subgait
  march_gait_files/airgait-v/walk/right_close/MV_walk_rightclose_v3a.subgait
Due: none

Tuned the ankle trajectories of the v4 walk gait such that the effort doesn't exceed the maximum value
  march_gait_files/test_versions-v/walk/right_swing/MV_walk_rightswing_v4a.subgait
Due: none

Remove Python unicode.
  march_gait_files/test_versions-v/walk/right_swing/MV_walk_rightswing_v4a.subgait
Due: none

Earlier dorsiflexion
  march_gait_files/test_versions-v/walk/right_swing/MV_walk_rightswing_v4a.subgait
Due: none

Add ramp down single step gait to test_versions-v.
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/ramp_door_slope_down_single/left_close/MV_RD_slopedownsingle_leftclose_v1.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down_single/ramp_door_slope_down_single.gait
  march_gait_files/test_versions-v/ramp_door_slope_down_single/right_open/MV_RD_slopedownsingle_rightopen_v1.subgait
Due: none

Removed overloading of the constructor and passed default values to the class method.
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Add ramp down single step gait to input device.
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Fix tests
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_joint_trajectory_test.py
Due: production, test

recalibrate left knee limits
  march_hardware_builder/robots/march4.yaml
Due: none

Remove print oopsie
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: test

Made a new walking gait version, 4a, with ankle movements that are within the boundaries of the max effort plot
  march_gait_files/test_versions-v/walk/left_close/MV_walk_leftclose_v4a.subgait
  march_gait_files/test_versions-v/walk/left_swing/MV_walk_leftswing_v4a.subgait
  march_gait_files/test_versions-v/walk/right_close/MV_walk_rightclose_v4a.subgait
  march_gait_files/test_versions-v/walk/right_open/MV_walk_rightopen_v4a.subgait
Due: none

Write tests lock side subgaits
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: production, test

Ensure interpolation is done whenever a change is made
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
Due: production

Set the rate of the transform publisher equal to the one of the joint state pubslisher
  march_simulation/scripts/to_world_transform
Due: none

Fix indentation
  march_gait_files/training-v/default.yaml
Due: none

Implement new gait version service
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_controller.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Fix service error handling
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_controller.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_errors.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
