Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Shorten buton naming, fix bugs and limit size of gui objects
  march_rqt_gait_generator/resource/gait_generator.ui
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
Due: production

Add secure slack link to travis settings to notify builds.
  .travis.yml
Due: none

Update CMake version
  march_hardware/CMakeLists.txt
  march_hardware_builder/CMakeLists.txt
  march_hardware_interface/CMakeLists.txt
  march_imu_manager/CMakeLists.txt
  march_joint_inertia_controller/CMakeLists.txt
  march_pdb_state_controller/CMakeLists.txt
  march_temperature_sensor_controller/CMakeLists.txt
Due: none

Fix catkin lint
  march_hardware/CMakeLists.txt
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/package.xml
  march_hardware_interface/package.xml
  march_imu_manager/CMakeLists.txt
  march_imu_manager/package.xml
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/package.xml
  march_pdb_state_controller/CMakeLists.txt
  march_pdb_state_controller/package.xml
  march_temperature_sensor_controller/CMakeLists.txt
  march_temperature_sensor_controller/package.xml
Due: none

Update package manifest version
  march_hardware/package.xml
  march_hardware_builder/package.xml
  march_hardware_interface/package.xml
  march_imu_manager/package.xml
  march_joint_inertia_controller/package.xml
  march_pdb_state_controller/package.xml
  march_temperature_sensor_controller/package.xml
Due: none

Remove unnecessary deps
  .travis.yml
Due: none

Fixed the wrong references caused by a refactor.
  doc/march_packages/march_hardware.rst
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Changed float to double
  march_hardware/src/joint.cpp
Due: production

Removed variable to get velocity and fixed .h files
  march_hardware/include/march_hardware/joint.h
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fixed wrong variable removal
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Combine errors into one big error
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

create minimal gait directory with home stand and walk
  march_gait_files/minimal/home/home.gait
  march_gait_files/minimal/home/home_stand/MIV_final.subgait
  march_gait_files/minimal/walk/left_close/MIV_final.subgait
  march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v1.subgait
  march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v2.subgait
  march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v3.subgait
  march_gait_files/minimal/walk/left_close/MV_walk_leftclose_v5.subgait
  march_gait_files/minimal/walk/left_swing/MIV_final.subgait
  march_gait_files/minimal/walk/left_swing/MV_walk_leftswing_v1.subgait
  march_gait_files/minimal/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_gait_files/minimal/walk/left_swing/MV_walk_leftswing_v5.subgait
  march_gait_files/minimal/walk/right_close/MIV_final.subgait
  march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v1.subgait
  march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v2.subgait
  march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v3.subgait
  march_gait_files/minimal/walk/right_close/MV_walk_rightclose_v5.subgait
  march_gait_files/minimal/walk/right_open/MIV_final.subgait
  march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v1.subgait
  march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v2.subgait
  march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v3.subgait
  march_gait_files/minimal/walk/right_open/MV_walk_rightopen_v5.subgait
  march_gait_files/minimal/walk/right_swing/MIV_final.subgait
  march_gait_files/minimal/walk/right_swing/MV_walk_rightswing_v1.subgait
  march_gait_files/minimal/walk/right_swing/MV_walk_rightswing_v2.subgait
  march_gait_files/minimal/walk/right_swing/MV_walk_rightswing_v5.subgait
  march_gait_files/minimal/walk/walk.gait
Due: none

add default.yaml to new gait directory
  march_gait_files/minimal/default.yaml
Due: none

Add to CMakeLists.txt and change home.gait to not include home sit
  march_gait_files/CMakeLists.txt
  march_gait_files/minimal/home/home.gait
Due: none

Remove test tutorials
  CMakeLists.txt
  doc/development/ros_test_tutorial/CMakeLists.txt
  doc/development/ros_test_tutorial/include/ros_test_tutorial/Add.h
  doc/development/ros_test_tutorial/src/Add.cpp
  doc/development/ros_test_tutorial/src/ros_test_tutorial/__init__.py
  doc/development/ros_test_tutorial/src/ros_test_tutorial/multiply.py
  doc/development/testing.rst
  package.xml
  setup.py
Due: none

Add links to test tutorials
  doc/development/testing.rst
Due: none

Add rules on structuring tests
  doc/development/testing.rst
Due: none

Update README
  README.md
Due: none

Remove tutorialformatter
  _scripts/tutorialformatter.py
  conf.py
Due: none

Remove broken watch script
  watch.py
Due: none

Remove unused clang format
  .clang-format
Due: none

Update doc/development/testing.rst
  doc/development/testing.rst
Due: none

Update the documentation about the documentation
  conf.py
  doc/development/documentation.rst
Due: none

Fix readme
  README.md
Due: none

Change variable names
  march_hardware/src/joint.cpp
Due: production

Added weblink to calculation
  march_hardware/src/joint.cpp
Due: production

Added description to weblink
  march_hardware/src/joint.cpp
Due: production

Used the migrated subgait functions and refactored the gait generator modifiable_subgait.py a bit.
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Convert all set_duration to the proper rescale function of the subgait class.
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
Due: production, test

Update march_hardware/src/joint.cpp
  march_hardware/src/joint.cpp
Due: production

Updated the test files of the gait generator, updated the gait generator controller with the new function and changed the has_multiple_setpoints_before_duration function.
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
Due: production, test

Add stairs_up version 13 to airgait-v and set as default.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v13.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v13.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v13.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v13.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v13.subgait
Due: none

fix sw file check
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

Add stairs_up version 14 to airgait-v.
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v14.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v14.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v14.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v14.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v14.subgait
Due: none

Set walk open and close subgaits v3 default in airgait-v.
  march_gait_files/airgait-v/default.yaml
Due: none

add return value to the override method because travis doesn't recognize the function as part of the parent class.
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Add stairs up single step version 4.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_up_single_step/left_close/MV_stairsup_single_leftclose_v4.subgait
  march_gait_files/airgait-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v4.subgait
Due: none

Add stairs up single step version 5.
  march_gait_files/airgait-v/stairs_up_single_step/left_close/MV_stairsup_single_leftclose_v5.subgait
  march_gait_files/airgait-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v5.subgait
Due: none

code indents were wrong because I did not open clion.
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Changed it back to original format.
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
