Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

add link to setup assistant tutorials
  doc/march_packages/march_moveit.rst
Due: none

Move three new subgaits to training-v
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/ramp_door_last_step/left_close/MV_RD_laststep_leftclose_v5.subgait
  march_gait_files/training-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v10.subgait
  march_gait_files/training-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v10.subgait
Due: none

CHange z1.. variables back to vectors for efficiency
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

remove unnecessary return
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

Apply suggestions from code review
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

implement ranged for loops and remove unused functions
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

change iterator + 1 back to iterator++ because of build failures. These are probably due to the overloading of the ++ operator.
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

Add vibration boundaries to the yaml so that we may easily change this value when tuning.
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

change the yaml file to use lists
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
Due: none

move control points one level lower in yaml as they should have been from the start
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
Due: none

Set walk MIV_final default in training-v.
  march_gait_files/training-v/default.yaml
Due: none

Make Stairs v17, with subgaits 3 seconds.
  march_gait_files/airgait-v/stairs_up/left_close/MV_stairsup_leftclose_v17.subgait
  march_gait_files/airgait-v/stairs_up/left_swing/MV_stairsup_leftswing_v17.subgait
  march_gait_files/airgait-v/stairs_up/right_close/MV_stairsup_rightclose_v17.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v17.subgait
  march_gait_files/airgait-v/stairs_up/right_swing/MV_stairsup_rightswing_v17.subgait
Due: none

Set stairs up v17 default in airgait-v.
  march_gait_files/airgait-v/default.yaml
Due: none

Add slower slalom walk swings and set default in airgait-v.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/slalom_walk/left_swing/MV_slalom_leftswing_v2.subgait
  march_gait_files/airgait-v/slalom_walk/right_swing/MV_slalom_rightswing_v2.subgait
Due: none

Add gait types to positions
  march_gait_files/airgait-v/default.yaml
  march_gait_files/minimal/default.yaml
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/training-v/default.yaml
Due: none

Add single step mini and adjust duration slalom walk.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/single_step_mini/left_close/MV_singlemini_leftclose_v1.subgait
  march_gait_files/airgait-v/single_step_mini/right_open/MV_singlemini_rightopen_v1.subgait
  march_gait_files/airgait-v/single_step_mini/single_step_mini.gait
  march_gait_files/airgait-v/slalom_walk/left_swing/MV_slalom_leftswing_v2.subgait
  march_gait_files/airgait-v/slalom_walk/right_swing/MV_slalom_rightswing_v2.subgait
Due: none

Add single step mini to ipd
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Fix ending setpoint single step mini
  march_gait_files/airgait-v/single_step_mini/right_open/MV_singlemini_rightopen_v1.subgait
Due: none

added all new values
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_interface/config/test_joint_rotational/controllers.yaml
Due: none

Add the rotational test joint yaml to the allowed robot test.
  march_hardware_builder/test/allowed_robot_test.cpp
Due: test

add soft limits to linear test joint yaml and set rotational joint to torque mode
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_interface/config/test_joint_linear/controllers.yaml
Due: none

Updated naming in the rotational test in the allowed robot test.
  march_hardware_builder/test/allowed_robot_test.cpp
Due: test

implement Olav's suggestion that so that a controller type may be chosen in the launch file
  march_simulation/config/effort_control/march3.yaml
  march_simulation/config/effort_control/march4.yaml
  march_simulation/config/effort_control/test_joint_rotational.yaml
  march_simulation/config/inertia_control/march4.yaml
  march_simulation/launch/march_world.launch
Due: none

move all version split functionality to subgait class
  march_hardware_interface/config/march4/controllers.yaml
Due: none

New gaits to training-v
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/single_step_mini/left_close/MV_singlemini_leftclose_v1.subgait
  march_gait_files/training-v/single_step_mini/right_open/MV_singlemini_rightopen_v1.subgait
  march_gait_files/training-v/single_step_mini/single_step_mini.gait
  march_gait_files/training-v/slalom_walk/left_swing/MV_slalom_leftswing_v2.subgait
  march_gait_files/training-v/slalom_walk/right_swing/MV_slalom_rightswing_v2.subgait
  march_gait_files/training-v/stairs_up/left_close/MV_stairsup_leftclose_v17.subgait
  march_gait_files/training-v/stairs_up/left_swing/MV_stairsup_leftswing_v17.subgait
  march_gait_files/training-v/stairs_up/right_close/MV_stairsup_rightclose_v17.subgait
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v17.subgait
  march_gait_files/training-v/stairs_up/right_swing/MV_stairsup_rightswing_v17.subgait
Due: none

Set stairs v17 default
  march_gait_files/training-v/default.yaml
Due: none

new min and max positions
  march_hardware_builder/robots/march4.yaml
Due: none

undo accidental commit
  march_hardware_interface/config/march4/controllers.yaml
Due: none

Add stairs up right open v16a and v17a
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v16a.subgait
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v17a.subgait
Due: none

Set v17a default
  march_gait_files/airgait-v/default.yaml
Due: none

move to training
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v16a.subgait
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v17a.subgait
Due: none

17a default
  march_gait_files/training-v/default.yaml
Due: none

Set new slalom gait default
  march_gait_files/training-v/default.yaml
Due: none

remove max frequency for ipd monitor
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/check_input_device.py
Due: production

Add large walk to walk
  march_gait_files/minimal/default.yaml
  march_gait_files/minimal/walk/left_close_large/MV_walklarge_leftclose_v1.subgait
  march_gait_files/minimal/walk/left_swing_large/MV_walklarge_leftswing_v1.subgait
  march_gait_files/minimal/walk/right_close_large/MV_walklarge_rightclose_v1.subgait
  march_gait_files/minimal/walk/right_swing_large/MV_walklarge_rightswing_v1.subgait
  march_gait_files/minimal/walk/walk.gait
Due: none

Fix gait name
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Add missing runtime dependency in simulation
  march_simulation/package.xml
Due: none

Fix failing test (#106)
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: test

Initialize varialbes
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
