Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

instead of reference passing use return types only
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Slave.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware/test/mocks/MockTemperatureGES.cpp
Due: production, test

Fixed bug in TP right knee bend gait
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

clang fix
  march_hardware/src/IMotionCube.cpp
Due: production

Fix tests
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
Due: test

tidy up writingInitialSettings method
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
Due: production

small rewrite of docstring
  march_hardware/include/march_hardware/IMotionCube.h
Due: none

Add explanation for return value
  march_hardware/src/IMotionCube.cpp
Due: production

Try to fix CMakeLists #5
  march_gazebo_plugins/CMakeLists.txt
  march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/stairs_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
Due: production

Copied TP single step and straight end to airgait-v, deleted flexed_knee_step.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/tilted_path_right_flexed_knee_step/tilted_path_right_flexed_knee_step.gait
  march_gait_files/airgait-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v8.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v4.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v5.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v6.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v7.subgait
  march_gait_files/airgait-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v8.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v4.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v5.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v6.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v7.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v8.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v8.subgait
Due: none

Move things to initializer list, calculate mass only once
  march_gazebo_plugins/CMakeLists.txt
  march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/stairs_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
Due: production

Split controller and calculation of goal position
  march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/stairs_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/walk_controller.h
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
Due: production

Add warning and comment
  march_gazebo_plugins/src/obstacle_controller.cpp
Due: production

Try to fix CMakeLists #6
  march_gazebo_plugins/CMakeLists.txt
Due: none

Add custom css sphinx 1.6.7
  conf.py
  requirements.txt
Due: none

Add image button
  march_rqt_input_device/src/march_rqt_input_device/image_button.py
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Update message on URDF error
  march_hardware/src/error/error_type.cpp
Due: production

Add custom domain deploying (#140)
  .travis.yml
Due: none

?
  march_hardware/src/IMotionCube.cpp
Due: production

Add graying out image buttons when disabled
  march_rqt_input_device/src/march_rqt_input_device/image_button.py
Due: production

Fix styling for text buttons
  march_rqt_input_device/resource/input_device.ui
Due: none

Update buttons when gait has been accepted
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Ignore paintEvent name
  .flake8
Due: none

Set to only deploy on push
  .travis.yml
Due: none

Update gait files documentation
  doc/march_packages/march_gait_files.rst
Due: none

Fix automatic scrolling
  march_rqt_input_device/resource/input_device.ui
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Remove TODO and obsolete notes
  doc/using_the_march_exoskeleton/using_the_gait_generator.rst
Due: none

Remove obsolete TODO in gait files
  doc/march_packages/march_gait_files.rst
Due: none

Add link to the gait generator tutorial
  doc/march_packages/march_gait_files.rst
Due: none

Fix Link
  doc/march_packages/march_gait_files.rst
Due: none

Update documentation on CoM controller
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
Due: production

Update documentation on CoM controller
  doc/march_packages/images/axes_of_rotation.png
  doc/march_packages/march_simulation.rst
Due: none

Update gait generator tutorials
  doc/using_the_march_exoskeleton/using_the_gait_generator.rst
Due: none

Change name to Max Effort Plot
  march_rqt_gait_generator/resource/gait_generator.ui
Due: none

new lhaa sw file
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware_builder/config/left_hip_aa.sw
Due: production

cang fix
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

use marchrobot for full reset
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

fixed that shizle
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

change load sensor reverse counter to off in sw file for LHAA
  march_hardware_builder/config/left_hip_aa.sw
Due: none

fix incorrect naming in createPowerDistributionBoard
  march_hardware_builder/src/hardware_builder.cpp
Due: production

fix unnesessary print statements
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
