Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Use the error soft limits inside the outsideLimitCheck in the hardware interface loop and only error if these boundaries are crossed. otherwise produce an error.
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

increased the margin of the soft limit error to more realistic values.
  march_hardware_interface/config/march4/controllers.yaml
Due: none

Slightly reformat the CMakeLists.txt and removed an unnecessary comment
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: none

Updated the controller.yaml new variable names a more representative name.
  march_hardware_interface/config/march4/controllers.yaml
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Added an extra check to the constructing of the soft limit error values to verify that the margin is not above 1.0
  march_hardware_interface/config/march4/controllers.yaml
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Moved getSoftLimitsError function to private and uncommented the start ethercat
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add trajectory controller to plugin xml
  march_joint_inertia_controller/controller_plugins.xml
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: none

Changed the right_open again
  march_gait_files/test_versions-v/stairs_down/right_open/MV_stairsdown_rightopen_v6a.subgait
Due: none

New version of stairs up right open and stairs up single step.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/stairs_up/right_open/MV_stairsup_rightopen_v15a.subgait
  march_gait_files/airgait-v/stairs_up_single_step/left_close/MV_stairsup_single_leftclose_v7.subgait
  march_gait_files/airgait-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v7.subgait
Due: none

Import and export new subgait format
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Fix tests
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
  march_rqt_gait_generator/test/resources/walk/left_close/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v1.subgait
  march_rqt_gait_generator/test/resources/walk/left_close/MV_walk_leftclose_v2.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v1.subgait
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_close/MV_walk_rightclose_v2_seven_joints.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_open/MV_walk_rightopen_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MIV_final.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v1.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
Due: production, test

Removed the redundant comment.
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
Due: none

Set new stairs subgaits default in training-v.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v15a.subgait
  march_gait_files/training-v/stairs_up_single_step/left_close/MV_stairsup_single_leftclose_v7.subgait
  march_gait_files/training-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v7.subgait
Due: none

Set MIV final stairs down default
  march_gait_files/training-v/default.yaml
Due: none

Fix indents
  march_gait_files/training-v/default.yaml
Due: none

fix dependency issues upon actionlib and fix vribration calculation using standard math.h library
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/package.xml
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

small refactor
  march_joint_inertia_controller/package.xml
Due: none

fix Travis build errors
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
Due: none

more fixing of Travis builds
  march_joint_inertia_controller/CMakeLists.txt
Due: none

Fix name typo
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Remove gait generator setter
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_joint_trajectory.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  march_rqt_gait_generator/test/nosetests/modifiable_subgait_test.py
Due: production, test

clang
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
Due: none

Change subgait format
  march_gait_files/minimal/balance_walk/left_close/MIV_final.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v1.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v2.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v3.subgait
  march_gait_files/minimal/balance_walk/left_close/MV_walk_leftclose_v5.subgait
  march_gait_files/minimal/balance_walk/left_swing/MV_balancewalk_leftswing_v1.subgait
  march_gait_files/minimal/balance_walk/left_swing_1/MV_balancewalk_leftswing1_v2.subgait
  march_gait_files/minimal/balance_walk/left_swing_2/MV_balancewalk_leftswing2_v2.subgait
  march_gait_files/minimal/balance_walk/right_close/MIV_final.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v1.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v2.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v3.subgait
  march_gait_files/minimal/balance_walk/right_close/MV_walk_rightclose_v5.subgait
  march_gait_files/minimal/balance_walk/right_open/MV_balancewalk_rightopen_v1.subgait
  march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v2.subgait
  march_gait_files/minimal/balance_walk/right_open_1/MV_balancewalk_rightopen1_v3.subgait
  march_gait_files/minimal/balance_walk/right_open_2/MV_balancewalk_rightopen2_v2.subgait
  march_gait_files/minimal/balance_walk/right_swing/MV_balancewalk_rightswing_v1.subgait
  march_gait_files/minimal/balance_walk/right_swing_1/MV_balancewalk_rightswing1_v2.subgait
  march_gait_files/minimal/balance_walk/right_swing_2/MV_balancewalk_rightswing2_v2.subgait
Due: none

changed the yaml to look like the standard one changed an ampersant for the clang
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: none

Update subgait format
  march_gait_files/training-v/ramp_door_last_step/left_close/MV_RD_laststep_leftclose_v2.subgait
  march_gait_files/training-v/ramp_door_last_step/right_open/MV_RD_laststep_rightopen_v2.subgait
  march_gait_files/training-v/ramp_door_slope_down/left_close/MV_RD_slopedown_leftclose_v5.subgait
  march_gait_files/training-v/ramp_door_slope_down/left_open/MV_RD_slopedown_leftopen_v5.subgait
  march_gait_files/training-v/ramp_door_slope_down/left_swing/MV_RD_slopedown_leftswing_v5.subgait
  march_gait_files/training-v/ramp_door_slope_down/right_close/MV_RD_slopedown_rightclose_v5.subgait
  march_gait_files/training-v/ramp_door_slope_down/right_open/MV_RD_slopedown_rightopen_v5.subgait
  march_gait_files/training-v/ramp_door_slope_down/right_swing/MV_RD_slopedown_rightswing_v5.subgait
  march_gait_files/training-v/ramp_door_slope_down_single/left_close/MV_RD_slopedownsingle_leftclose_v1.subgait
  march_gait_files/training-v/ramp_door_slope_down_single/right_open/MV_RD_slopedownsingle_rightopen_v1.subgait
  march_gait_files/training-v/ramp_door_slope_up/left_close/MV_RD_slopeup_leftclose_v1.subgait
  march_gait_files/training-v/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v2.subgait
  march_gait_files/training-v/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v2.subgait
  march_gait_files/training-v/ramp_door_slope_up/right_close/MV_RD_slopeup_rightclose_v1.subgait
  march_gait_files/training-v/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v2.subgait
  march_gait_files/training-v/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v2.subgait
  march_gait_files/training-v/rough_terrain_first_middle_step/left_close/MV_RT_first_middlestep_leftclose_v3.subgait
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v15a.subgait
  march_gait_files/training-v/stairs_up_single_step/left_close/MV_stairsup_single_leftclose_v7.subgait
  march_gait_files/training-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v7.subgait
Due: none

Fix subgait format
  march_gait_files/test_versions-v/stairs_down/right_open/MV_stairsdown_rightopen_v6a.subgait
Due: none

Stairs down version 7
  march_gait_files/test_versions-v/stairs_down/left_close/MV_stairsdown_leftclose_v7.subgait
  march_gait_files/test_versions-v/stairs_down/left_swing/MV_stairsdown_leftswing_v7.subgait
  march_gait_files/test_versions-v/stairs_down/right_close/MV_stairsdown_rightclose_v7.subgait
  march_gait_files/test_versions-v/stairs_down/right_open/MV_stairsdown_rightopen_v7.subgait
  march_gait_files/test_versions-v/stairs_down/right_swing/MV_stairsdown_rightswing_v7.subgait
Due: none

Adjusted right_open
  march_gait_files/test_versions-v/stairs_down/right_open/MV_stairsdown_rightopen_v7.subgait
Due: none

Fix gait goal variables
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/gait_state.py
Due: production

add new feature to yaml file to be used when interpolating between gains
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
Due: none

Add stairs swing version 8
  march_gait_files/test_versions-v/stairs_down/left_swing/MV_stairsdown_leftswing_v8.subgait
  march_gait_files/test_versions-v/stairs_down/right_swing/MV_stairsdown_rightswing_v8.subgait
Due: none

Add full version 8 of stairs down
  march_gait_files/test_versions-v/stairs_down/left_close/MV_stairsdown_leftclose_v8.subgait
  march_gait_files/test_versions-v/stairs_down/right_close/MV_stairsdown_rightclose_v8.subgait
  march_gait_files/test_versions-v/stairs_down/right_open/MV_stairsdown_rightopen_v8.subgait
  march_gait_files/test_versions-v/stairs_down/right_swing/MV_stairsdown_rightswing_v8.subgait
Due: none

Fix python unicode
  march_gait_files/test_versions-v/stairs_down/right_open/MV_stairsdown_rightopen_v8.subgait
Due: none

Open en swing ramp down v6, made from stairs down v8
  march_gait_files/test_versions-v/ramp_door_slope_down/left_swing/MV_RD_slopedown_leftswing_v6.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down/right_open/MV_RD_slopedown_rightopen_v6.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down/right_swing/MV_RD_slopedown_rightswing_v6.subgait
Due: none

Add fixed steps ramp down button to ipd
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Made gait folder in test_versions-v for fixed steps ramp down
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/ramp_door_slope_down_fixed.gait
Due: none

add briefs to all functions in header files, also add default values for lambda_ and acc_size_ in constructor so they may be filled from a parameter server ;later
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/src/inertia_estimator.cpp
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

clang fix
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
