Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Effort to 0 for test
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Improve comments and replace assert
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/test/encoder/TestIncrementalEncoder.cpp
Due: production, test

Fix robot model launch file
  CMakeLists.txt
  doc/useful_ros_tools/launch/robot_model.launch
  package.xml
Due: none

Add rqt page
  doc/useful_ros_tools/images/rqt_perspective.png
  doc/useful_ros_tools/rqt.rst
  doc/using_the_march_exoskeleton/how_to_view_live_data.rst
  index.rst
Due: none

Add gazebo and ros_control page
  doc/useful_ros_tools/gazebo.rst
  doc/useful_ros_tools/images/gazebo.png
  doc/useful_ros_tools/ros_control.rst
  index.rst
Due: none

Update how to airgait
  doc/using_the_march_exoskeleton/how_to_airgait.rst
Due: none

Update march_launch documentation
  doc/march_packages/march_launch.rst
Due: none

Move software check to separate page
  doc/march_packages/march_launch.rst
  doc/march_packages/march_rqt_software_check.rst
  index.rst
Due: none

Remove march_rqt_launch_menu
  doc/march_packages/march_rqt_launch_menu.rst
  index.rst
Due: none

Add style guide page
  doc/development/style_guide.rst
  doc/development/testing.rst
  index.rst
Due: none

Fix CI lines
  doc/continuous_integration/continuous_integration.rst
Due: none

Move rqt software check to here
  .flake8
  march_rqt_software_check/CMakeLists.txt
  march_rqt_software_check/launch/checks/git_branch.launch
  march_rqt_software_check/launch/checks/slave_count.launch
  march_rqt_software_check/launch/march_rqt_software_check.launch
  march_rqt_software_check/package.xml
  march_rqt_software_check/plugin.xml
  march_rqt_software_check/resource/img/march-walking.png
  march_rqt_software_check/resource/software_check.ui
  march_rqt_software_check/scripts/march_git_branch_check
  march_rqt_software_check/scripts/march_rqt_software_check
  march_rqt_software_check/setup.py
  march_rqt_software_check/src/march_rqt_software_check/__init__.py
  march_rqt_software_check/src/march_rqt_software_check/check_runner.py
  march_rqt_software_check/src/march_rqt_software_check/checks/__init__.py
  march_rqt_software_check/src/march_rqt_software_check/checks/gait_file_directory_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/git_branch_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/launch_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/slave_count_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/software_check.py
  march_rqt_software_check/src/march_rqt_software_check/checks/urdf_check.py
  march_rqt_software_check/src/march_rqt_software_check/color.py
  march_rqt_software_check/src/march_rqt_software_check/software_check.py
  march_rqt_software_check/src/march_rqt_software_check/software_check_thread.py
Due: production

Fix PR suggestions
  doc/march_packages/march_rqt_software_check.rst
  doc/using_the_march_exoskeleton/how_to_airgait.rst
Due: none

Fix rospkg dependency
  march_rqt_software_check/package.xml
Due: none

Fix catkin lint
  march_rqt_software_check/CMakeLists.txt
Due: none

fill absolute encoder value in imc state msg
  march_hardware/include/march_hardware/IMotionCubeState.h
  march_hardware/src/Joint.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add gait generator to rqt plugins
  doc/useful_ros_tools/rqt.rst
Due: none

Setup test for prepareActuation
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
  march_hardware/test/TestJoint.cpp
Due: production, test

rename ImcErroState.msg to ImcState.msg
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix todos for march_safety
  doc/march_packages/march_input_device.rst
  doc/march_packages/march_rqt_input_device.rst
Due: none

Remove trajectory safety, since that no longer exists
  doc/march_packages/march_safety.rst
Due: none

Add subscribed topics
  doc/march_packages/march_safety.rst
Due: none

Fix tutorial on adding safety type
  doc/march_packages/march_safety.rst
Due: none

Make references to code consistent monospace
  doc/march_packages/march_safety.rst
Due: none

Write lots of tests for GaitGeneratorController
  march_rqt_gait_generator/launch/march_rqt_gait_generator.launch
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
  march_rqt_gait_generator/test/launch/testing_gait_generator_controller.test
  march_rqt_gait_generator/test/resources/walk/left_swing/MV_walk_leftswing_v2.subgait
  march_rqt_gait_generator/test/resources/walk/right_swing/MV_walk_rightswing_v2.subgait
  march_rqt_gait_generator/test/rostests/gait_generator_controller_test
Due: production, test

Fix two bugs
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Remove last QT dependency from gait_generator_controller
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: production

Move user_interface_controller methods to controller and view classes
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
Due: production

Moved table related methods to JointTableHandler class
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_table_controller.py
Due: production

Write test for start/stop time slider thread
  march_rqt_gait_generator/test/rostests/gait_generator_controller_test
Due: test

Remove rosnode depency of GaitGeneratorController tests
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/package.xml
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  march_rqt_gait_generator/test/launch/testing_gait_generator_controller.test
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  march_rqt_gait_generator/test/run_tests.py
Due: production, test

Add pid updates plot
  multiplot_configurations/pid_updates.xml
Due: none

add title and axis off to PID values
  multiplot_configurations/pid_updates.xml
Due: none

Add documentation for march_description (#121)
  doc/march_packages/march_description.rst
  doc/march_packages/march_hardware_builder.rst
  index.rst
Due: none

Add virtual destructors and delete copy
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/Slave.h
  march_hardware/include/march_hardware/TemperatureGES.h
  march_hardware/include/march_hardware/TemperatureSensor.h
  march_hardware/include/march_hardware/encoder/AbsoluteEncoder.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/include/march_hardware/encoder/IncrementalEncoder.h
Due: none

Make Imotioncube and encoders injectable
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/include/march_hardware/encoder/AbsoluteEncoder.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockEncoder.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
Due: production, test

add pid terms plot
  multiplot_configurations/pid_terms.xml
Due: none

Refactor joint to be less mutable
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/TestJoint.cpp
Due: production, test

Split plugin into plugin and wiget
  march_rqt_gait_generator/plugin.xml
  march_rqt_gait_generator/resource/gait_generator.ui
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_plugin.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: production, test
