Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Added the correct image for the TP single step now.
  march_rqt_input_device/resource/img/gait_tilted_path_left_single_step.png
  march_rqt_input_device/resource/img/gait_tilted_path_right_single_step.png
Due: none

Fix length of line.
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Update travis yaml
  .travis.yml
Due: none

Add reviewdog workflow
  .github/CODEOWNERS
  .github/workflows/reviewdog.yml
Due: none

Change the rules for languagetools
  .github/workflows/reviewdog.yml
Due: none

Fix misspellings
  doc/development/testing.rst
  doc/march_packages/march_rqt_input_device.rst
  doc/march_packages/march_simulation.rst
  doc/useful_tools/event_stream_processing.rst
  doc/useful_tools/robot_model.rst
  doc/useful_tools/smach.rst
Due: none

Fix yaml
  .github/workflows/reviewdog.yml
Due: none

Change checks to pr only
  .github/workflows/reviewdog.yml
Due: none

Fix most of the languagetools notices
  doc/continuous_integration/continuous_integration.rst
  doc/development/documentation.rst
  doc/development/style_guide.rst
  doc/development/testing.rst
  doc/getting_started/create_your_workspace.rst
  doc/march_packages/march_data_collector.rst
  doc/march_packages/march_fake_sensor_data.rst
  doc/march_packages/march_gait_selection.rst
  doc/march_packages/march_hardware.rst
  doc/march_packages/march_hardware_builder.rst
  doc/march_packages/march_imu_manager.rst
  doc/march_packages/march_input_device.rst
  doc/march_packages/march_rqt_input_device.rst
  doc/march_packages/march_rqt_software_check.rst
  doc/march_packages/march_safety.rst
  doc/march_packages/march_state_machine.rst
  doc/useful_tools/ros_bag.rst
  doc/useful_tools/ros_control.rst
  doc/useful_tools/rqt.rst
  doc/using_the_march_exoskeleton/connecting_to_the_exoskeleton.rst
  doc/using_the_march_exoskeleton/error_codes.rst
  doc/using_the_march_exoskeleton/how_to_airgait.rst
  doc/using_the_march_exoskeleton/using_the_gait_generator.rst
Due: none

Fix build
  doc/march_packages/march_safety.rst
  doc/using_the_march_exoskeleton/using_the_gait_generator.rst
Due: none

Change images rocker switch.
  march_rqt_input_device/resource/img/rocker_switch_down.png
  march_rqt_input_device/resource/img/rocker_switch_up.png
Due: none

Fix ros dependencies
  march_fake_sensor_data/CMakeLists.txt
  march_fake_sensor_data/package.xml
  march_gazebo_plugins/package.xml
  march_simulation/CMakeLists.txt
  march_simulation/package.xml
Due: none

Fix removing dependency
  .travis.yml
Due: none

Add roscpp to build dependency
  march_gazebo_plugins/CMakeLists.txt
Due: none

Move TP version 7 to airgait-v.
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v7.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v7.subgait
Due: none

correct update of relative position in partial update
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Change warning message
  march_hardware/src/Joint.cpp
Due: production

add pdb to yaml
  march_hardware_builder/robots/march4.yaml
Due: none

Feature: coverage report (#94)
  .coveragerc
  .flake8
  .travis.yml
  README.md
  codecov.yml
  coverage.sh
  march_rqt_gait_generator/CMakeLists.txt
  march_rqt_gait_generator/src/march_rqt_gait_generator/__init__.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/__init__.py
Due: production

Remove copy of sphinx-rtd-theme and install using pip
  .travis.yml
  _static/css/override.css
  _themes/sphinx_rtd_theme/__init__.py
  _themes/sphinx_rtd_theme/breadcrumbs.html
  _themes/sphinx_rtd_theme/footer.html
  _themes/sphinx_rtd_theme/layout.html
  _themes/sphinx_rtd_theme/search.html
  _themes/sphinx_rtd_theme/searchbox.html
  _themes/sphinx_rtd_theme/static/css/badge_only.css
  _themes/sphinx_rtd_theme/static/css/badge_only.css.map
  _themes/sphinx_rtd_theme/static/css/theme.css
  _themes/sphinx_rtd_theme/static/css/theme.css.map
  _themes/sphinx_rtd_theme/static/fonts/FontAwesome.otf
  _themes/sphinx_rtd_theme/static/fonts/Inconsolata-Bold.ttf
  _themes/sphinx_rtd_theme/static/fonts/Inconsolata.ttf
  _themes/sphinx_rtd_theme/static/fonts/Lato-Bold.ttf
  _themes/sphinx_rtd_theme/static/fonts/Lato-Regular.ttf
  _themes/sphinx_rtd_theme/static/fonts/RobotoSlab-Bold.ttf
  _themes/sphinx_rtd_theme/static/fonts/RobotoSlab-Regular.ttf
  _themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.eot
  _themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.svg
  _themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.ttf
  _themes/sphinx_rtd_theme/static/fonts/fontawesome-webfont.woff
  _themes/sphinx_rtd_theme/static/js/modernizr.min.js
  _themes/sphinx_rtd_theme/static/js/theme.js
  _themes/sphinx_rtd_theme/theme.conf
  _themes/sphinx_rtd_theme/versions.html
  conf.py
  requirements.txt
Due: none

Fix styling
  _static/css/override.css
  conf.py
Due: none

Re-add sphinx-copybutton
  _static/css/override.css
  conf.py
  requirements.txt
Due: none

Add pygit2 as dependency
  requirements.txt
Due: none

Remove pygit2
  requirements.txt
Due: none

Fix too long comment
  march_hardware/src/IMotionCube.cpp
Due: production

Remove double quotes
  conf.py
Due: none

Remove copybutton again
  conf.py
  requirements.txt
Due: none

Fix Edit on Github link
  conf.py
Due: none

Fix favicon and logo
  conf.py
Due: none

Feature: add march hardware interface docs (#131)
  doc/march_packages/march_hardware_interface.rst
Due: none

add file object to IMotionCube constructor
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware_builder/config/LADPF_F6FGA.sw
  march_hardware_builder/config/LHAA_F6FGA.sw
  march_hardware_builder/config/LHFE_F6FGA.sw
  march_hardware_builder/config/LKFE_F6FGA.sw
  march_hardware_builder/config/Testjoint_F6FGA.sw
  march_hardware_builder/src/hardware_builder.cpp
Due: production, test

add ifstream objects to tests functions where necessary
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: test

Merge develop into current
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Check for change in voltage and encoder positions
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
Due: production

Fix comment
  march_hardware/src/Joint.cpp
Due: production

Fix logic oopsie
  march_hardware/src/Joint.cpp
Due: production

Underscore private variables
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
Due: production

Made new version of the slope down gait
  march_gait_files/airgait-v/stairs_down/left_close/MV_stairsdown_leftclose_v5.subgait
  march_gait_files/airgait-v/stairs_down/left_swing/MV_stairsdown_leftswing_v5.subgait
  march_gait_files/airgait-v/stairs_down/right_close/MV_stairsdown_rightclose_v5.subgait
  march_gait_files/airgait-v/stairs_down/right_open/MV_stairsdown_rightopen_v5.subgait
  march_gait_files/airgait-v/stairs_down/right_swing/MV_stairsdown_rightswing_v5.subgait
Due: none

Fix merge artifact
  march_hardware/src/Joint.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
