Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

clang spaces instead of tabs
  march_hardware/include/march_hardware/encoder/Encoder.h
Due: none

Set the paused argument to false if the balance argument is true, otherwise the movegroups cannot be initialised
  march_simulation/launch/march_world.launch
Due: none

change float to double for IU functions
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/IMotionCubeState.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/encoder/Encoder.cpp
Due: production

set joint_state_publisher frequency to 250 Hz
  march_hardware_interface/config/march4/controllers.yaml
Due: none

Fix hardware interface
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/test/TestPdbStateInterface.cpp
Due: production, test

Clean up code
  march_gazebo_plugins/CMakeLists.txt
  march_gazebo_plugins/include/march_gazebo_plugins/com_controller_plugin.h
  march_gazebo_plugins/include/march_gazebo_plugins/obstacle_controller.h
  march_gazebo_plugins/include/march_gazebo_plugins/stairs_controller.h
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
  march_simulation/launch/march_world.launch
Due: production

Clean up more code
  march_gazebo_plugins/src/com_controller_plugin.cpp
Due: production

Clang
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
Due: production

Apply suggestions from code review
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/encoder/Encoder.cpp
Due: production

Update Encoder.h
  march_hardware/include/march_hardware/encoder/Encoder.h
Due: none

add plot configuration with velocity from both encoders and the one used by the controller
  multiplot_configurations/velocity.xml
Due: none

remove having a minimum elapsed time
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Made first part of motor voltage reading
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/IMotionCubeState.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/PDOmap.cpp
Due: production

Added controller plugins
  march_joint_inertia_controller/controller_plugins.xml
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Updated package.xml and CMakeLists.txt
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/package.xml
Due: none

sw files: slow loop to 4ms
  march_hardware_builder/config/left_ankle.sw
  march_hardware_builder/config/left_hip_aa.sw
  march_hardware_builder/config/left_hip_fe.sw
  march_hardware_builder/config/left_knee.sw
  march_hardware_builder/config/right_ankle.sw
  march_hardware_builder/config/right_hip_aa.sw
  march_hardware_builder/config/right_hip_fe.sw
  march_hardware_builder/config/right_knee.sw
Due: none

update slow sample period of imc
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/encoder/Encoder.cpp
Due: production

remove minimal elapsed time variabl
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

fix oopsie
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Remove old slave
  march_hardware/include/march_hardware/Slave.h
Due: none

Fix suggestions
  march_hardware/src/PDOmap.cpp
Due: production

Added yaml, fixed building problems
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

first comit
  build_locally.sh
  doc/march_packages/march_gain_scheduling.rst
  index.rst
Due: none

Added the sub_index of a register to the explicit constructor of the IMCObject struct. This way the sub_index is added to the combined address which is send over CoE.
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/src/PDOmap.cpp
Due: production

Added tests to the TestPDOmap.cpp to verify the constructed combined address.
  march_hardware/test/TestPDOmap.cpp
Due: test

Fixed Formatting to clang format.
  march_hardware/include/march_hardware/PDOmap.h
Due: none

Created the first version of a new class which checks the joint states topic for the position, velocity and effort values of every joint and adds these to the robot monitor.
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
Due: production

Moved the temperature checks to the updater.py and added the new joint checks to the main. Also added the control category to the analyzers.yaml to group the joint state data
  march_rqt_robot_monitor/config/analyzers.yaml
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/control.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

Fix some names
  march_simulation/launch/march_world.launch
  march_simulation/obstacles/ramp_and_door.xacro
  march_simulation/obstacles/rough_terrain.xacro
  march_simulation/obstacles/stairs.xacro
  march_simulation/obstacles/tilted_path.xacro
Due: none

removed redundant operator when creating the combined address.
  march_hardware/include/march_hardware/PDOmap.h
Due: none

Fixed clang format
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Deleted comments
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Deleted comments from package.xml
  march_joint_inertia_controller/package.xml
Due: none

Changed naming of namespace
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
  march_joint_inertia_controller/controller_plugins.xml
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Fixed clang format
  march_hardware/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Add motor voltage reading
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/PDOmap.cpp
Due: production

sort joint names alphabetically in yaml
  march_hardware_builder/robots/march4.yaml
Due: none

Fixed merge conflicts conflict
  march_hardware/src/IMotionCube.cpp
Due: production

Fixed clang format
  march_hardware/src/IMotionCube.cpp
Due: production

Fixed right IMCObjectName
  march_hardware/src/IMotionCube.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
