Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

codecov.yml:

coverage:
  status:
    project:
      default: off
      production:
        target: auto
        flags:
          - production
fixes:
  - "src/hardware-interface/::"
flags:
  production:
    paths:
      - "*/src/**/*"
      - "*/src/*"
  test:
    paths:
      - "*/test/**/*"
      - "*/test/*"

Move new stairs/ramp down gaits to airgait-v folder
  march_gait_files/airgait-v/ramp_door_slope_down/left_close/MV_RD_slopedown_leftclose_v6.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/left_open/MV_RD_slopedown_leftopen_v6.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/left_swing/MV_RD_slopedown_leftswing_v6.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/right_close/MV_RD_slopedown_rightclose_v6.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/right_open/MV_RD_slopedown_rightopen_v6.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/right_swing/MV_RD_slopedown_rightswing_v6.subgait
  march_gait_files/airgait-v/stairs_down/left_close/MV_stairsdown_leftclose_v7.subgait
  march_gait_files/airgait-v/stairs_down/left_close/MV_stairsdown_leftclose_v8.subgait
  march_gait_files/airgait-v/stairs_down/left_close/MV_stairsdown_leftclose_v9.subgait
  march_gait_files/airgait-v/stairs_down/left_swing/MV_stairsdown_leftswing_v7.subgait
  march_gait_files/airgait-v/stairs_down/left_swing/MV_stairsdown_leftswing_v8.subgait
  march_gait_files/airgait-v/stairs_down/left_swing/MV_stairsdown_leftswing_v9.subgait
  march_gait_files/airgait-v/stairs_down/right_close/MV_stairsdown_rightclose_v7.subgait
  march_gait_files/airgait-v/stairs_down/right_close/MV_stairsdown_rightclose_v8.subgait
  march_gait_files/airgait-v/stairs_down/right_close/MV_stairsdown_rightclose_v9.subgait
  march_gait_files/airgait-v/stairs_down/right_open/MV_stairsdown_rightopen_v7.subgait
  march_gait_files/airgait-v/stairs_down/right_open/MV_stairsdown_rightopen_v8.subgait
  march_gait_files/airgait-v/stairs_down/right_open/MV_stairsdown_rightopen_v9.subgait
  march_gait_files/airgait-v/stairs_down/right_swing/MV_stairsdown_rightswing_v7.subgait
  march_gait_files/airgait-v/stairs_down/right_swing/MV_stairsdown_rightswing_v8.subgait
  march_gait_files/airgait-v/stairs_down/right_swing/MV_stairsdown_rightswing_v9.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down/left_close/MV_RD_slopedown_leftclose_v6.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down/left_open/MV_RD_slopedown_leftopen_v6.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down/right_close/MV_RD_slopedown_rightclose_v6.subgait
  march_gait_files/test_versions-v/stairs_down/left_close/MV_stairsdown_leftclose_v9.subgait
  march_gait_files/test_versions-v/stairs_down/left_swing/MV_stairsdown_leftswing_v9.subgait
  march_gait_files/test_versions-v/stairs_down/right_close/MV_stairsdown_rightclose_v9.subgait
  march_gait_files/test_versions-v/stairs_down/right_open/MV_stairsdown_rightopen_v9.subgait
  march_gait_files/test_versions-v/stairs_down/right_swing/MV_stairsdown_rightswing_v9.subgait
Due: none

Fix merged gait files
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/home/home.gait
  march_gait_files/airgait-v/home_sit/home_sit.gait
  march_gait_files/airgait-v/home_sit/home_sit/MIV_final.subgait
  march_gait_files/airgait-v/home_stand/home_stand.gait
  march_gait_files/airgait-v/home_stand/home_stand/MIV_final.subgait
  march_gait_files/minimal/balance_walk/balance_walk.gait
  march_gait_files/minimal/default.yaml
  march_gait_files/minimal/home_stand/home_stand.gait
  march_gait_files/minimal/home_stand/home_stand/MIV_final.subgait
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/home/home.gait
  march_gait_files/test_versions-v/home_sit/home_sit.gait
  march_gait_files/test_versions-v/home_sit/home_sit/MIV_ankle_2.5.subgait
  march_gait_files/test_versions-v/home_stand/home_stand.gait
  march_gait_files/test_versions-v/home_stand/home_stand/MIV_ankle_2.5.subgait
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/home/home.gait
  march_gait_files/training-v/home_sit/home_sit.gait
  march_gait_files/training-v/home_sit/home_sit/MIV_final.subgait
  march_gait_files/training-v/home_stand/home_stand.gait
  march_gait_files/training-v/home_stand/home_stand/MIV_final.subgait
  march_gait_files/training-v/ramp_door_last_step/ramp_door_last_step.gait
  march_gait_files/training-v/ramp_door_slope_down/ramp_door_slope_down.gait
  march_gait_files/training-v/ramp_door_slope_down_single/ramp_door_slope_down_single.gait
  march_gait_files/training-v/ramp_door_slope_up/ramp_door_slope_up.gait
Due: none

add estimator parameters for easier tuning
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

remove unnecessary private variables and comments
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

remove unnecessary libraries
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Add useful comments to yaml and specify it to be a template
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
Due: none

add velocity acquisition in starting function
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: none

add initial correlation coefficient calculation
  march_joint_inertia_controller/config/joint_inertia_controller.yaml
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

Add description to init_p function in inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
Due: none

change getParam to param so that a default value may be used and using the controller doesn't require large changes to the original yaml
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
Due: none

Change the controller to use the inertia estimator
  march_simulation/config/march4.yaml
Due: none

Apply suggestions from code review
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
Due: none

Adjust check for division by zero according to Rutger's comment
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

remove unnecessary zero initialization of vectors. Removing it did not break the controller
  march_joint_inertia_controller/src/inertia_estimator.cpp
Due: production

Created a new error array designated to describe the second detailed motion error register.
  march_hardware/include/march_hardware/error/motion_error.h
  march_hardware/include/march_hardware/ethercat/pdo_map.h
  march_hardware/src/error/motion_error.cpp
  march_hardware/src/ethercat/pdo_map.cpp
Due: production

Added the new error register to the miso_map of the ethercat cycle and the imc state object.
  march_hardware/include/march_hardware/imotioncube/imotioncube.h
  march_hardware/include/march_hardware/imotioncube/imotioncube_state.h
  march_hardware/src/imotioncube/imotioncube.cpp
Due: production

Added the new error register to the imc state updater and the imc state check in the HWI
  march_hardware/src/joint.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Added test for the newly created DER2
  march_hardware/test/error/motion_error_test.cpp
Due: test

Apply suggestions from code review roel
  march_hardware/src/error/motion_error.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Update the latest suggestion commit with the clang_format
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Created a general parseError function instead of three separate.
  march_hardware/include/march_hardware/error/motion_error.h
  march_hardware/src/error/motion_error.cpp
  march_hardware/src/imotioncube/imotioncube.cpp
  march_hardware/src/joint.cpp
  march_hardware/test/error/motion_error_test.cpp
Due: production, test

Made ramp down gait which has four fixed steps. The gait is based on the stairs down v9 gait.
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/left_close/MV_RD_slopedown_fixed_leftclose_v1.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/left_swing/MV_RD_slopedown_fixed_leftswing_v1.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/right_open/MV_RD_slopedown_fixed_rightopen_v1.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/right_swing/MV_RD_slopedown_fixed_rightswing_v1.subgait
Due: none

Remove home gaits
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/home_sit/home_sit.gait
  march_gait_files/airgait-v/home_sit/home_sit/MIV_final.subgait
  march_gait_files/airgait-v/home_stand/home_stand.gait
  march_gait_files/airgait-v/home_stand/home_stand/MIV_final.subgait
  march_gait_files/minimal/default.yaml
  march_gait_files/minimal/home_stand/home_stand.gait
  march_gait_files/minimal/home_stand/home_stand/MIV_final.subgait
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/home_sit/home_sit.gait
  march_gait_files/test_versions-v/home_sit/home_sit/MIV_ankle_2.5.subgait
  march_gait_files/test_versions-v/home_stand/home_stand.gait
  march_gait_files/test_versions-v/home_stand/home_stand/MIV_ankle_2.5.subgait
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/home_sit/home_sit.gait
  march_gait_files/training-v/home_sit/home_sit/MIV_final.subgait
  march_gait_files/training-v/home_stand/home_stand.gait
  march_gait_files/training-v/home_stand/home_stand/MIV_final.subgait
Due: none

use switch case statement in the parseError function
  march_hardware/src/error/motion_error.cpp
Due: production

Add idle positions
  march_gait_files/airgait-v/default.yaml
  march_gait_files/minimal/default.yaml
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/training-v/default.yaml
Due: none

Changed the gait format for the slope down fixed manually
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/ramp_door_slope_down_fixed.gait
Due: none

Replace spawner for controller_manger spawn
  march_hardware_interface/launch/hardware.launch
Due: none

Update march_hardware/src/error/motion_error.cpp
  march_hardware/src/error/motion_error.cpp
Due: production

New version of the slope down
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/left_close/MV_RD_slopedown_fixed_leftclose_v2.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/left_swing/MV_RD_slopedown_fixed_leftswing_v2.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/right_open/MV_RD_slopedown_fixed_rightopen_v2.subgait
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/right_swing/MV_RD_slopedown_fixed_rightswing_v2.subgait
Due: none

Changed velocity setpoint
  march_gait_files/test_versions-v/ramp_door_slope_down_fixed/right_open/MV_RD_slopedown_fixed_rightopen_v2.subgait
Due: none

Olav's suggestions; removed unused members and methods, changed some formatiing to two sapces insteead of 4 and changed math.h to cmath
  march_joint_inertia_controller/CMakeLists.txt
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_trajectory_inertia_controller.h
  march_joint_inertia_controller/package.xml
  march_joint_inertia_controller/src/inertia_estimator.cpp
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Apply suggestions from code review
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
Due: none

add parametric to version list
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
Due: production

remove unused methods and members, adjusted underscored public variables and declared override on update, starting and stopping functions in the controller
  march_joint_inertia_controller/include/march_joint_inertia_controller/inertia_estimator.h
  march_joint_inertia_controller/include/march_joint_inertia_controller/joint_inertia_controller.h
  march_joint_inertia_controller/src/inertia_estimator.cpp
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
Due: production

Apply suggestions from code review
  march_joint_inertia_controller/src/inertia_estimator.cpp
  march_joint_inertia_controller/src/joint_inertia_controller.cpp
  march_joint_inertia_controller/src/joint_trajectory_inertia_controller.cpp
Due: production

create parametric subgaits pop up menu
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/parametric_pop_up.py
Due: production

Made slope up gait based on stairs up v15
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/ramp_door_slope_up/left_close/MV_RD_slopeup_leftclose_v4.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v4.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v4.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/right_close/MV_RD_slopeup_rightclose_v4.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v4.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v4.subgait
Due: none

Made slope down single step based on v9 stairs down gait.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/ramp_door_slope_down_single/left_close/MV_RD_slopedownsingle_leftclose_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_single/right_open/MV_RD_slopedownsingle_rightopen_v2.subgait
Due: none

clean code and improve pop up
  march_rqt_gait_selection/src/march_rqt_gait_selection/gait_selection_view.py
  march_rqt_gait_selection/src/march_rqt_gait_selection/parametric_pop_up.py
Due: production

Stairs down v9 default, Ramp down fixed v1+2 to airgait-v
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_close/MV_RD_slopedown_fixed_leftclose_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_close/MV_RD_slopedown_fixed_leftclose_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing/MV_RD_slopedown_fixed_leftswing_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/left_swing/MV_RD_slopedown_fixed_leftswing_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/ramp_door_slope_down_fixed.gait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_open/MV_RD_slopedown_fixed_rightopen_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_open/MV_RD_slopedown_fixed_rightopen_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing/MV_RD_slopedown_fixed_rightswing_v1.subgait
  march_gait_files/airgait-v/ramp_door_slope_down_fixed/right_swing/MV_RD_slopedown_fixed_rightswing_v2.subgait
Due: none
