Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Refactor exceptions a bit
  march_hardware_builder/include/march_hardware_builder/hardware_config_exceptions.h
Due: none

Add checks for URDF inconsistencies
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Change sw_file to string stream object so that it is easier to test in IMotionCube.cpp. Add implementation of rightHandJustify and convertSWFileToS5tringStream functions.
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

stop initializing message each time
  march_imu_manager/src/wireless_master.cpp
Due: production

Add implementation of computechecksum and make adjustments to righthandjustification function
  march_hardware/src/IMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware_builder/src/hardware_builder.cpp
Due: production, test

fix small mistake in usage of stream object vs string object
  march_hardware/src/IMotionCube.cpp
Due: production

Fix: march hardware (#132)
  doc/march_packages/march_hardware.rst
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Add tests
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: test

Add remaining .sw files. change the names of previous .sw files in accordance to joint_names in march.xacro file. Add config folder to be installed in the CMakeLists.txt
  march_hardware_builder/CMakeLists.txt
  march_hardware_builder/config/left_ankle.sw
  march_hardware_builder/config/left_hip_aa.sw
  march_hardware_builder/config/left_hip_fe.sw
  march_hardware_builder/config/left_knee.sw
  march_hardware_builder/config/right_ankle.sw
  march_hardware_builder/config/right_hip_aa.sw
  march_hardware_builder/config/right_hip_fe.sw
  march_hardware_builder/config/right_knee.sw
  march_hardware_builder/config/rotational_joint.sw
Due: none

Merge develop
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
Due: test

Add catching exception from hardware builder
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Order the directory list
  march_hardware_builder/CMakeLists.txt
Due: none

Add custom exceptions to builder
  march_hardware/include/march_hardware/error/error_type.h
  march_hardware/include/march_hardware/error/hardware_exception.h
  march_hardware/src/error/error_type.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_config_exceptions.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

Hardcoded print all IMC that go to fault state
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix typos that make Travis sad
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix typos that still make Travis sad
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Travis was still sad, hope I fixed it now
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Implement iterator
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
Due: production

Replace adding joints from URDF by from robot
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add getting joint by index
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Sort joint names before uploading
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix paragraph about ROS dependency
  doc/march_packages/march_hardware_builder.rst
Due: none

Add hardware builder error codes
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Apply suggestion from LanguageTool
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Update input_device doc
  doc/march_packages/march_input_device.rst
Due: none

Remove outlier filter and recalibration. Logs show that they are not necessary
  march_hardware/src/Joint.cpp
Due: production

Remove tests
  march_hardware/test/TestJoint.cpp
Due: test

Also check for change in motor current
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
Due: production

Update comment
  march_hardware/src/Joint.cpp
Due: production

Added an unknown tag to the gait instruction message to set the state machine back to state UNKNOWN. Also added a button which has a callback to publish this tag.
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Fix clang
  march_hardware/src/Joint.cpp
Due: production

Intermediate changes
  march_hardware/src/IMotionCube.cpp
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Apply suggestions from code review
  doc/using_the_march_exoskeleton/error_codes.rst
Due: none

Add left_knee_bend and single_step v8 and fix ankle angle v7.
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v8.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v8.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v8.subgait
Due: none

Fix alive timer construction
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
Due: production

Rename shutdown_plugin to __del__
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
Due: production

Adjust v4 of starting step.
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v4.subgait
Due: none

Add msg dependencies
  march_rqt_input_device/CMakeLists.txt
  march_rqt_input_device/package.xml
  march_rqt_input_device/plugin.xml
Due: none

Split the widget from plugin
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
  march_rqt_input_device/src/march_rqt_input_device/input_device_plugin.py
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Made the left_single_step (all version) a little bigger.
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v8.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v8.subgait
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
