Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add left_straight_end all versions.
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v8.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v8.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v8.subgait
Due: none

Add left_straight_start all versions.
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v8.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v8.subgait
Due: none

Fix python unicode.
  march_gait_files/test_versions-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v6.subgait
Due: none

Fix python unicode.
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v7.subgait
Due: none

Set the duration of all straight_start right_open longer.
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v7.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v8.subgait
Due: none

Set version 5 default.
  march_gait_files/test_versions-v/default.yaml
Due: none

Added new version of the stairs down single step
  march_gait_files/airgait-v/stairs_down_single_step/left_close/MV_stairsdown_single_leftclose_v3.subgait
  march_gait_files/airgait-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v3.subgait
Due: none

Move new Tilted Path gaits to airgait-v and set verison 5 as default.
  march_gait_files/airgait-v/default.yaml
  march_gait_files/airgait-v/tilted_path_left_flexed_knee_step/tilted_path_left_flexed_knee_step.gait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v8.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v3.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v4.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/left_close/MV_TP_left_singlestep_leftclose_v8.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v3.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_single_step/right_open/MV_TP_left_singlestep_rightopen_v8.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/left_open/MV_TP_left_straightend_leftopen_v8.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v4.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v7.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v8.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v4.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v7.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v8.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v7.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v8.subgait
Due: none

Fix python unicode message.
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v4.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v5.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v6.subgait
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v7.subgait
Due: none

Added fault_state variable and changed error handling
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fixed oopsies
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Change stringstream object tos tring to see if this works better
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

It builds! :D
  march_gazebo_plugins/CMakeLists.txt
  march_gazebo_plugins/include/com_controller_plugin.h
  march_gazebo_plugins/include/obstacle_controller.h
  march_gazebo_plugins/include/walk_controller.h
  march_gazebo_plugins/src/com_controller.cpp
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
Due: production

Add showing possible gaits
  march_rqt_input_device/resource/input_device.ui
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Fix image button style
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Made changes Roel suggested
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add showing label with current gait
  march_rqt_input_device/resource/input_device.ui
  march_rqt_input_device/src/march_rqt_input_device/input_device_controller.py
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Stable version that computes checksum on sw files.
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
Due: production, test

Fix splitting strings on multiple lines
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Initialize fault_state to false
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Split controller and gazebo plugin
  march_gazebo_plugins/CMakeLists.txt
  march_gazebo_plugins/include/obstacle_controller.h
  march_gazebo_plugins/include/stairs_controller.h
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
Due: production

Remove zero torque
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Add computation of the checksum on the imc
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware_builder/config/rotational_joint.sw
Due: production

Merge develop into current
  march_hardware/src/IMotionCube.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Change controller when a different obstacle gait is executed
  march_gazebo_plugins/include/com_controller_plugin.h
  march_gazebo_plugins/include/obstacle_controller.h
  march_gazebo_plugins/include/stairs_controller.h
  march_gazebo_plugins/include/walk_controller.h
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
Due: production

Allow some buttons to be always enabled
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Add refresh button
  march_rqt_input_device/resource/input_device.ui
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Add updating content stylesheet
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Dynamically switch ObstacleControllers and underscore variables
  march_gazebo_plugins/include/com_controller_plugin.h
  march_gazebo_plugins/include/obstacle_controller.h
  march_gazebo_plugins/include/stairs_controller.h
  march_gazebo_plugins/include/walk_controller.h
  march_gazebo_plugins/src/com_controller_plugin.cpp
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
Due: production

Deactivate d after a subgait change
  march_gazebo_plugins/include/obstacle_controller.h
  march_gazebo_plugins/src/obstacle_controller.cpp
  march_gazebo_plugins/src/stairs_controller.cpp
  march_gazebo_plugins/src/walk_controller.cpp
Due: production

Add sphinx to requirements (#137)
  requirements.txt
Due: none

instead of adjusting test functions, other default constructor was added that accepts al arguments except the stringstream
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
Due: production, test

clang
  march_hardware/test/TestIMotionCube.cpp
Due: test

removal of writeinitial settings lines as they were used for testing purposes and aren't necessary for the pull request
  march_hardware/src/IMotionCube.cpp
Due: production

change ifName back to enp2s0
  march_hardware_builder/robots/test_joint_rotational.yaml
Due: none

first commit
  march_hardware/src/IMotionCube.cpp
Due: production

remove print statement in default constructor
  march_hardware/src/IMotionCube.cpp
Due: production

Changed print statement of length of sw file to a ROS_INFO function as it seems more appropriate
  march_hardware/src/IMotionCube.cpp
Due: production

Add small comment that clarifies use of righthanjustifystring function
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
Due: production

clang
  march_hardware_builder/src/hardware_builder.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
