Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Replace obscure smoothing method normal logic (#226)
  march_hardware_interface/CMakeLists.txt
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/package.xml
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Moved all new stairs gaits and stairs single step to training-v.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/stairs_down/left_close/MV_stairsdown_leftclose_v3.subgait
  march_gait_files/training-v/stairs_down/left_close/MV_stairsdown_leftclose_v4.subgait
  march_gait_files/training-v/stairs_down/left_swing/MV_stairsdown_leftswing_v3.subgait
  march_gait_files/training-v/stairs_down/left_swing/MV_stairsdown_leftswing_v4.subgait
  march_gait_files/training-v/stairs_down/right_close/MV_stairsdown_rightclose_v3.subgait
  march_gait_files/training-v/stairs_down/right_close/MV_stairsdown_rightclose_v4.subgait
  march_gait_files/training-v/stairs_down/right_open/MV_stairsdown_rightopen_v3.subgait
  march_gait_files/training-v/stairs_down/right_open/MV_stairsdown_rightopen_v4.subgait
  march_gait_files/training-v/stairs_down/right_swing/MV_stairsdown_rightswing_v3.subgait
  march_gait_files/training-v/stairs_down/right_swing/MV_stairsdown_rightswing_v4.subgait
  march_gait_files/training-v/stairs_down_single_step/left_close/MV_stairsdown_single_leftclose_v1.subgait
  march_gait_files/training-v/stairs_down_single_step/left_close/MV_stairsdown_single_leftclose_v2.subgait
  march_gait_files/training-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v1.subgait
  march_gait_files/training-v/stairs_down_single_step/right_open/MV_stairsdown_single_rightopen_v2.subgait
  march_gait_files/training-v/stairs_down_single_step/stairs_down_single_step.gait
  march_gait_files/training-v/stairs_up/left_close/MV_stairsup_leftclose_v12.subgait
  march_gait_files/training-v/stairs_up/left_close/MV_stairsup_leftclose_v7.subgait
  march_gait_files/training-v/stairs_up/left_close/MV_stairsup_leftclose_v8.subgait
  march_gait_files/training-v/stairs_up/left_close/MV_stairsup_leftclose_v9.subgait
  march_gait_files/training-v/stairs_up/left_swing/MV_stairsup_leftswing_v7.subgait
  march_gait_files/training-v/stairs_up/left_swing/MV_stairsup_leftswing_v8.subgait
  march_gait_files/training-v/stairs_up/left_swing/MV_stairsup_leftswing_v9.subgait
  march_gait_files/training-v/stairs_up/right_close/MV_stairsup_rightclose_v12.subgait
  march_gait_files/training-v/stairs_up/right_close/MV_stairsup_rightclose_v7.subgait
  march_gait_files/training-v/stairs_up/right_close/MV_stairsup_rightclose_v8.subgait
  march_gait_files/training-v/stairs_up/right_close/MV_stairsup_rightclose_v9.subgait
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v7.subgait
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v8.subgait
  march_gait_files/training-v/stairs_up/right_open/MV_stairsup_rightopen_v9.subgait
  march_gait_files/training-v/stairs_up/right_swing/MV_stairsup_rightswing_v7.subgait
  march_gait_files/training-v/stairs_up/right_swing/MV_stairsup_rightswing_v8.subgait
  march_gait_files/training-v/stairs_up/right_swing/MV_stairsup_rightswing_v9.subgait
  march_gait_files/training-v/stairs_up_single_step/left_close/MV_stairsup_single_leftclose_v2.subgait
  march_gait_files/training-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v1.subgait
  march_gait_files/training-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v2.subgait
  march_gait_files/training-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v3.subgait
  march_gait_files/training-v/stairs_up_single_step/stairs_up_single_step.gait
Due: none

Delete two subgaits that are not used.
  march_gait_files/training-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v1.subgait
  march_gait_files/training-v/stairs_up_single_step/right_open/MV_stairsup_single_rightopen_v3.subgait
Due: none

Use absolute encoders on rotational joints.
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: production

Remove debug statements in real time safe loop
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_pdb_state_controller/src/march_pdb_state_controller.cpp
Due: production

Fix encoder reference (#113)
  doc/march_packages/march_hardware.rst
Due: none

Recalibrate test joint (#230)
  march_hardware_builder/robots/test_joint_rotational.yaml
Due: none

Revert "Properly shutdown iMotionCubes"
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

Fix: std moving march robot (#228)
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Make is_operational atomic
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Fix constructing ethercat master
  march_hardware/src/MarchRobot.cpp
Due: production

Use std chrono instead of boost chrono
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Fix comment
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
Due: none

Stop ethercat as soon as IMC faults
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Fix clang 1
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Fix clang 2
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

Warn when cycle time is much lower than expected
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Move update_joint_widgets to gait_generator_view
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_plot.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
Due: production

Apply suggestions from code review
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
Due: none

Revert "Warn when cycle time is much lower than expected"
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Rename time variables
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Rename gait to subgait and write some tests.
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/test/rostests/gait_generator_controller_test
Due: production, test

Fix flake8
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/user_interface_controller.py
Due: production

Renamed Tilted Path steps in test_versions-v.
  march_gait_files/test_versions-v/tilted_path_left_flexed_knee_step/left_close/MV_TP_flexed_knee_step_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_flexed_knee_step/right_open/MV_TP_flexed_knee_step_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_flexed_knee_step/tilted_path_flexed_knee_step.gait
  march_gait_files/test_versions-v/tilted_path_left_single_step/left_close/MV_TP_singlestep_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/right_open/MV_TP_singlestep_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_single_step/tilted_path_single_step.gait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/left_open/MV_TP_straightend_leftopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/right_close/MV_TP_straightend_rightclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/tilted_path_straight_end.gait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_straightstart_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_straightstart_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/tilted_path_straight_start.gait
Due: none

Add v2 of straight start right open again.
  march_gait_files/airgait-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v2.subgait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v2.subgait
  march_gait_files/training-v/tilted_path_left_straight_start/right_open/MV_TP_left_straightstart_rightopen_v2.subgait
Due: none

Change more instances of gait names and add TP right single step.
  march_gait_files/airgait-v/tilted_path_left_flexed_knee_step/tilted_path_left_flexed_knee_step.gait
  march_gait_files/airgait-v/tilted_path_left_single_step/tilted_path_left_single_step.gait
  march_gait_files/airgait-v/tilted_path_left_straight_start/tilted_path_left_straight_start.gait
  march_gait_files/test_versions-v/tilted_path_left_flexed_knee_step/tilted_path_left_flexed_knee_step.gait
  march_gait_files/test_versions-v/tilted_path_left_single_step/tilted_path_left_single_step.gait
  march_gait_files/test_versions-v/tilted_path_left_straight_end/tilted_path_left_straight_end.gait
  march_gait_files/test_versions-v/tilted_path_left_straight_start/tilted_path_left_straight_start.gait
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/tilted_path_right_single_step.gait
  march_gait_files/training-v/tilted_path_left_flexed_knee_step/tilted_path_left_flexed_knee_step.gait
  march_gait_files/training-v/tilted_path_left_single_step/tilted_path_left_single_step.gait
  march_gait_files/training-v/tilted_path_left_straight_end/tilted_path_left_straight_end.gait
  march_gait_files/training-v/tilted_path_left_straight_start/tilted_path_left_straight_start.gait
Due: none

Fixed version name.
  march_gait_files/test_versions-v/tilted_path_right_single_step/left_open/MV_TP_right_singlestep_leftopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_single_step/right_close/MV_TP_right_singlestep_rightclose_v1.subgait
Due: none

Changed the tilted path buttons in IPD, now two rows of straight tilted path gaits (for both orientations of the tilted path)
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Add TP right straight start gait.
  march_gait_files/test_versions-v/tilted_path_left_straight_start/left_close/MV_TP_left_straightstart_leftclose_v2.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/left_open/MV_TP_right_straightstart_leftopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_start/tilted_path_right_straight_start.gait
Due: none

Add TP right straight end gait.
  march_gait_files/test_versions-v/tilted_path_right_straight_end/left_close/MV_TP_right_straightend_leftclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/right_open/MV_TP_right_straightend_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_straight_end/tilted_path_right_straight_end.gait
Due: none

Add TP right flexed knee gaits to test_versions-v folder
  march_gait_files/test_versions-v/tilted_path_right_flexed_knee_step/left_open/MV_TP_right_flexed_knee_step_leftopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_flexed_knee_step/right_close/MV_TP_right_flexed_knee_step_rightclose_v1.subgait
  march_gait_files/test_versions-v/tilted_path_right_flexed_knee_step/tilted_path_right_flexed_knee_step.gait
Due: none

Add TP right gaits to test_versions-v default yaml
  march_gait_files/test_versions-v/default.yaml
Due: none

Fix setpoint velocity.
  march_gait_files/test_versions-v/tilted_path_right_straight_start/right_close/MV_TP_right_straightstart_rightclose_v1.subgait
Due: none

Fix gait version name.
  march_gait_files/airgait-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v1.subgait
Due: none

Fix gait version name.
  march_gait_files/test_versions-v/tilted_path_left_straight_end/right_close/MV_TP_left_straightend_rightclose_v1.subgait
Due: none

new joint limits. (#235)
  march_hardware_builder/robots/march4.yaml
Due: none

Fix 3 bugs
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
