Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Move context.add(widget)
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_plugin.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: production

Fix flake8
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_plugin.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
  march_rqt_gait_generator/test/run_tests.py
Due: production, test

add controller output configuration
  multiplot_configurations/controller_output.xml
Due: none

add temperature plot
  multiplot_configurations/temperature.xml
Due: none

add joint_values plots
  multiplot_configurations/joint_values.xml
Due: none

Add tests for Joint
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/Joint.cpp
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
  march_hardware/test/mocks/MockTemperatureGES.cpp
Due: production, test

add actual descired plot
  multiplot_configurations/actual_desired.xml
Due: none

Only update controllers if ethercat train has returned
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

add multiplot per joint on controller
  multiplot_configurations/controller_per_joint/left_ankle.xml
  multiplot_configurations/controller_per_joint/left_hip_aa.xml
  multiplot_configurations/controller_per_joint/left_hip_fe.xml
  multiplot_configurations/controller_per_joint/left_knee.xml
  multiplot_configurations/controller_per_joint/right_ankle.xml
  multiplot_configurations/controller_per_joint/right_hip_aa.xml
  multiplot_configurations/controller_per_joint/right_hip_fe.xml
  multiplot_configurations/controller_per_joint/right_knee.xml
Due: none

make all plots consistent
  multiplot_configurations/joint_values.xml
  multiplot_configurations/pid_terms.xml
  multiplot_configurations/pid_updates.xml
  multiplot_configurations/temperature.xml
Due: none

make all plots consistent
  multiplot_configurations/controller_output.xml
Due: none

Fix hardware builder and interface
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware_builder/include/march_hardware_builder/hardware_builder.h
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/absolute_encoder_builder_test.cpp
  march_hardware_builder/test/imc_builder_test.cpp
  march_hardware_builder/test/incremental_encoder_builder_test.cpp
  march_hardware_builder/test/joint_builder_test.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Replace range by enumerate
  march_rqt_gait_generator/src/march_rqt_gait_generator/joint_table_controller.py
Due: production

Remove executability of test file
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: test

Implement PR feedback on temperature, controller output and PID update plots
  multiplot_configurations/controller_output.xml
  multiplot_configurations/pid_updates.xml
  multiplot_configurations/temperature.xml
Due: none

Wait for PDO instead of checking for it
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Remove rate.sleep from control loop
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Add tests for joint and imotioncube
  march_hardware/test/TestIMotionCube.cpp
  march_hardware/test/TestJoint.cpp
Due: test

Fix march_rqt_software_check URLs (#123)
  doc/march_packages/march_rqt_software_check.rst
Due: none

Remove arg from launch file and unlock properly
  march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware_interface/launch/hardware.launch
Due: production

Fix oopsie
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Keep velocity constant if a joint received no data
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

new joint limits.
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Copy left_knee_bend to test_versions-v and remove v1 and v2 from training-v.
  march_gait_files/test_versions-v/default.yaml
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v1.subgait
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v2.subgait
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v3.subgait
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v4.subgait
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/tilted_path_left_knee_bend.gait
  march_gait_files/training-v/default.yaml
Due: none

Remove flexed_knee_step, both left and right, from training-v.
  march_gait_files/training-v/default.yaml
  march_gait_files/training-v/tilted_path_left_flexed_knee_step/left_close/MV_TP_left_flexed_knee_step_leftclose_v1.subgait
  march_gait_files/training-v/tilted_path_left_flexed_knee_step/right_open/MV_TP_left_flexed_knee_step_rightopen_v1.subgait
  march_gait_files/training-v/tilted_path_left_flexed_knee_step/tilted_path_left_flexed_knee_step.gait
  march_gait_files/training-v/tilted_path_right_flexed_knee_step/left_open/MV_TP_right_flexed_knee_step_leftopen_v1.subgait
  march_gait_files/training-v/tilted_path_right_flexed_knee_step/right_close/MV_TP_right_flexed_knee_step_rightclose_v1.subgait
  march_gait_files/training-v/tilted_path_right_flexed_knee_step/tilted_path_right_flexed_knee_step.gait
Due: none

Add function for setting thread priority
  march_hardware/CMakeLists.txt
  march_hardware/include/march_hardware/EtherCAT/EthercatMaster.h
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Initialize previous_motor_volt_ to 0.0
  march_hardware/include/march_hardware/Joint.h
Due: none

Update simulation documentation (#122)
  doc/march_packages/march_simulation.rst
Due: none

Add three new versions of left_knee_bend.
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v5.subgait
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v6.subgait
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v7.subgait
Due: none

Fix python unicode.
  march_gait_files/test_versions-v/tilted_path_left_knee_bend/right_open/MV_TP_left_kneebend_rightopen_v6.subgait
Due: none

Fix small suggestions
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
Due: production

Add documentation for march_shared_classes
  doc/march_packages/march_shared_classes.rst
Due: none

Added two new versions of the slope up gait and one new version of the slope down gait.
  march_gait_files/airgait-v/ramp_door_slope_down/left_close/MV_RD_slopedown_leftclose_v5.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/left_open/MV_RD_slopedown_leftopen_v5.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/left_swing/MV_RD_slopedown_leftswing_v5.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/right_close/MV_RD_slopedown_rightclose_v5.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/right_open/MV_RD_slopedown_rightopen_v5.subgait
  march_gait_files/airgait-v/ramp_door_slope_down/right_swing/MV_RD_slopedown_rightswing_v5.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/left_open/MV_RD_slopeup_leftopen_v3.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/left_swing/MV_RD_slopeup_leftswing_v3.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/right_open/MV_RD_slopeup_rightopen_v3.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v2.subgait
  march_gait_files/airgait-v/ramp_door_slope_up/right_swing/MV_RD_slopeup_rightswing_v3.subgait
Due: none

Update state machine doc
  doc/march_packages/images/march_state_machine.png
  doc/march_packages/march_state_machine.rst
Due: none

Add documentation on launching smach_viewer
  doc/march_packages/march_state_machine.rst
Due: none

Add state machine ROS API docs
  doc/march_packages/march_state_machine.rst
Due: none

add march_imu_manager to documentation
  doc/march_packages/march_imu_manager.rst
  index.rst
Due: none

Improve formatting and language
  doc/march_packages/march_imu_manager.rst
Due: none

fixed naming inconsistency.
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
