Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

fix unnesessary print statements
  march_hardware/src/MarchRobot.cpp
Due: production

Update march_hardware/src/EtherCAT/EthercatMaster.cpp
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Different leves of logging based on checksum verification and slight shortcut in returnvalue due to int being and upgraded boolean we can cast a boolean to int autoamtically
  march_hardware/src/IMotionCube.cpp
Due: production

Enable mirroring when gaits do not fully match
  march_rqt_gait_generator/src/march_rqt_gait_generator/model/modifiable_subgait.py
Due: production

Fix language errors
  doc/using_the_march_exoskeleton/using_the_gait_generator.rst
Due: none

Add link and fix comma
  doc/march_packages/march_simulation.rst
Due: none

Fix tilted path bug
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Remove const iterator
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
Due: production

Fix build
  .travis.yml
Due: none

Added button in IPD for the balanced walk gait
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

implement conversion from fixed point to float
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/IMotionCubeState.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/encoder/Encoder.cpp
Due: production

remove accidental changes
  march_imu_manager/src/wireless_master.cpp
Due: production

Remove oop around MarchRobot initialization. Make verifySetup return a boolean. Make failing to write the setup a ROS_FATAL type message.
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/MarchRobot.cpp
Due: production

Update march_hardware/src/IMotionCube.cpp
  march_hardware/src/IMotionCube.cpp
Due: production

check for non-zero effort on start-up
  march_hardware_interface/include/march_hardware_interface/march_hardware_interface.h
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

change docstrings to be more informative
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/IMotionCube.cpp
Due: production

clang
  march_hardware/src/IMotionCube.cpp
Due: production

fix incorrect naming 2
  march_hardware_builder/src/hardware_builder.cpp
  march_hardware_builder/test/yaml/powerdistributionboard/power_distribution_board.yaml
  march_hardware_builder/test/yaml/powerdistributionboard/power_distribution_board_missing_high_voltage_state_index.yaml
  march_hardware_builder/test/yaml/powerdistributionboard/power_distribution_board_missing_slave_index.yaml
  march_hardware_builder/test/yaml/powerdistributionboard/power_distribution_board_negative_offset.yaml
Due: production, test

Undo accidental commit
  march_imu_manager/src/wireless_master.cpp
Due: production

fix clang tab
  march_imu_manager/src/wireless_master.cpp
Due: production

Update .travis.yml
  .travis.yml
Due: none

create conversion constant
  march_hardware/include/march_hardware/encoder/Encoder.h
  march_hardware/src/encoder/Encoder.cpp
Due: production

Created a new catkin package for the robot monitor related files.
  march_rqt_robot_monitor/CMakeLists.txt
  march_rqt_robot_monitor/launch/march_rqt_robot_monitor.launch
  march_rqt_robot_monitor/package.xml
  march_rqt_robot_monitor/setup.py
Due: none

Created two analysers, one for the temperature measurements and the other for monitoring the frequency of a topic.
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/__init__.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/temperature.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/diagnostic_analyzers/topic_frequency.py
Due: production

Added the general updater with contains the temperature and the IPD check. Also created a script which is launched when the robot monitor is launched to make sure the updater is alive.
  march_rqt_robot_monitor/resource/analyzers.yaml
  march_rqt_robot_monitor/scripts/march_rqt_robot_monitor_node
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/__init__.py
  march_rqt_robot_monitor/src/march_rqt_robot_monitor/updater.py
Due: production

replace ROS_FATAL by runtime error
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

fix clang and comment
  march_hardware/include/march_hardware/encoder/Encoder.h
Due: none

Fixed package dependencies.
  march_rqt_robot_monitor/CMakeLists.txt
  march_rqt_robot_monitor/package.xml
Due: none

Add sdo interface
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
  march_hardware/include/march_hardware/EtherCAT/sdo_interface.h
  march_hardware/src/EtherCAT/EthercatSDO.cpp
  march_hardware/src/EtherCAT/sdo_interface.cpp
Due: production

Add pdo interface
  march_hardware/include/march_hardware/EtherCAT/EthercatIO.h
  march_hardware/include/march_hardware/EtherCAT/pdo_interface.h
  march_hardware/include/march_hardware/EtherCAT/pdo_types.h
  march_hardware/src/EtherCAT/pdo_interface.cpp
Due: production

Add interfaces to Slave
  march_hardware/include/march_hardware/EtherCAT/pdo_types.h
  march_hardware/include/march_hardware/EtherCAT/slave.h
  march_hardware/include/march_hardware/Slave.h
  march_hardware/src/EtherCAT/EthercatIO.cpp
Due: production

Fix cmake
  march_hardware/CMakeLists.txt
  march_hardware/src/EtherCAT/EthercatMaster.cpp
Due: production

Fix URL
  doc/useful_tools/event_stream_processing.rst
Due: none

Fix url
  doc/march_packages/march_data_collector.rst
Due: none

Adjust docstrings
  march_hardware/include/march_hardware/IMotionCube.h
Due: none

Use SdoInterface in PDOMap
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/src/PDOmap.cpp
Due: production

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
