Repository project-march/ProjectMarch: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

Add ctrl+z and fix undo for duration and table changes
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_controller.py
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
  march_rqt_gait_generator/test/nosetests/gait_generator_controller_test.py
Due: production, test

Fix built and add shared classes to index
  doc/march_packages/march_shared_classes.rst
  index.rst
Due: none

Add of read functions and adaptation of PDOmap.cpp so it uses the new specified functions.
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
  march_hardware/src/EtherCAT/EthercatSDO.cpp
  march_hardware/src/PDOmap.cpp
Due: production

Add changes to use new function sdo_bitx_write
  march_hardware/src/IMotionCube.cpp
Due: production

fixed naming inconsistency of imc's.
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
Due: production

Fix build #2
  doc/march_packages/march_shared_classes.rst
Due: none

Added object 2066h as motor voltage to PDO mapping. Changed wrong MotorVoltage naming to IMCVoltage naming.
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/include/march_hardware/IMotionCubeState.h
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/src/PDOmap.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production

clang format
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
  march_hardware/src/EtherCAT/EthercatSDO.cpp
Due: production

Update doc/march_packages/march_imu_manager.rst
  doc/march_packages/march_imu_manager.rst
Due: none

add small test to see if the SDO read functions work.
  march_hardware/src/IMotionCube.cpp
Due: production

Fix merge conflicts
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/IMotionCube.cpp
  march_hardware/src/Joint.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware_interface/src/march_hardware_interface.cpp
Due: production, test

Fix dumbdumb mistakes
  march_hardware/src/IMotionCube.cpp
Due: production

Fixed naming oopsie
  march_hardware/src/Joint.cpp
Due: production

fix more dumbdumb mistakes
  march_hardware/include/march_hardware/EtherCAT/EthercatSDO.h
  march_hardware/src/IMotionCube.cpp
Due: production

Changed wrong MotorVoltage naming to IMCVoltage naming.
  march_hardware/src/IMotionCube.cpp
Due: production

Updated the code to a more consistant and sustainable structure.
  march_hardware/include/march_hardware/MarchRobot.h
  march_hardware/src/MarchRobot.cpp
  march_hardware_interface/launch/hardware.launch
  march_hardware_interface/src/march_hardware_interface.cpp
  march_hardware_interface/src/march_hardware_interface_node.cpp
Due: production

Fix launching in high level overview (PM-360)
  doc/using_the_march_exoskeleton/high_level_overview.rst
Due: none

Add input device doc in high level overview (PM-361)
  doc/using_the_march_exoskeleton/high_level_overview.rst
Due: none

Changed wrong MotorVoltage naming to IMCVoltage naming in Joint.cpp and Joint.h
  march_hardware/include/march_hardware/Joint.h
  march_hardware/src/Joint.cpp
Due: production

First draft of march_data_collector.rst
  doc/march_packages/march_data_collector.rst
  index.rst
Due: none

Write some tests for Joint
  march_hardware/include/march_hardware/IMotionCube.h
  march_hardware/src/Joint.cpp
  march_hardware/test/TestJoint.cpp
  march_hardware/test/mocks/MockIMotionCube.cpp
Due: production, test

Reverts addition of the object 2066h to the PDO Mapping
  march_hardware/include/march_hardware/PDOmap.h
  march_hardware/src/PDOmap.cpp
Due: production

revert the test because it has succeeded
  march_hardware/src/IMotionCube.cpp
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_interface/config/test_joint_rotational/controllers.yaml
Due: production

revert the test because it has succeeded
  march_hardware/src/IMotionCube.cpp
Due: production

Fix naming
  march_hardware/src/Joint.cpp
Due: production

Add image of Rough Terrain high step.
  march_rqt_input_device/resource/img/gait_rough_terrain_high_step.png
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Revert test joint yamls to position mode
  march_hardware_builder/robots/test_joint_rotational.yaml
  march_hardware_interface/config/test_joint_rotational/controllers.yaml
Due: none

Revert ifName
  march_hardware_builder/robots/test_joint_rotational.yaml
Due: none

Update march_hardware/src/IMotionCube.cpp
  march_hardware/src/IMotionCube.cpp
Due: production

Fix image of Rough Terrain high step.
  march_rqt_input_device/resource/img/gait_rough_terrain_high_step.png
Due: none

fix styling and small modifications
  doc/march_packages/march_data_collector.rst
Due: none

Added and replaced images until single step normal.
  march_rqt_input_device/resource/img/continue.png
  march_rqt_input_device/resource/img/gait_single_step_medium.png
  march_rqt_input_device/resource/img/gait_single_step_normal.png
  march_rqt_input_device/resource/img/gait_single_step_small.png
  march_rqt_input_device/resource/img/gait_sit.png
  march_rqt_input_device/resource/img/gait_walk.png
  march_rqt_input_device/resource/img/gait_walk_large.png
  march_rqt_input_device/resource/img/gait_walk_normal.png
  march_rqt_input_device/resource/img/gait_walk_small.png
  march_rqt_input_device/resource/img/home_sit.png
  march_rqt_input_device/resource/img/home_stand.png
  march_rqt_input_device/resource/img/pause.png
  march_rqt_input_device/resource/img/rocker_switch_down.png
  march_rqt_input_device/resource/img/rocker_switch_up.png
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Added and replaced images stairs and stairs_single_step.
  march_rqt_input_device/resource/img/gait_stairs_down.png
  march_rqt_input_device/resource/img/gait_stairs_down_single_step.png
  march_rqt_input_device/resource/img/gait_stairs_up.png
  march_rqt_input_device/resource/img/gait_stairs_up_single_step.png
  march_rqt_input_device/src/march_rqt_input_device/input_device_view.py
Due: production

Deleted images stairs_down_final_step and off, as they are not used.
  march_rqt_input_device/resource/img/gait_stairs_down_final_step.png
  march_rqt_input_device/resource/img/off.png
Due: none

Add documentation on tf2
  doc/useful_ros_tools/robot_model.rst
Due: none

Add documentation on tf2 and simulation and link to multiplot configurations
  doc/march_packages/march_data_collector.rst
  doc/useful_ros_tools/robot_model.rst
  doc/using_the_march_exoskeleton/how_to_view_live_data.rst
Due: none

More tests for Joint::readEncoders
  march_hardware/test/TestJoint.cpp
Due: test

Remove unused argument
  march_rqt_gait_generator/src/march_rqt_gait_generator/gait_generator_view.py
Due: production

oopsieX
  doc/march_packages/march_data_collector.rst
Due: none

Path conditions:
  production: any of: */src/**/*, */src/*
  test: any of: */test/**/*, */test/*
